@page
@model IndexModel
@{
	ViewData.SetTitle("Permission List");
	var toc = Model.Permissions
		.OrderBy(m => m.Group)
		.ThenBy(m => m.Id)
		.Select(m => (m.Name, m.Group))
		.GroupBy(m => m.Group);
}

<p>These are a list of site permissions that are allocated to site roles</p>

<div class="card mb-2">
	<card-body>
		@foreach (var entry in toc)
		{
			<ul>
				<li>
					@entry.Key
					<ul>
						@foreach (var item in entry)
						{
							<li>
								<a href="#@item.Name">@item.Name.SplitCamelCase()</a>
							</li>
						}
					</ul>
				</li>
			</ul>
		}
	</card-body>
</div>

<standard-table>
	<table-head columns="Permission,Group,Roles,Description"></table-head>
	@foreach (var entry in Model.Permissions.OrderBy(m => m.Group).ThenBy(m => m.Id))
	{
		<tr>
			<td id="@entry.Name" nowrap>@entry.Name.SplitCamelCase()</td>
			<td nowrap>@entry.Group</td>
			<td nowrap>
				<ul>
					@foreach(var role in entry.Roles.OrderBy(r => r))
					{
						<li><a asp-page="/Roles/Index" asp-route-role="@role.Replace(" ", "")">@role</a></li>
					}
				</ul>
			</td>
			<td>@entry.Description</td>
		</tr>
	}
</standard-table>
