@page
@model TASVideos.Pages.Permissions.IndexModel
@{
	ViewData["Title"] = "Permission List";
}

<h4>@ViewData["Title"]</h4>
<p>These are a list of site permissions that are allocated to site roles</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>@Html.DisplayNameFor(m => m.Model.First().Name)</th>
		<th>@Html.DisplayNameFor(m => m.Model.First().Group)</th>
		<th>@Html.DisplayNameFor(m => m.Model.First().Roles)</th>
		<th>@Html.DisplayNameFor(m => m.Model.First().Description)</th>
	</tr>
	@foreach (var entry in Model.Model.OrderBy(m => m.Id))
	{
		<tr>
			<td nowrap>@entry.Name</td>
			<td nowrap>@entry.Group</td>
			<td nowrap>@Html.Raw(string.Join(",<br>", entry.Roles.OrderBy(r => r)))</td>
			<td>@entry.Description</td>
		</tr>
	}
</table>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
