@page "{id}"
@model EditModel
@{
	var lastLoggedIn = Model.UserToEdit.UserLastLoggedIn ?? DateTime.UtcNow;
	ViewData.SetTitle($"Editing User: {Model.UserToEdit.UserName}");
}

<top-button-bar>
	<a condition="User.Has(PermissionTo.SeeEmails) && User.Has(PermissionTo.EditUsers)"
	   asp-page="Nuke"
	   asp-route-id="@Model.Id"
	   class="btn btn-danger"><i class="fa fa-trash-can"></i> Anonymize User</a>
</top-button-bar>

<form asp-route="Edit">
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="UserToEdit.AccountCreatedOn"></label>
				<div><timezone-convert asp-for="@Model.UserToEdit.AccountCreatedOn"/></div>
			</fieldset>
			<fieldset condition="Model.UserToEdit.LockedStatus">
				<label asp-for="UserToEdit.LockedStatus"></label>
				<div>
					<label class="text-danger"><span class="fa fa-exclamation-triangle"></span> This user is currently locked out</label>
					<a class="btn btn-secondary" asp-page="Edit" asp-page-handler="Unlock" asp-route-returnurl="@HttpContext.CurrentPathToReturnUrl()" asp-route-id="@Model.Id">Unlock</a>
				</div>
			</fieldset>
			<fieldset condition="!Model.UserToEdit.LockedStatus">
				<label asp-for="UserToEdit.LockedStatus"></label>
				<div>
					<span class="fa fa-check-square text-success"></span> Not locked
				</div>
			</fieldset>
		</column>
		<column md="6">
			<fieldset>
				<label asp-for="UserToEdit.UserLastLoggedIn"></label>
				<label condition="Model.UserToEdit.UserLastLoggedIn.HasValue"><timezone-convert asp-for="@lastLoggedIn" date-only="true" /></label>
				<label condition="!Model.UserToEdit.UserLastLoggedIn.HasValue">Never</label>
			</fieldset>
			<fieldset>
				<input type="checkbox" class="forum-check-input" asp-for="UserToEdit.UseRatings" />
				<label class="form-check-label" asp-for="UserToEdit.UseRatings"></label>
				<br />
				(If unchecked, the user's publication ratings will not be used when calculating average rating)
			</fieldset>
		</column>
	</row>
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="UserToEdit.UserName"></label>
				@if (User.Has(PermissionTo.EditUsersUserName))
				{
					<input asp-for="UserToEdit.OriginalUserName" data-id="original-username" type="hidden"/>
					<row>
						<div id="user-name-div" class="col-sm-12">
							<div class="input-group">
								<input asp-for="UserToEdit.UserName" data-id="username" autocomplete="off"/>
								<div class="input-group-text" aria-hidden="true">
									<span id="user-name-status" class="fa fa-check-square text-success"></span>
								</div>
							</div>
							<span id="username-exists-message" class="d-none text-danger">Username already exists</span>
						</div>
						<div>
							<button id="check-username" type="button" class="btn btn-secondary d-none">Check</button>
						</div>
						<span asp-validation-for="UserToEdit.UserName"></span>
					</row>
				}
				else
				{
					<div>
						<label>@Model.UserToEdit.UserName</label>
						<input type="hidden" data-id="username" asp-for="UserToEdit.UserName" />
					</div>
				}
			</fieldset>
			<fieldset>
				<label asp-for="UserToEdit.Location"></label>
				<input asp-for="UserToEdit.Location" />
				<span asp-validation-for="UserToEdit.Location"></span>
			</fieldset>
		</column>
		<column md="6">
			<fieldset>
				<label asp-for="UserToEdit.TimeZone"></label>
				<timezone-picker asp-for="UserToEdit.TimeZone" />
			</fieldset>
			<fieldset permission="SeeEmails">
				<label asp-for="UserToEdit.Email"></label>
				<div class="input-group">
					<label class="form-control">@Model.UserToEdit.Email</label>
					<span class="input-group-text" aria-hidden="true">
						<i condition="Model.UserToEdit.EmailConfirmed" class="fa fa-check-square text-success"></i>
						<i condition="!Model.UserToEdit.EmailConfirmed" class="fa fa-question text-warning" title="Email not confirmed"></i>
					</span>
				</div>
				<a asp-page="EditEmail" asp-route-id="@Model.Id" class="btn btn-danger mt-2">Edit</a>
				<label>(also allows manually setting the email confirmed value)</label>
			</fieldset>
		</column>
	</row>
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="UserToEdit.BannedUntil">Banned Until</label>
				<input asp-for="UserToEdit.BannedUntil" />
			</fieldset>
		</column>
	</row>
	<full-row>
		<label asp-for="UserToEdit.ModeratorComments"></label>
		<textarea asp-for="UserToEdit.ModeratorComments" class="form-control" rows="5"></textarea>
	</full-row>
	<hr />
	<label asp-for="UserToEdit.SelectedRoles"></label>
	<select asp-for="UserToEdit.SelectedRoles" multiselect="true" asp-items="Model.AvailableRoles"></select>
	@await Html.RenderWiki(SystemWiki.UserEditRole)
	<row>
		<column md="6">
			<label asp-for="UserToEdit.Avatar"></label>
			<input asp-for="UserToEdit.Avatar" />
		</column>
		<column md="6" show="!string.IsNullOrWhiteSpace(Model.UserToEdit.Avatar)">
			<label>Preview</label><br />
			<img id="avatar-img" src="@Model.UserToEdit.Avatar" class="float-start m-2"/>
		</column>
	</row>
	<row>
		<column md="6">
			<label asp-for="UserToEdit.MoodAvatar"></label>
			<input asp-for="UserToEdit.MoodAvatar" />
		</column>
	</row>
	<hr />
	<fullrow>
		<label asp-for="UserToEdit.Signature"></label>
		<textarea asp-for="UserToEdit.Signature" rows="5"></textarea>
	</fullrow>
	<form-button-bar>
		<submit-button id="submit-btn"></submit-button>
		<cancel-link asp-page="List"></cancel-link>
	</form-button-bar>
</form>

@section Scripts {
	<script src="/js/user-edit.js"></script>
}