@page "{handler?}"
@model ListModel
@{
	ViewData.SetTitle("User List");
}
<top-button-bar>
	<form asp-page="/Users/Profile" method="GET" id="search-form">
		<div class="input-group">
			<label class="input-group-text" for="search-username-box">Search: </label>
			<input id="search-username-box" user-search="true" name="name" required="required" class="form-control" placeholder="Enter a UserName" autofocus="autofocus"/>
			<submit-button id="go-button" disabled="disabled">Go</submit-button>
		</div>
	</form>
</top-button-bar>
<partial name="_Pager" model="Model.Users" />
<standard-table>
	<sortable-table-head sorting="@Model.Search" model-type="typeof(ListModel.UserEntry)" action-column-name="Actions" />
	@foreach (var user in Model.Users)
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.UserName</td>
			<td>@string.Join(",", user.Roles)</td>
			<td><timezone-convert asp-for="@user.Created" /></td>
			<td-action-column>
				<profile-link username="@user.UserName" class="btn btn-secondary btn-sm">
					<i class="fa fa-eye"></i> View
				</profile-link>
				<edit-link permission="EditUsers" asp-page="Edit" asp-route-id="@user.Id" class="btn-sm"></edit-link>
			</td-action-column>
		</tr>
	}
</standard-table>
<partial name="_Pager" model="Model.Users" />