@page "{handler?}"
@model ListModel
@{
	ViewData["Title"] = "User List";
}
<div class="row justify-content-end">
	<div class="col-auto">
		<partial name="_UserSearch" />
	</div>
</div>
<hr>
<partial name="_Pager" model="Model.Users" />
<table class="table table-bordered table-striped">
	<sortable-table-head sorting="@Model.Search" model-type="typeof(TASVideos.Pages.Users.Models.UserListModel)" />
	@foreach (var user in Model.Users)
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.UserName</td>
			<td>@string.Join(",", user.Roles)</td>
			<td><timezone-convert asp-for="@user.CreateTimestamp" /></td>
			<td>
				<profile-link username="@user.UserName"
							  class="btn btn-secondary">
					<i class="fa fa-eye"></i> View
				</profile-link>
				<a permission="EditUsers"
				   asp-page="Edit"
				   asp-route-id="@user.Id"
				   class="btn btn-primary border border-warning">
					<i class="fa fa-pencil"></i> Edit
				</a>
			</td>
		</tr>
	}
</table>