@model SubmissionCatalogModel
@{
	ViewData["Title"] = $"Set Catalogging Information for Submission #{Model.Id}";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible" role="alert"></div>
<form asp-action="Catalog">
	<row>
		<div class="col-md-6">
			<form-group>
				<label asp-for="SystemId"></label>
				<select asp-for="SystemId" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableSystems)" class="form-control"></select>
			</form-group>
			<form-group>
				<label asp-for="SystemFrameRateId"></label>
				<select asp-for="SystemFrameRateId" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableSystemFrameRates)" class="form-control"></select>
			</form-group>
		</div>
		<div class="col-md-6">
			<form-group>
				<row>
					<div class="col-sm-12">
						<label asp-for="GameId"></label>
					</div>
				</row>
				<row>
					<div class="col-sm-10">
						<select asp-for="GameId" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableGames)" class="form-control"></select>
					</div>
					<div class="col-sm-2">
						<a asp-controller="Catalog" asp-action="GameEdit" class="btn btn-primary">New</a>
					</div>
				</row>
			</form-group>
			<form-group>
				<row>
					<div class="col-sm-12">
						<label asp-for="RomId"></label>
					</div>
				</row>
				<row>
					<div class="col-sm-10">
						<select asp-for="RomId" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableRoms)" class="form-control"></select>
					</div>
					<div class="col-sm-2">
						<button disable="!Model.GameId.HasValue" id="create-rom" type="button" class="btn btn-primary" )>New</button>
					</div>
				</row>
			</form-group>
		</div>
	</row>
	<hr/>
	<row>
		<div class="text-center">
			<button id="submit-btn" type="submit" class="btn btn-primary">Update</button>
			<a class="btn btn-secondary" asp-action="View" asp-route-id="@Model.Id">Cancel</a>
		</div>
	</row>
</form>
<hr />
<row id="preview-container" class="hide">
	<label>Preview:</label><br />
	<div id="preview-contents" style="border: solid; padding: 5px; border-radius: 5px">

	</div>
</row>
@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
	(function () {
		var systemModel = document.getElementById('@nameof(Model.SystemId)');
		var frameRateModel = document.getElementById('@nameof(Model.SystemFrameRateId)');
		var gameModel = document.getElementById('@nameof(Model.GameId)');
		var romModel = document.getElementById('@nameof(Model.RomId)');
		var createRomBtn = document.getElementById('create-rom');

		systemModel.onchange = function() {
			if (this.value) {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState === XMLHttpRequest.DONE) {
						if (xmlhttp.status === 200) {
							gameModel.innerHTML = xmlhttp.responseText;
						}
					}
				};

				xmlhttp.open("GET", "/Catalog/@(nameof(CatalogController.GameDropDownForSystem))?includeEmpty=true&systemId=" + systemModel.value, true);
				xmlhttp.send();

				var xmlhttp2 = new XMLHttpRequest();
				xmlhttp2.onreadystatechange = function() {
					if (xmlhttp2.readyState === XMLHttpRequest.DONE) {
						if (xmlhttp2.status === 200) {
							frameRateModel.innerHTML = xmlhttp2.responseText;
						}
					}
				};

				xmlhttp2.open("GET", "/Catalog/@(nameof(CatalogController.FrameRateDropDownForSystem))?includeEmpty=true&systemId=" + systemModel.value, true);
				xmlhttp2.send();
			} else {
				document.querySelectorAll('#@nameof(Model.GameId) option')
					.toArray()
					.forEach(function (elem) {
						if (elem.value) {
							elem.remove();
						}
					});

				document.querySelectorAll('#@nameof(Model.SystemFrameRateId) option')
					.toArray()
					.forEach(function (elem) {
						if (elem.value) {
							elem.remove();
						}
					});
			}

			document.querySelectorAll('#@nameof(Model.RomId) option')
					.toArray()
					.forEach(function (elem) {
						if (elem.value) {
							elem.remove();
						}
					});
		}

		gameModel.onchange = function () {
			if (this.value) {
				createRomBtn.removeAttribute('disabled');

				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState === XMLHttpRequest.DONE) {
						if (xmlhttp.status === 200) {
							romModel.innerHTML = xmlhttp.responseText;
						}
					}
				};

				xmlhttp.open("GET", "/Catalog/@(nameof(CatalogController.RomDropDownForGame))?includeEmpty=true&gameId=" + gameModel.value, true);
				xmlhttp.send();
			} else {
				createRomBtn.setAttribute('disabled', 'disabled');
				document.querySelectorAll('#@nameof(Model.RomId) option')
					.toArray()
					.forEach(function (elem) {
						if (elem.value) {
							elem.remove();
						}
					});
			}
		}

		document.getElementById('create-rom').onclick = function () {
			var baseUrl = '@Url.Action(nameof(CatalogController.RomEdit), "Catalog")';
			var gameId = document.getElementById('@nameof(Model.GameId)').value;
			document.location = baseUrl + '?gameId=' + gameId;
		}
	})()
</script>