@model SubmissionEditModel
@{
	ViewData["Title"] = $"Edit Submission #{Model.Id}";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible" role="alert"></div>
<form asp-action="Edit" enctype="multipart/form-data">
	<input condition="@Model.AvailableStatuses.Count() <= 1" type="hidden" asp-for="Status" />
	<row condition="@Model.AvailableStatuses.Count() > 1">
		<div class="col-lg-6">
			<form-group>
				<label asp-for="Status" class="form-control-label"></label>
				<select class="form-control" asp-for="Status" asp-items="@Model.AvailableStatuses.Select(s => new SelectListItem { Text = s.EnumDisplayName(), Value = ((int)s).ToString(), Selected = s == Model.Status })"></select>
			</form-group>
		</div>
		<div condition="@ViewData.UserHasPermission(PermissionTo.ReplaceSubmissionMovieFile)" class="col-lg-6">
			<form-group>
				<label asp-for="MovieFile" class="form-control-label"></label>
				<input type="file" asp-for="MovieFile" class="form-control" />
				<div>@Html.DescriptionFor(m => m.MovieFile)</div>
				<span asp-validation-for="MovieFile" class="text-danger"></span>
			</form-group>
		</div>
	</row>
	<row condition="@ViewData.UserHasPermission(PermissionTo.JudgeSubmissions)">
		<div class="col-lg-6">
			<form-group>
				<label asp-for="TierId" class="form-control-label"></label>
				<select asp-for="TierId" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableTiers)" class="form-control"></select>
				<span asp-validation-for="TierId" class="text-danger"></span>
			</form-group>
		</div>
	</row>
	<row>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="Authors" class="form-control-label"></label>
				<string-list asp-for="Authors" />
				<span asp-validation-for="Authors" class="text-danger"></span>
			</form-group>
		</div>
		<div class="col-lg-6">
			<form-group>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" asp-for="MinorEdit" />
					<label asp-for="MinorEdit" class="form-check-label"></label>
				</div>
				<label asp-for="RevisionMessage" class="form-control-label"></label>
				<input asp-for="RevisionMessage" class="form-control" />
				<span asp-validation-for="RevisionMessage" class="text-danger"></span>
			</form-group>
		</div>
	</row>
	<row>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="GameVersion" class="form-control-label"></label>
				<select asp-for="GameVersion" asp-items="@Model.GameVersionOptions" class="form-control"></select>
				<span asp-validation-for="GameVersion" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="GameName" class="form-control-label"></label>
				<input asp-for="GameName" class="form-control" placeholder="@Html.DescriptionFor(m => m.GameName)" />
				<span asp-validation-for="GameName" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Emulator" class="form-control-label"></label>
				<input asp-for="Emulator" spellcheck="false" class="form-control" placeholder="@Html.DescriptionFor(m => m.Emulator)" />
				<span asp-validation-for="Emulator" class="text-danger"></span>
			</form-group>
		</div>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="Branch" class="form-control-label"></label>
				<input asp-for="Branch" class="form-control" placeholder="@Html.DescriptionFor(m => m.Branch)" />
				<span asp-validation-for="Branch" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="RomName" class="form-control-label"></label>
				<input asp-for="RomName" class="form-control" placeholder="@Html.DescriptionFor(m => m.RomName)" />
				<span asp-validation-for="RomName" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="EncodeEmbedLink" class="form-control-label"></label>
				<input asp-for="EncodeEmbedLink" class="form-control" placeholder="@Html.DescriptionFor(m => m.EncodeEmbedLink)" />
				<span asp-validation-for="EncodeEmbedLink" class="text-danger"></span>
			</form-group>
		</div>
	</row>
	<row>
		<div class="col-12">
			<form-group>
				<label asp-for="Markup" class="form-control-label"></label>
				<textarea asp-for="Markup" rows="12" class="form-control"></textarea>
				<span asp-validation-for="Markup" class="text-danger"></span>
			</form-group>
		</div>
	</row>
	<hr />
	<row>
		<div class="col-12 text-center">
			<button id="preview-btn" type="button" class="btn btn-secondary">Preview</button>
			<button id="submit-btn" type="submit" class="btn btn-primary @(Model.Markup?.Length > 0 ? "" : "hide")">Update</button>
			<a class="btn btn-secondary" asp-action="View" asp-route-id="@Model.Id">Cancel</a>
		</div>
	</row>
</form>
<div id="preview-container" class="d-none">
	<hr />
	<div class="card">
		<div class="card-header">Preview:</div>
		<div id="preview-contents" class="card-body">

		</div>
	</div>
</div>
@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
	(function () {
		document.getElementById('preview-btn').onclick = function() {
			var markup = document.getElementById('@nameof(Model.Markup)').value;
			if (markup) {
				document.getElementById('preview-container').classList.remove('d-none');
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState === XMLHttpRequest.DONE) {
						if (xmlhttp.status === 200) {
							document.getElementById('preview-contents').innerHTML = xmlhttp.responseText;
						} else {
							alert("Could not generate preview");
						}

						document.getElementById('submit-btn').classList.remove('d-none');
					}
				};

				xmlhttp.open("POST", "/Wiki/@(nameof(WikiController.GeneratePreview))");
				xmlhttp.send(markup);
			}
		}
	})()
</script>