@model IEnumerable<SubmissionListViewModel>
@{
	ViewData["Title"] = "Submissions";
}

@await Component.InvokeAsync(typeof(RenderWikiPage), new { url = "System/SubmissionHeader" })

@if (ViewData.UserHasPermission(PermissionTo.SubmitMovies))
{
	<div class="mb-2">
		<a class="btn btn-primary" asp-action="Submit">Submit a Movie</a>
		<a asp-action="List" asp-route-user="@User.Identity.Name" class="btn btn-secondary">My Submissions</a>
	</div>
}

<label class="pull-right">Total: @Model.Count()</label>
<table class="table table-striped table-bordered">
	<tr>
		<th>@Html.DisplayNameFor(m => m.First().Title)</th>
		<th>@Html.DisplayNameFor(m => m.First().Author)</th>
		<th>@Html.DisplayNameFor(m => m.First().Submitted)</th>
		<th>@Html.DisplayNameFor(m => m.First().Status)</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td><a href="/@(item.Id)S">@item.Title</a></td>
			<td>@item.Author</td>
			<td>@item.Submitted</td>
			<td>@item.Status</td>
		</tr>
	}
</table>