@model SubmissionViewModel
@{
	ViewData["Title"] = $"Submission #{Model.Id}";
	bool hasEncode = !string.IsNullOrWhiteSpace(Model.EncodeEmbedLink);
}
@section PageTitle {
	<h1>@($"Submission {Model.Title}")</h1>
}

@functions{
	string StatusColor(SubmissionStatus status)
	{
		switch (status)
		{
			default:
				return "text-info";
			case SubmissionStatus.Published:
				return "text-success";
			case SubmissionStatus.Rejected:
				return "text-danger";
			case SubmissionStatus.NeedsMoreInfo:
			case SubmissionStatus.Delayed:
				return "text-warning";
		}
	}
}

<row>
	<div class="col-md-6" condition="hasEncode">
		<iframe type="text/html" style="width:450px;height:370px;margin:0;" src="//@Model.EncodeEmbedLink" allowfullscreen="true"></iframe>
	</div>
	<div class="col-md-@(hasEncode ? 6 : 12)">
		<div class="text-right @(StatusColor(Model.Status))">
			<h4>
				<label asp-for="Status"></label>: <label class="form-control-static">@Model.Status.EnumDisplayName()</label>

			</h4>
			<div condition="@Model.Status == SubmissionStatus.Accepted">
				<label asp-for="TierName"></label>: <a href="/@Model.TierName">@Model.TierName</a>
			</div>
			<div condition="@(!string.IsNullOrWhiteSpace(Model.Judge))">
				<label asp-for="Judge"></label>:
				<a href="/HomePages/@Model.Judge">@Model.Judge</a>
			</div>
		</div>
		<table class="table table-bordered table-condensed">
			<tr>
				<th><label asp-for="SystemDisplayName"></label></th>
				<td>@Model.SystemDisplayName</td>
				<th><label asp-for="Emulator"></label></th>
				<td>@Model.Emulator</td>
			</tr>
			<tr>
				<th><label asp-for="GameVersion"></label></th>
				<td>@Model.GameVersion</td>
				<th><label asp-for="FrameCount"></label></th>
				<td>@Model.FrameCount</td>
			</tr>
			<tr>
				<th><label asp-for="RomName"></label></th>
				<td>@Model.RomName</td>
				<th><label asp-for="FrameRate"></label></th>
				<td>@Model.FrameRate</td>
			</tr>
			<tr>
				<th><label asp-for="Branch"></label></th>
				<td>@Model.Branch</td>
				<th><label asp-for="RerecordCount"></label></th>
				<td>@Model.RerecordCount</td>
			</tr>
		</table>
		<small>
			Submitted edited by @Model.Submitter on @Model.CreateTimestamp
		</small>
		<div class="btn-toolbar">
			<a asp-action="Download" asp-route-id="@Model.Id" class="btn btn-primary">Download</a>
			<a href="#" class="btn btn-default">Discuss and Vote</a>
			<span condition="@ViewData.UserHasPermission(PermissionTo.EditSubmissions)" class="btn-separator"></span>
			<a condition="@(ViewData.UserHasPermission(PermissionTo.EditSubmissions) || (Model.CanEdit && ViewData.UserHasPermission(PermissionTo.SubmitMovies)))" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
			<span class="btn-separator"></span>
			<a asp-action="List" class="btn btn-default">Back to Queue</a>
			<a asp-action="List" asp-route-user="@Model.Submitter" class="btn btn-default">All by this submitter</a>
		</div>
	</div>
</row>
<hr />
<row>
	<div class="panel panel-primary">
		<div class="panel-heading">Submission Comments</div>
		<div class="panel-body">
			@await Component.RenderWiki(LinkConstants.SubmissionWikiPage + Model.Id)
		</div>
	</div>
</row>
<hr />
<row>
	<small>
		last edited by @Model.LastUpdateUser on @Model.LastUpdateTimeStamp
	</small>
	<br />
	<a class="btn btn-info btn-xs" asp-controller="Wiki" asp-action="PageHistory" asp-route-path="@(LinkConstants.SubmissionWikiPage + Model.Id)">Page History</a>
	<a class="btn btn-info btn-xs" asp-controller="Wiki" asp-action="Diff" asp-route-path="@(LinkConstants.SubmissionWikiPage + Model.Id)">Last diff</a>
	<a asp-controller="Wiki" asp-action="Referrers" asp-route-path="@($"{Model.Id}S")" class="btn btn-info btn-xs">List Referrers</a>
</row>

<style>
	.btn-separator::after {
		content: ' ';
		display: block;
		float: left;
		background: #ADADAD;
		margin: 0 10px;
		height: 34px;
		width: 1px;
	}
</style>