@page "{id}"
@model EditModel
@{
	ViewData.SetTitle($"Edit User file {Model.Id}");
}

<fullrow class="mt-2 mb-2">
	<label>Author: <profile-link username="@Model.UserFile.UserName"></profile-link></label>
</fullrow>
<form method="post" enctype="multipart/form-data">
	<row>
		<column>
			<input type="hidden" asp-for="UserFile.UserId" />
			<input type="hidden" asp-for="UserFile.UserName" />
			<fieldset>
				<label asp-for="UserFile.Title" class="form-control-label"></label>
				<input asp-for="UserFile.Title" type="text" class="form-control" />
				<span asp-validation-for="UserFile.Title" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<div>
					<partial name="_WikiEditHelper" model="@("UserFile_Description")"/>
				</div>
				<label asp-for="UserFile.Description" class="form-control-label"></label>
				<textarea asp-for="UserFile.Description" rows="6" class="form-control wiki-edit" placeholder="Enter your __wiki markup__ here..."></textarea>
				<span asp-validation-for="UserFile.Description" class="text-danger"></span>
				@await Html.RenderWiki(SystemWiki.WikiEditHelp)
			</fieldset>
			<fieldset>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" asp-for="UserFile.Hidden">
					<label class="form-check-label form-control-label" asp-for="UserFile.Hidden"></label>
				</div>
			</fieldset>
			<hr />
			<fieldset>
				<label asp-for="UserFile.SystemId" class="form-control-label"></label>
				<select asp-for="UserFile.SystemId" asp-items="@Model.AvailableSystems" class="form-select"></select>
				<span asp-validation-for="UserFile.SystemId" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="UserFile.GameId" class="form-control-label"></label>
				<select asp-for="UserFile.GameId" asp-items="@Model.AvailableGames" class="form-select"></select>
				<span asp-validation-for="UserFile.GameId" class="text-danger"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		@await Html.RenderWiki(SystemWiki.WikiEditNote)
		<preview-button></preview-button>
		<submit-button></submit-button>
		<cancel-button asp-page="/UserFiles/Info" asp-route-id="@Model.Id"></cancel-button>
	</form-button-bar>
</form>

<partial name="_PreviewWindow" model="@(Html.IdFor(m => m.UserFile.Description), "/Wiki/Preview")" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/userfile.js"></script>
	<script>
		const gameId = "@Html.IdFor(m => m.UserFile.GameId)";
		const systemId = "@Html.IdFor(m => m.UserFile.SystemId)";
		enableUserFile(gameId, systemId);
	</script>
}
