@page
@model IndexModel
@{
	ViewData["Title"] = "Movie Storage Space";
}

<fullrow class="mt-2 mb-2">
	<a asp-page="/Profile/UserFiles" class="pull-right btn btn-primary">My Movies</a>
</fullrow>

<row>
	<div class="col-md-6">
		<card>
			<cardheader>
				Users with movies
			</cardheader>
			<cardbody>
				@foreach (var user in Model.Data.UsersWithMovies)
				{
					<a asp-page="ForUser" asp-route-userName="@user.UserName">@user.UserName</a><span>(latest: @user.Latest)</span><br />
				}
			</cardbody>
		</card>
	</div>
	<div class="col-md-6">
		<card>
			<cardheader>
				Latest Movies
			</cardheader>
			<cardbody>
				@foreach (var file in Model.Data.LatestMovies)
				{
					<div class="mb-2">
						<a asp-page="Info" asp-route-id="@file.Id">@file.FileName</a>
						<br />
						<small class="ml-3">
							by <a asp-page="/Users/Profile" asp-route-username="@file.Author">@file.Author</a> on @file.Uploaded
						</small>
					</div>
				}
			</cardbody>
		</card>
		<card>
			<cardheader>
				Games with movies
			</cardheader>
			<cardbody>
				@foreach (var game in Model.Data.GamesWithMovies)
				{
					<div>
						<a asp-page="Game" asp-route-id="@game.GameId">@game.SystemCode @game.GameName</a>
						<small>(latest @game.Latest)</small>
					</div>
				}
			</cardbody>
		</card>
	</div>
</row>