@page
@model IndexModel
@{
	ViewData.SetTitle("Movie Storage Space");
}

<fullrow class="mt-2 mb-2">
	<a asp-page="/UserFiles/Upload" class="btn btn-primary"><i class="fa fa-upload"></i> Upload</a>
	<a asp-page="/Profile/UserFiles" class="float-end btn btn-secondary">My Movies</a>
</fullrow>

<row>
	<column md="6">
		<card>
			<card-header>
				Users with movies
			</card-header>
			<card-body>
				@foreach (var user in Model.UsersWithMovies.OrderBy(u => u.UserName))
				{
					<a asp-page="ForUser" asp-route-userName="@user.UserName">@user.UserName</a><span>(latest: <timezone-convert asp-for="@user.Latest"/>)</span><br />
				}
			</card-body>
		</card>
		<card>
			<card-header>
				Recent Uncataloged Files <a class="btn btn-primary btn-sm" asp-page="Uncataloged">See all</a>
			</card-header>
			<card-body>
				@foreach (var file in Model.UncatalogedFiles.OrderBy(u => u.SystemCode).ThenByDescending(uf => uf.UploadTimestamp))
				{
					<span condition="@file.SystemCode is not null">@file.SystemCode</span>
					<a asp-page="Info" asp-route-id="@file.Id">@file.FileName by @file.Author</a>
					<span>(<timezone-convert asp-for="@file.UploadTimestamp" />)</span><br />
				}
			</card-body>
		</card>
	</column>
	<column md="6">
		<card>
			<card-header>
				Latest Movies
			</card-header>
			<card-body>
				@foreach (var file in Model.LatestMovies)
				{
					<div class="mb-2">
						<a asp-page="Info" asp-route-id="@file.Id">@file.FileName</a>
						<br />
						<small class="ms-3">
							by <profile-link username="@file.Author"></profile-link> <timezone-convert asp-for="@file.UploadTimestamp" in-line="true" />
						</small>
					</div>
				}
				<a asp-page="List">More...</a>
			</card-body>
		</card>
		<card>
			<card-header>
				Games with movies
			</card-header>
			<card-body>
				@foreach (var game in Model.GamesWithMovies)
				{
					<div>
						<a asp-page="Game" asp-route-id="@game.GameId">@game.GameName</a>
						<small>(latest <timezone-convert asp-for="@game.Latest"/>)</small>
					</div>
				}
			</card-body>
		</card>
	</column>
</row>