@page
@model UploadModel

@{
	ViewData["Title"] = "Upload a User file";
}

<info-alert dismissible="true">
	@await Component.RenderWiki("System/UserFileUploadHeader")
</info-alert>

<partial name="Shared/_StorageUsed" model="Model.StorageUsed" />
<hr />
<form method="post" enctype="multipart/form-data">
	<row>
		<column>
			<form-group>
				<label asp-for="UserFile.File" class="form-control-label"></label>
				<input asp-for="UserFile.File" type="file" class="form-control" />
				<span id="FileInputWarning" asp-validation-for="UserFile.File" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="UserFile.Title" class="form-control-label"></label>
				<input asp-for="UserFile.Title" type="text" class="form-control" />
				<span asp-validation-for="UserFile.Title" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="UserFile.Description" class="form-control-label"></label>
				<textarea asp-for="UserFile.Description" rows="6" class="form-control wiki-edit"></textarea>
				<span asp-validation-for="UserFile.Description" class="text-danger"></span>
			</form-group>
			<form-group>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" asp-for="UserFile.Hidden">
					<label class="form-check-label form-control-label" asp-for="UserFile.Hidden"></label>
				</div>
			</form-group>
			<hr />
			<form-group>
				<label asp-for="UserFile.SystemId" class="form-control-label"></label>
				<select asp-for="UserFile.SystemId" asp-items="@Model.AvailableSystems" class="form-control"></select>
				<span asp-validation-for="UserFile.SystemId" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="UserFile.GameId" class="form-control-label"></label>
				<select asp-for="UserFile.GameId" asp-items="@Model.AvailableGames" class="form-control"></select>
				<span asp-validation-for="UserFile.GameId" class="text-danger"></span>
			</form-group>
		</column>
	</row>
	<fullrow class="text-center">
		@await Component.RenderWiki("System/WikiEditNote")
		<submit-button class="btn btn-primary"><i class="fa fa-upload"></i> Upload</submit-button>
		<a href="/Profile/UserFiles" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
	</fullrow>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/userfile.js"></script>
	<script>
		const gameId = "@Html.IdFor(m => m.UserFile.GameId)";
		const systemId = "@Html.IdFor(m => m.UserFile.SystemId)";
		enableUserFile(gameId, systemId);
	</script>
	<script src="/js/pako_deflate.min.js"></script>
	<script>
		"use strict";
		{
			const fileInput = document.getElementById("@Html.IdFor(m => m.UserFile.File)");
			const storageAvailable = parseFloat(document.getElementById("StorageAvailable").value);
			const fileInputWarning = document.getElementById("FileInputWarning");
			fileInput.addEventListener("input", async () => {
				const inputFile = fileInput.files[0];
				if (!inputFile) {
					return;
				}

				const inputBytes = await inputFile.arrayBuffer();
				const zippedBytes = pako.gzip(inputBytes);

				const newFile = new File([zippedBytes], inputFile.name, { type: inputFile.type, lastModified: inputFile.lastModified });
				if (newFile.size < storageAvailable) {
					const dto = new DataTransfer;
					dto.items.add(newFile);
					fileInput.files = dto.files;
					fileInputWarning.innerText = "";
				} else {
					fileInput.value = "";
					fileInputWarning.innerText = "Chosen File Exceeds Quota";
				}
			});
		}
	</script>
}
