@page
@model UploadModel

@{
	ViewData.SetTitle("Upload a User file");
}

<info-alert dismissible="true">
	@await Html.RenderWiki(SystemWiki.UserFileUploadHeader)
</info-alert>

<partial name="Shared/_StorageUsed" model="Model.StorageUsed" />
<hr />
<form client-side-validation="true" method="post" enctype="multipart/form-data">
	<row>
		<column>
			<fieldset>
				<label asp-for="UserFile" class="form-control-label"></label>
				<input asp-for="UserFile" class="form-control" />
				<small>Valid file types: @string.Join(", ", Model.SupportedFileExtensions)</small><br />
				<span id="FileInputWarning" asp-validation-for="UserFile" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Title" class="form-control-label"></label>
				<input asp-for="Title" type="text" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<div>
					<partial name="_WikiEditHelper" model="@("Description")"/>
				</div>
				<label asp-for="Description" class="form-control-label"></label>
				<textarea asp-for="Description" rows="6" class="form-control wiki-edit" placeholder="Enter your __wiki markup__ here..."></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" asp-for="Hidden">
					<label class="form-check-label form-control-label" asp-for="Hidden"></label>
				</div>
			</fieldset>
			<hr />
			<fieldset>
				<label asp-for="SystemId" class="form-control-label"></label>
				<select asp-for="SystemId" asp-items="@Model.AvailableSystems" class="form-select"></select>
				<span asp-validation-for="SystemId" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="GameId" class="form-control-label"></label>
				<select asp-for="GameId" asp-items="@Model.AvailableGames" class="form-select"></select>
				<span asp-validation-for="GameId" class="text-danger"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		@await Html.RenderWiki(SystemWiki.WikiEditNote)
		<preview-button></preview-button>
		<submit-button><i class="fa fa-upload"></i> Upload</submit-button>
		<cancel-link asp-page="/Profile/UserFiles"></cancel-link>
	</form-button-bar>
</form>

<partial name="_PreviewWindow" model="@(Html.IdFor(m => m.Description), "/Wiki/Preview")" />

@section Scripts {
	<script src="/js/userfile.js"></script>
	<script>
		const gameId = "@Html.IdFor(m => m.GameId)";
		const systemId = "@Html.IdFor(m => m.SystemId)";
		enableUserFile(gameId, systemId);
	</script>
	<script src="/js/pako_deflate.min.js"></script>
	<script>
		"use strict";
		{
			const fileInput = document.getElementById("@Html.IdFor(m => m.UserFile)");
			const storageAvailable = parseFloat(document.getElementById("StorageAvailable").value);
			const supportedFileExtensions = '@string.Join(",", Model.SupportedFileExtensions)'.split(',');
			const fileInputWarning = document.getElementById("FileInputWarning");
			fileInput.addEventListener("input", async () => {
				const inputFile = fileInput.files[0];
				if (!inputFile) {
					return;
				}

				const ext = (s => s.substring(s.lastIndexOf('.') + 1))(fileInput.files[0].name);
				if (ext) {
					if (supportedFileExtensions.includes(ext)) {
						fileInputWarning.innerText = "";
					} else {
						fileInput.value = "";
						fileInputWarning.innerText = `Invalid file extension: ${ext}`;
						return;
					}
				}

				const inputBytes = await inputFile.arrayBuffer();
				const zippedBytes = pako.gzip(inputBytes);

				const newFile = new File([zippedBytes], inputFile.name, { type: inputFile.type, lastModified: inputFile.lastModified });
				if (newFile.size < storageAvailable) {
					const dto = new DataTransfer;
					dto.items.add(newFile);
					fileInput.files = dto.files;
					fileInputWarning.innerText = "";
				} else {
					fileInput.value = "";
					fileInputWarning.innerText = "Chosen File Exceeds Quota";
				}
			});
		}
	</script>
}
