@model IEnumerable<TabularMovieListResultModel>
	@{
	string flink = ViewData["flink"]?.ToString();
	string footer = ViewData["footer"]?.ToString();
	var first = Model.FirstOrDefault();
	}
	<hr />
	<row>
		<div class="col-lg-9 col-md-8">
			<table class="table table-striped table-sm hidden-lg-down">
				@if (!string.IsNullOrWhiteSpace(flink))
				{
				<caption><a href="/@flink">@footer</a></caption>
				}
				<tbody>
					<tr>
						<th>Date</th>
						<th>Game</th>
						<th>Time</th>
						<th>By</th>
					</tr>
					@foreach (var pub in Model)
					{
					<tr>
						<td><timezone-convert asp-for="@pub.CreateTimeStamp" date-only="true"/></td>
						<td>@pub.Game</td>
						<td><pub-link id="pub.Id">@($"{pub.Time:g}")</pub-link></td>
						<td>@pub.Authors</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-lg-3 col-md-4 d-sm-none d-md-block">
		<figure class="figure pull-right">
			@if (first != null)
			{
			<pub-link id="first.Id">
				<img src="~/media/@first.Screenshot" style="max-width: 100%">
			</pub-link>
			<figcaption class="figure-caption">@first.Game by @first.Authors</figcaption>
			}
		</figure>
	</div>
</row>
