@model ForumTopicModel
@{
	ViewData["Title"] = $"TASVideos Forum {Model.Title}";
}
<h4>@Model.Title</h4>
<div>
	<a condition="ViewData.UserHasPermission(PermissionTo.CreateForumPosts)" asp-controller="ForumPost" asp-action="Create" asp-route-topicId="@Model.Id" class="btn btn-primary"><span class="fa fa-plus"></span>Post</a>
</div>
<hr />
@if (Model.Poll != null)
{
	@Html.Partial("~/Views/ForumTopic/_Poll.cshtml", Model.Poll)
}

<hr />
@Html.Partial("~/Views/Table/_Pager.cshtml", Model.Posts)

@foreach (var post in Model.Posts.OrderBy(p => p.CreateTimestamp))
{
	<row>
		<div class="col-5 col-md-3 pr-0">
			<div class="card text-right">
				<div class="card-body">
					<h5 class="card-title">@post.PosterName</h5>
					<div class="card-text p-0 m-0">
						<small>
							@string.Join(",", post.PosterRoles)
							(todo points)
						</small>
						<br />
						<img src="@post.PosterAvatar" />
						<br />
						<small>
							Joined: @post.PosterJoined.ToShortDateString()<br />
							Posts: @post.PosterPostCount<br />
							Location: @post.PosterLocation
						</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-7 col-md-9  pl-0">
			<div class="card">
				<div class="card-header">
					<small>
						Posted: @post.CreateTimestamp
						<span condition="!string.IsNullOrWhiteSpace(post.Subject)">Post subject: @post.Subject</span>
						<a class="btn btn-info btn-sm pull-right" asp-controller="ForumPost" asp-action="Create" asp-route-topicId="@Model.Id" asp-route-quoteId="@post.Id">Quote</a>
					</small>
				</div>
				<div class="card-body">
					@Html.Raw(post.RenderedText)
				</div>
				<div class="card-footer">
					<small style="font-style: italic">@Html.Raw(post.RenderedSignature)</small>
					<br />
					<a class="btn btn-info btn-sm" asp-controller="User" asp-action="Profile" asp-route-id="@post.PosterId">Profile</a>
					<a class="btn btn-secondary btn-sm" condition="User.Identity.IsAuthenticated" asp-controller="Messages" asp-action="Create" asp-route-toUser="@post.PosterName">PM</a>
					<div class="pull-right">
						@foreach (var award in post.Awards.OrderByDescending(a => a.Year))
						{
							@await Html.PartialAsync("../Shared/_Award.cshtml", award)
						}
					</div>
				</div>
			</div>
		</div>
	</row>
}
