@model PollResultModel
@{
	ViewData["Title"] = $"Poll Results for {Model.TopicTitle}";
}
<partial Name="_ForumHeader" />
<a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.TopicId" class="btn btn-secondary"><span class="fa fa-arrow-left"></span>Back</a>
<hr />

<div class="">
	@Html.Raw(Model.Question)
</div>
<hr />
<table class="table table-bordered table-striped">
	<tr>
		<th>@Html.DisplayNameFor(m => m.Votes.First().OptionText)</th>
		<th>@Html.DisplayNameFor(m => m.Votes.First().UserName)</th>
		<th>@Html.DisplayNameFor(m => m.Votes.First().CreateTimestamp)</th>
		<th>@Html.DisplayNameFor(m => m.Votes.First().IpAddress)</th>
	</tr>
	@foreach(var vote in Model.Votes
		.OrderBy(v => v.Ordinal)
		.ThenBy(v => v.UserName))
	{
		<tr>
			<td>@vote.OptionText</td>
			<td><a asp-controller="User" asp-action="Profile" asp-route-id="@vote.UserId">@vote.UserName</a></td>
			<td>@vote.CreateTimestamp</td>
			<td>@vote.IpAddress</td>
		</tr>
	}
</table>