@page
@model IndexModel
@{
	ViewData.SetTitle("Flag List");
}

<top-button-bar>
	<add-link asp-page="Create"></add-link>
</top-button-bar>
<standard-table>
	<table-head columns="Name,Icon Path,Link Path,Token,Permission Restriction,Weight,"></table-head>
	@foreach (var flag in Model.Flags.OrderBy(f => f.Token))
	{
		<tr>
			<td>@flag.Name</td>
			<td>@flag.IconPath</td>
			<td>@flag.LinkPath</td>
			<td>@flag.Token</td>
			<td>@flag.PermissionRestriction</td>
			<td>@flag.Weight</td>
			<td-action-column>
				<edit-link asp-page="Edit" asp-route-id="@flag.Id"></edit-link>
			</td-action-column>
		</tr>
	}
</standard-table>