@page
@model IndexModel
@{
	ViewData.SetTitle("Flag List");
}

<a class="btn btn-primary float-end mb-3" asp-page="Create"><i class="fa fa-plus"></i> Create</a>

<standard-table>
	<tr>
		<th>Name</th>
		<th>Icon Path</th>
		<th>Link Path</th>
		<th>Token</th>
		<th>Permission Restriction</th>
		<th></th>
	</tr>
	@foreach (var flag in Model.Flags.OrderBy(f => f.Token))
	{
		<tr>
			<td>@flag.Name</td>
			<td>@flag.IconPath</td>
			<td>@flag.LinkPath</td>
			<td>@flag.Token</td>
			<td>@flag.PermissionRestriction</td>
			<td>
				<a class="btn btn-primary" asp-page="Edit" asp-route-id="@flag.Id">
					<i class="fa fa-pencil"></i> Edit
				</a>
			</td>
		</tr>
	}
</standard-table>