@model UserSummaryModel
@{
	var pageData = (WikiPage)ViewData["pageData"];
}
<hr />
@await Component.ListSubPages(pageData, "show")
<info-alert>
	This page is intended to be the personal page for user: @(Model?.UserName ?? pageData.PageName.Replace("HomePages/", "")) <br />
	<br />

	@if (Model != null)
	{
		<div>
			The following additional information is available for this user:<br />
			<ul>
				<li><a asp-controller="User" asp-action="Profile" asp-route-id="@Model.UserName">Profile</a></li>
				<ul>
					<li><a href="/Movies-Author@(Model.Id)-obs">@Model.MovieCount Movies</a></li>
					<li><a href="/Subs-List?User=@Model.UserName">@Model.SubmissionCount Submissions</a></li>
					<li>Wiki Edits: <a asp-action="UserEditHistory" asp-controller="Wiki" asp-route-userName="@Model.UserName">@Model.EditCount</a></li>
					<li>Awards Won: @Model.AwardsWon</li>
				</ul>
			</ul>
			<label>Note: Opinions expressed on homepages of our users are the personal opinions of those people, and don't necessarily represent the opinion of the whole TASVideos community.</label>
		</div>
	}
	else
	{
		<label>This user does not currently exist but this page should be reserved should such a user regiser.</label><br />
		<label>Wiki Editors, all users can edit their own homepages by default, it is not recommended to create home pages unless explicitely requested by the user</label>
	}
</info-alert>