@model TASVideos.Data.Entity.Forum.ForumCategory

<card class="mb-2">
	<cardheader>
		<a permission="EditCategories" asp-controller="Forum" asp-action="EditCategory" asp-route-id="@Model.Id" class="btn btn-primary btn-sm pull-right">Edit</a>
		<h4>@Model.Title</h4>
		@if (!string.IsNullOrWhiteSpace(Model.Description))
		{
			<div class="text-small">
				@Html.Raw(Model.Description)
			</div>
		}
	</cardheader>
	<cardbody>
		@foreach (var forum in Model.Forums
			.OrderBy(f => f.Ordinal)
			.Where(f => ViewData.UserHas(PermissionTo.SeeRestrictedForums) || !f.Restricted))
		{
			<strong><a asp-page="/Forum/Subforum" asp-route-id="@forum.Id">@forum.Name</a></strong>
			<div class="mb-2 pl-3">
				<small>
					@Html.Raw(forum.Description)
				</small>
			</div>
		}
	</cardbody>
</card>