@model ForumCategoryDisplayDto

<card class="mb-2">
	<cardheader>
		<a permission="EditCategories" asp-page="Edit" asp-route-id="@Model!.Id" class="btn btn-primary btn-sm border border-warning float-end"><i class="fa fa-pencil"></i> Edit</a>
		<h4>@Model!.Title</h4>
		@if (!string.IsNullOrWhiteSpace(Model.Description))
		{
			<div class="text-small">
				@Html.Raw(Model.Description)
			</div>
		}
	</cardheader>
	<cardheader class="py-0 text-muted">
		<row>
			<div class="col-8"><small>Subforum</small></div>
			<div class="col-4"><small>Last Post</small></div>
		</row>
	</cardheader>
	<cardbody class="py-0">
		@foreach (var forum in Model!.Forums
			.OrderBy(f => f.Ordinal)
			.Where(f => ViewData.UserHas(PermissionTo.SeeRestrictedForums) || !f.Restricted))
		{
		<row class="py-1 border-bottom border-card align-items-center">
				<div class="col-8">
					<strong>
						<span condition="@(!string.IsNullOrEmpty(forum.ActivityTopics))"><i class="fa fa-file text-warning activity-subforum d-none" data-activity-json="@forum.ActivityTopics"></i></span>
						<a asp-page="/Forum/Subforum/Index" asp-route-id="@forum.Id">@forum.Name</a>
					</strong>
				<div class="ps-3">
					<small>
						@Html.Raw(forum.Description)
					</small>
				</div>
			</div>
			@if (forum.LastPost != null)
			{
				<div class="col-4 align-items-center">
					<timezone-convert asp-for="@forum.LastPost.Timestamp" /> <br />
					<profile-link username="@forum.LastPost.PosterName"></profile-link>
					<a href="/Forum/Posts/@forum.LastPost.Id" class="fa fa-arrow-circle-right"></a>
				</div>
			}
			</row>
		}
	</cardbody>
</card>