@page "{id?}"
@model EditModel
@{
	string saveBtnName;
	string iconClass;
	if (Model.Id.HasValue)
	{
		ViewData.SetTitle($"Editing Game Group #{Model.Id} {Model.GameGroup.Name}");
		saveBtnName = "Save";
		iconClass = "fa fa-save";
	}
	else
	{
		ViewData.SetTitle("Create a new Game Group entry");
		saveBtnName = "Create";
		iconClass = "fa fa-plus";
	}
}
<form-group>
	<delete-button condition="@Model.CanDelete" asp-href="/GameGroups/Edit/@(Model.Id ?? 0)?handler=Delete" class="float-end">Delete</delete-button>
</form-group>
<form method="post">
	<row>
		<column md="6">
			<form-group>
				<label asp-for="GameGroup.Name"></label>
				<input type="text" asp-for="GameGroup.Name" class="form-control" />
				<span asp-validation-for="GameGroup.Name" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="GameGroup.Abbreviation"></label>
				<div class="input-group">
					<input type="text" asp-for="GameGroup.Abbreviation" class="form-control" />
					<a asp-page="/Wiki/Referrers"
					   asp-route-path="GameGroups/@Model.GameGroup.Abbreviation"
					   asp-route-returnurl="@HttpContext.CurrentPathToReturnUrl()"
					   class="btn btn-primary">
						Referrers
					</a>
				</div>
				<span asp-validation-for="GameGroup.Abbreviation" class="text-danger"></span>
			</form-group>
			<form-group>
				<div>
					<partial name="_WikiEditHelper" model="@("GameGroup_Description")" />
				</div>
				<label asp-for="GameGroup.Description" class="form-control-label"></label>
				<textarea asp-for="GameGroup.Description" rows="4" class="form-control wiki-edit"></textarea>
				<span asp-validation-for="GameGroup.Description" class="text-danger"></span>
				@await Component.RenderWiki(SystemWiki.WikiEditHelp)
			</form-group>
		</column>
	</row>
	<form-button-bar>
		<button type="submit" class="btn btn-primary"><i class="@iconClass"></i> @saveBtnName</button>
		<a condition="@(!Model.Id.HasValue)" asp-page="List" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
		<a condition="Model.Id.HasValue" asp-page="Index" asp-route-id="@(Model.Id ?? 0)" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
	</form-button-bar>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
