@page "{id?}"
@model EditModel
@{
	string saveBtnName;
	string iconClass;
	if (Model.Id.HasValue)
	{
		ViewData.SetTitle($"Editing Game Group #{Model.Id} {Model.Name}");
		saveBtnName = "Save";
		iconClass = "fa fa-save";
	}
	else
	{
		ViewData.SetTitle("Create a new Game Group entry");
		saveBtnName = "Create";
		iconClass = "fa fa-plus";
	}
}
<fieldset>
	<delete-button condition="@Model.CanDelete" asp-href="/GameGroups/Edit/@(Model.Id ?? 0)?handler=Delete" class="float-end">Delete</delete-button>
</fieldset>
<form method="post">
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="Name"></label>
				<input type="text" asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Abbreviation"></label>
				<div class="input-group">
					<input type="text" asp-for="Abbreviation" class="form-control" />
					<a asp-page="/Wiki/Referrers"
					   asp-route-path="GameGroups/@Model.Abbreviation"
					   asp-route-returnurl="@HttpContext.CurrentPathToReturnUrl()"
					   class="btn btn-primary">
						Referrers
					</a>
				</div>
				<span asp-validation-for="Abbreviation" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<div>
					<partial name="_WikiEditHelper" model="@("GameGroup_Description")" />
				</div>
				<label asp-for="Description" class="form-control-label"></label>
				<textarea asp-for="Description" rows="4" class="form-control wiki-edit" placeholder="Enter your __wiki markup__ here..."></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
				@await Html.RenderWiki(SystemWiki.WikiEditHelp)
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button class="btn btn-primary"><i class="@iconClass"></i> @saveBtnName</submit-button>
		<a condition="@(!Model.Id.HasValue)" asp-page="List" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
		<a condition="Model.Id.HasValue" asp-page="Index" asp-route-id="@(Model.Id ?? 0)" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
	</form-button-bar>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
