@page "{id}"
@model TASVideos.Pages.GamesGroups.IndexModel
@{
	ViewData["Title"] = $"Games for Group: {Model.Name}";
}

<warning-alert condition="!Model.Games.Any()">
	No Games Listed for this Game Group
</warning-alert>
<a asp-page="List" class="mb-2">See All Groups</a>
<a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-3 float-end" permission="CatalogMovies"><i class="fa fa-pencil"></i> Edit</a>
<table condition="Model.Games.Any()" class="table table-bordered table-striped">
	<tr>
		<th>Game</th>
		<th>Publications</th>
		<th>Submissions</th>
		<th>Resource Page</th>
	</tr>
	@foreach (var game in Model.Games)
	{
		<tr>
			<td>
				<game-link id="game.Id">
					@game.SystemCode @game.Name
				</game-link>
			</td>
			<td>
				<a href="/Movies-@(game.Id)G">
					@game.PublicationCount
				</a>
			</td>
			<td>
				@game.SubmissionsCount
			</td>
			<td>
				<a href="/@game.GameResourcesPage">
					@game.GameResourcesPage
				</a>
			</td>
		</tr>
	}
</table>