@model RoleDisplayViewModel
<card class="mb-2">
	<cardbody>
		<h5 class="card-title">@Model.Name</h5>
		<row>
			<div class="col-md-6">
				<div condition="@ViewData.UserHas(PermissionTo.EditRoles)">
					<a asp-action="AddEdit" asp-route-id="@Model.Id" class="btn btn-primary mb-m">Edit</a>
				</div>
				@Model.Description
			</div>
			<div class="col-lg-3 col-md-6">
				<strong>@Html.DisplayNameFor(m => m.Permissions):</strong><br />
				@foreach (var permission in Model.Permissions)
				{
					<div class="ml-md-0 ml-sm-4">@permission</div>
				}
			</div>
			<div condition="@Model.Links.Any()" class="col-lg-3 col-md-12">
				<strong>@Html.DisplayNameFor(m => m.Links):</strong><br />
				@foreach (var link in Model.Links)
				{
					<div class="ml-lg-0 ml-sm-4"><a href="/@link">@link</a></div>
				}
			</div>
		</row>
	</cardbody>
	<cardfooter condition="!Model.IsDefault">
		<label asp-for="Users" class="form-control-label"></label>
		<div condition="!Model.Users.Any()">
			<label class="form-control-label">No users currently have this role.</label>
		</div>
		<div condition="Model.Users.Count > 100">
			<i>@Model.Users.Count Users (too many to display)</i>
		</div>
		<div condition="Model.Users.Any() && Model.Users.Count <= 100">
			@foreach (var user in Model.Users)
			{
				<span class="mr-4 mb-4" style="display: inline-block">
					<a asp-controller="User" asp-action="Profile" asp-route-id="@user.Id">@user.UserName</a>
				</span>
			}
		</div>
	</cardfooter>
</card>