@model RoleEditViewModel
@{
	ViewData["Title"] = Model.Id.HasValue ? "Modifying Role: " + Model.Name : "Create a New Role";
}
<delete-button condition="@Model.Id.HasValue && ViewData.UserHasPermission(PermissionTo.DeleteRoles)" asp-href="@Url.Action($"Delete/{Model.Id}")" warning-message="Are you sure you want to delete this Role? This action cannot be undone!" class="float-right text-center">Delete</delete-button>
<h4>@ViewData["Title"]</h4>
<hr />
<form asp-route="Edit">
	<input type="hidden" asp-for="@Model.Id" />
	<row>
		<div class="col-lg-5">
			<label asp-for="Name" class="form-control-label"></label>
			<input asp-for="Name" class="form-control" maxlength="50" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="offset-lg-2 col-lg-5">
			<label asp-for="Description" class="form-control-label"></label>
			<textarea asp-for="Description" class="form-control" rows="3" maxlength="200"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
	</row>
	<row>
		<div class="col-lg-5">
			<label asp-for="Links" class="form-control-label"></label>
			<string-list asp-for="Links" />
		</div>
	</row>
	<form-group>
		<two-column-select id-list="SelectedPermissions" available-list="AvailablePermissions" />
	</form-group>
	<form-group class="d-none" id="assignable-permissions-section">
		<two-column-select id-list="SelectedAssignablePermissions" available-list="AvailableAssignablePermissions" />
		<row class="mt-3">
			<div class="offset-sm-7 col-sm-5">
				<label class="form-control-label">Roles that can be assigned:</label>
				<div id="assignable-roles">None</div>
			</div>
		</row>
	</form-group>
	<div class="text-center mt-3">
		<button type="submit" class="btn btn-primary">@(Model.Id.HasValue ? "Update" : "Save")</button>
		<a asp-action="Index" class="btn btn-secondary">Cancel</a>
	</div>
</form>
<script>
	(function() {
		var emptyAssignableRoles = "None";
		var assignRoles = '@((int)PermissionTo.AssignRoles)';
		var selectedAssignablePermissionsModelId = '@(nameof(Model.SelectedAssignablePermissions))';
		var selectedPermissionsListId = 'Selected@(nameof(Model.SelectedPermissions))';
		var availableAssignableListId = '@(nameof(Model.AvailableAssignablePermissions))';
		var selectedAssignableListId = 'Selected@(nameof(Model.SelectedAssignablePermissions))';

		function shouldShowAssignRoles() {
			var hasAssign = document.querySelectorAll("[name='@nameof(Model.SelectedPermissions)']")
				.toArray()
				.filter(function(i) {
					return i.value === assignRoles;
				})
				.length >
				0;

			var hasAtLastOneOtherPerm = document.querySelectorAll("[name='@nameof(Model.SelectedPermissions)']")
				.toArray()
				.filter(function(i) {
					return i.value !== assignRoles;
				})
				.length >
				0;

			return hasAssign && hasAtLastOneOtherPerm;
		}

		function syncAssignablePerms() {
			var selectedPerms = document.querySelectorAll('#' + selectedPermissionsListId + ' option')
				.toArray()
				.filter(function(elem) {
					return elem.value !== assignRoles;
				});

			var aggregatedAssignablePerms = document.querySelectorAll('#' + availableAssignableListId + ' option')
				.toArray()
				.concat(document.querySelectorAll('#' + selectedAssignableListId + ' option').toArray());

			var addedPerms = selectedPerms
				.filter(function(elem) {
					return !(aggregatedAssignablePerms
						.map(function(e) {
							return e.value;
						})
						.includes(elem.value));
				});

			var removedPerms = aggregatedAssignablePerms
				.filter(function(elem) {
					return !(selectedPerms
						.map(function(e) {
							return e.value;
						})
						.includes(elem.value));
				});

			var availAssignableElem = document.getElementById(availableAssignableListId);
			var selectedAssignableElem = document.getElementById(selectedAssignableListId);

			addedPerms.forEach(function(elem) {
				if (elem.value !== assignRoles) {
					availAssignableElem.appendChild(elem.cloneNode(true));
				}
			});

			removedPerms.forEach(function(elem) {
				var id = document.querySelector('[name="' + selectedAssignablePermissionsModelId + '"][v="' + elem.value + '"]');
				if (id) {
					id.remove();
				}


				if (availAssignableElem.childNodes.toArray().includes(elem)) {
					availAssignableElem.removeChild(elem);
				} else if (selectedAssignableElem.childNodes.toArray().includes(elem)) {
					selectedAssignableElem.removeChild(elem);
				}
			});

			showRolesCurrentlyAssignable();
		}

		function showRolesCurrentlyAssignable() {
			var selector = '[name="' + selectedAssignablePermissionsModelId + '"]';
			var permissions = document.querySelectorAll(selector)
				.toArray()
				.map(function(elem) {
					return elem.value;
				});

			if (permissions.length > 0) {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState === XMLHttpRequest.DONE) {
						if (xmlhttp.status === 200) {
							var data = JSON.parse(xmlhttp.responseText);
							if (data) {
								document.getElementById("assignable-roles").textContent = data.join(', ');
							} else {
								document.getElementById("assignable-roles").textContent = emptyAssignableRoles;
							}
						}
					}
				};

				var getstr = '';
				for (var i in permissions) {
					if (permissions.hasOwnProperty(i)) {
						getstr += 'ids=' + permissions[i] + '&';
					}
				}

				getstr = getstr.slice(0, -1);
				getstr = "/Roles/@(nameof(RolesController.RolesThatCanBeAssignedBy))?" + getstr;
				xmlhttp.open("GET", getstr, true);
				xmlhttp.send();
			} else {
				document.getElementById("assignable-roles").textContent = emptyAssignableRoles;
			}
		}

		function onSelectedPermissionsChange() {
			if (shouldShowAssignRoles()) {
				document.getElementById('assignable-permissions-section').classList.remove('d-none');
				syncAssignablePerms();
			} else {
				document.getElementById('assignable-permissions-section').classList.add('d-none');
			}
		}

		document.getElementById('SelectedPermissions-two-column-select')
			.addEventListener('@nameof(Model.SelectedPermissions)Changed', onSelectedPermissionsChange);

		document.addEventListener("DOMContentLoaded", onSelectedPermissionsChange);

		document.getElementById('SelectedAssignablePermissions-two-column-select')
			.addEventListener('@nameof(Model.SelectedAssignablePermissions)Changed', showRolesCurrentlyAssignable);
	})();
</script>
@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
