@model RoleEditViewModel
@{
	ViewData["Title"] = Model.Id.HasValue ? "Modifying Role: " + Model.Name : "Create a New Role";
}

@if (Model.Id.HasValue)
{
	<delete-button asp-href="@Url.Action($"Delete/{Model.Id}")" class="pull-right text-center">Delete</delete-button>
}
<h4>@ViewData["Title"]</h4>
<hr />
<div class="container">
	<form asp-route="Edit" method="post" class="form-horizontal">
		<input type="hidden" asp-for="@Model.Id" />
		<row>
			<div class="col-sm-5">
				<fieldset class="form-group">
					<label asp-for="@Model.Name" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<input asp-for="@Model.Name" class="form-control" maxlength="50" />
						<span asp-validation-for="@Model.Name" class="text-danger"></span>
					</div>
				</fieldset>
			</div>
			<div class="col-sm-offset-2 col-sm-5">
				<fieldset class="form-group">
					<label asp-for="@Model.Description" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<textarea asp-for="@Model.Description" class="form-control" rows="3" maxlength="200"></textarea>
						<span asp-validation-for="@Model.Description" class="text-danger"></span>
					</div>
				</fieldset>
			</div>
		</row>
		@Html.TwoColumnPickerFor(m => m.SelectedPermissionsStr, n => n.AvailablePermissions)
		<row class="text-center mt-el">
			<button type="submit" class="text-center btn btn-primary">@(Model.Id.HasValue ? "Update" : "Save")</button>
			<a asp-action="Index" class="btn btn-default">Cancel</a>
		</row>
	</form>
</div>

<div id="areYouSureModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-danger">Delete Warning!</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this record?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="text-center btn btn-danger">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>

	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
