@page
@model IndexModel
@{
	ViewData["Title"] = "Tag List";
}

<alert type="@Model.MessageType" condition="Model.ShowMessage" dismissible="true">
	@Model.Message
</alert>

<a class="btn btn-primary pull-right mb-3" asp-page="Create">Create</a>

<table class="table table-bordered table-striped table-sm">
	<tr>
		<th>Code</th>
		<th>Display Name</th>
		<th></th>
	</tr>
	@foreach (var tag in Model.Tags)
	{
		<tr>
			<td>@tag.Code</td>
			<td>@tag.DisplayName</td>
			<td>
				<a class="btn btn-primary" asp-page="Edit" asp-route-id="@tag.Id">
					Edit
				</a>
			</td>
		</tr>
	}
</table>