@model IEnumerable<PublicationMaintenanceLogEntry>
<br /><br />
<div>
	<pub-link id="@ViewData.Int("id")">@ViewData["title"]</pub-link>
</div>
<div class="table-container">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Editor</th>
			<th>Datetime</th>
			<th>Log</th>
		</tr>
		@foreach (var log in Model!.OrderByDescending(m => m.Timestamp))
		{
			<tr>
				<td><profile-link username="@log.UserName"></profile-link></td>
				<td><timezone-convert asp-for="@log.Timestamp" /></td>
				<td>@log.Log</td>
			</tr>
		}
	</table>
</div>
