@model PagedModel
@{
	var controller = ViewContext.Controller();
	var action = ViewContext.Action();
}
<row>
	<div class="col-sm-3 pull-left" condition="@Model.LastPage > 1">
		<a
			disable="@Model.CurrentPage == 1"
			asp-action="@action"
			asp-controller="@controller"
			asp-route-CurrentPage="1"
			asp-route-PageSize="@Model.PageSize"
			asp-route-SortDescending="@Model.SortDescending"
			asp-route-SortBy="@Model.SortBy"
			class="btn btn-secondary btn-sm" title="First Page">
			<span class="fa fa-fast-backward"></span>
		</a>
		<a
			disable="@Model.CurrentPage == 1"
			asp-action="@action"
			asp-controller="@controller"
			asp-route-CurrentPage="@(Model.CurrentPage - 1)"
			asp-route-PageSize="@Model.PageSize"
			asp-route-SortDescending="@Model.SortDescending"
			asp-route-SortBy="@Model.SortBy"
			class="btn btn-secondary btn-sm" title="Previous Page">
			<span class="fa fa-chevron-left"></span>
		</a>
		<a
			disable="@Model.CurrentPage == Model.LastPage"
			asp-action="@action"
			asp-controller="@controller"
			asp-route-CurrentPage="@(Model.CurrentPage + 1)"
			asp-route-PageSize="@Model.PageSize"
			asp-route-SortDescending="@Model.SortDescending"
			asp-route-SortBy="@Model.SortBy"
			class="btn btn-secondary btn-sm" title="Next Page">
			<span class="fa fa-chevron-right"></span>
		</a>
		<a
			disable="@Model.CurrentPage == Model.LastPage"
			asp-action="List"
			asp-controller="User"
			asp-route-CurrentPage="@Model.LastPage"
			asp-route-PageSize="@Model.PageSize"
			asp-route-SortDescending="@Model.SortDescending"
			asp-route-SortBy="@Model.SortBy"
			class="btn btn-secondary btn-sm" title="Last Page">
			<span class="fa fa-fast-forward"></span>
		</a>
		<a asp-action="@action" asp-controller="@controller" class="btn btn-secondary btn-sm">Reset</a>
	</div>
	<div class="@(Model.LastPage > 1 ? "col-sm-4 text-right" : "text-center")">
		<label>Showing @Model.StartRow - @Model.LastRow of @Model.RowCount</label>
	</div>
	<div class="col-sm-5 text-right" condition="@Model.LastPage > 1">
		<form method="GET" asp-action="@action" asp-controller="@controller">
			<input type="hidden" asp-for="PageSize" />
			<input type="hidden" asp-for="SortDescending" />
			<input type="hidden" asp-for="SortBy" />
			<label>Page <input type="number" asp-for="CurrentPage" min="1" max="@Model.LastPage" class="input-sm" style="height: 23px; padding: 2px 5px; max-width: 65px;"> Of @Model.LastPage</label>
			<button type="submit" class="btn btn-secondary btn-sm">Go To</button>
		</form>
	</div>
</row>