@model PublicationRatingsModel
@{
	ViewData["Title"] = $"Ratings for #{Model.PublicationTitle}";

	var visibleRatings = ViewData.UserHas(PermissionTo.SeePrivateRatings)
		? Model.Ratings
		: Model.Ratings.Where(r => r.IsPublic);
}
@section PageTitle {
	<h1>Rating Details for @Model.PublicationTitle</h1>
}

@if (Model.Ratings.Any())
{
	<label>@Model.Ratings.Count() total ratings</label>
	<br />
	<label>Rating Average: @Model.OverallRating</label>
	<table class="table table-striped table-bordered">
		<tr>
			<th>@Html.DisplayNameFor(m => m.Ratings.First().UserName)</th>
			<th>@Html.DisplayNameFor(m => m.Ratings.First().Entertainment)</th>
			<th>@Html.DisplayNameFor(m => m.Ratings.First().TechQuality)</th>
		</tr>
		@foreach (var ratings in visibleRatings.OrderBy(r => r.UserName))
		{
			<tr @Html.Raw(!ratings.IsPublic ? "style=\"opacity: 0.50\"" : "")>
				<td>@(ratings.IsPublic ? "" : "*") @ratings.UserName</td>
				<td>@ratings.Entertainment</td>
				<td>@ratings.TechQuality</td>
			</tr>
		}
		<tfoot>
			<tr>
				<th>Average</th>
				<td>@Model.AverageEntertainmentRating</td>
				<td>@Model.AverageTechRating</td>
			</tr>
		</tfoot>
	</table>
}
else
{
	<warning-alert>No Ratings</warning-alert>
}

