@page "{id}"
@using TASVideos.Data.Entity.Forum
@model IndexModel
@{
	ViewData["Title"] = $"TASVideos Forum {Model.Forum.Name}";
}

@functions {
	string ToTitle(string title, ForumTopicType type)
	{
		switch (type)
		{
			default:
				return title;
			case ForumTopicType.Sticky:
				return "<b>Sticky: </b> " + title;
			case ForumTopicType.Announcement:
				return "<b>Announcement</b> " + title;
		}
	}
}
<partial Name="_ForumHeader" />
<a permission="EditForums" asp-page="Edit" asp-route-id="@Model.Forum.Id" class="pull-right btn btn-primary btn-sm">Edit</a>
<a permission="CreateForumTopics" asp-page="/Forum/Topics/Create" asp-route-forumId="@Model.Forum.Id" class="mr-2 pull-right btn btn-primary btn-sm"><span class="fa fa-plus"></span> New Topic</a>
<h4>
	<a asp-page="/Forum/Index">Forum</a> -> @Model.Forum.Name
</h4>
<div>
	<small>@Html.Raw(Model.Forum.Description)</small>
</div>
<hr />
<partial name="_Pager" model="Model.Forum.Topics" />

<table class="table table-striped table-bordered">
	<tr>
		<th></th>
		<th>Topics</th>
		<th>Replies</th>
		<th>Author</th>
		<td>Views</td>
		<td>Last Post</td>
	</tr>
	@foreach (var topic in Model.Forum.Topics)
	{
		<tr>
			<td>
				<span condition="@(topic.Type == ForumTopicType.Sticky)" class="fa fa-sticky-note"></span>
				<span condition="@(topic.Type == ForumTopicType.Announcement)" class="fa fa-bullhorn"></span>
			</td>
			<td>
				<a asp-page="/Forum/Topics/Index" asp-route-id="@topic.Id">
					@Html.Raw(ToTitle(topic.Title, topic.Type))
				</a>
			</td>
			<td>@(topic.PostCount - 1)</td>
			<td>@topic.CreateUserName</td>
			<td>@topic.Type</td>
			<td><timezone-convert asp-for="@topic.LastPostDateTime" /></td>
		</tr>
	}
</table>

