@page
@model AdvancedModel
@{
	ViewData.SetTitle("Advanced Search");
}

<small>
	Performs a case-insensitive search using a regular expression.
</small>
<form method="get">
	<row class="mt-3">
		<column lg="6">
			<fieldset>
				<label asp-for="SearchTerms"></label>
				<input asp-for="SearchTerms" />
				<span condition="PageContext.HttpContext.Request.QueryString.HasValue" asp-validation-for="SearchTerms"></span>
			</fieldset>
			<fieldset>
				<div>
					<input asp-for="SearchGames" />
					<label asp-for="SearchGames"></label>
				</div>
				<div>
					<input asp-for="SearchPublications" />
					<label asp-for="SearchPublications"></label>
				</div>
				<div>
					<input asp-for="SearchWiki" />
					<label asp-for="SearchWiki"></label>
				</div>
				<div>
					<input asp-for="SearchForumTopics" />
					<label asp-for="SearchForumTopics"></label>
				</div>
				<div>
					<input asp-for="SearchForumPosts" />
					<label asp-for="SearchForumPosts"></label>
				</div>
				<div>
					<input asp-for="SearchUsers" />
					<label asp-for="SearchUsers"></label>
				</div>
			</fieldset>
			<submit-button>Search</submit-button>
		</column>
	</row>
</form>

@{
	const string pagerClass = "btn btn-secondary border-dark flex-grow-0";
	const string pagerDisabledClass = "btn btn-silver border-dark flex-grow-0";
}

<fullrow class="my-2 text-center">
	<div class="btn-group flex-wrap" role="group">
		<a disable="!Model.EnablePrev" class="@(Model.EnablePrev ? pagerClass : pagerDisabledClass)"
		   asp-route-SearchTerms="@Model.SearchTerms"
		   asp-route-PageNumber="@(Model.PageNumber - 1)"
		   asp-route-SearchWiki="@Model.SearchWiki"
		   asp-route-SearchForumTopics="@Model.SearchForumTopics"
		   asp-route-SearchForumPosts="@Model.SearchForumPosts"
		   asp-route-SearchPublications="@Model.SearchPublications"
		   asp-route-SearchGames="@Model.SearchGames"
		   asp-route-SearchUsers="@Model.SearchUsers">
			<i class="fa fa-chevron-left"></i>
		</a>
		<a condition="Model.EnablePrev" disable="true" class="btn btn-outline-silver border-dark flex-grow-0">...</a>
		<a disable="true" class="@pagerDisabledClass">@Model.PageNumber</a>
		<a condition="Model.EnableNext" disable="true" class="btn btn-outline-silver border-dark flex-grow-0">...</a>
		<a disable="!Model.EnableNext" class="@(Model.EnableNext ? pagerClass : pagerDisabledClass)" asp-route-SearchTerms="@Model.SearchTerms"
		   asp-route-PageNumber="@(Model.PageNumber + 1)"
		   asp-route-SearchWiki="@Model.SearchWiki"
		   asp-route-SearchForumTopics="@Model.SearchForumTopics"
		   asp-route-SearchForumPosts="@Model.SearchForumPosts"
		   asp-route-SearchPublications="@Model.SearchPublications"
		   asp-route-SearchGames="@Model.SearchGames"
		   asp-route-SearchUsers="@Model.SearchUsers">
			<i class="fa fa-chevron-right"></i>
		</a>
	</div>
</fullrow>

<div condition="Model.GameResults.Any()">
	<h4>Game Results:</h4>
	<standard-table>
		@foreach (var result in Model.GameResults.Take(Model.DisplayPageSize))
		{
			<tr>
				<td>
					<a asp-page="/Games/Index" asp-route-id="@result.Id">@result.DisplayName</a>
				</td>
			</tr>
		}
	</standard-table>
</div>

<div condition="Model.PublicationResults.Any()">
	<h4>Publication Results:</h4>
	<standard-table>
		@foreach (var result in Model.PublicationResults.Take(Model.DisplayPageSize))
		{
			<tr>
				<td>
					<a href="/@(result.Id)M">@result.Title</a>
				</td>
			</tr>
		}
	</standard-table>
</div>

<div condition="Model.PageResults.Any()">
	<h4>Wiki Results:</h4>
	<standard-table>
		<table-head columns="Page,Content"></table-head>
		@foreach (var result in Model.PageResults.Take(Model.DisplayPageSize))
		{
			<tr>
				<td>
					<wiki-link page-name="@result.PageName"></wiki-link>
				</td>
				<td>
					@result.Text
				</td>
			</tr>
		}
	</standard-table>
</div>

<div condition="Model.TopicResults.Any()">
	<h4>Topic Results:</h4>
	<standard-table>
		<table-head columns="Subforum,Topic"></table-head>
		@foreach (var result in Model.TopicResults.Take(Model.DisplayPageSize))
		{
			<tr>
				<td>
					@result.SubforumName
				</td>
				<td>
					<a href="/Forum/Topics/@result.TopicId">@result.TopicName</a>
				</td>
			</tr>
		}
	</standard-table>
</div>

<div condition="Model.PostResults.Any()">
	<h4>Post Results:</h4>
	<standard-table>
		<table-head columns="Post,Content"></table-head>
		@foreach (var result in Model.PostResults.Take(Model.DisplayPageSize))
		{
			<tr>
				<td>
					<a href="/Forum/Posts/@result.PostId">@result.TopicName</a>
				</td>
				<td>
					@{
						var start = Math.Max(0, result.Index - 30);
						var length = Math.Min(60, result.Text.Length - start);
					}
					@result.Text.Substring(start, length)
				</td>
			</tr>
		}
	</standard-table>
</div>

<div condition="Model.UserResults.Any()">
	<h4>User Results:</h4>
	<standard-table>
		<table-head columns="User,Roles"></table-head>
		@foreach (var result in Model.UserResults.Take(Model.DisplayPageSize))
		{
		<tr>
			<td>
				<profile-link username="@result.UserName"></profile-link>
			</td>
			<td>
				@string.Join(",", result.Roles)
			</td>
		</tr>
		}
	</standard-table>
</div>

<fullrow class="my-2 text-center">
	<div class="btn-group flex-wrap" role="group">
		<a disable="!Model.EnablePrev" class="@(Model.EnablePrev ? pagerClass : pagerDisabledClass)"
		   asp-route-SearchTerms="@Model.SearchTerms"
		   asp-route-PageNumber="@(Model.PageNumber - 1)"
		   asp-route-SearchWiki="@Model.SearchWiki"
		   asp-route-SearchForumTopics="@Model.SearchForumTopics"
		   asp-route-SearchForumPosts="@Model.SearchForumPosts"
		   asp-route-SearchPublications="@Model.SearchPublications"
		   asp-route-SearchGames="@Model.SearchGames"
		   asp-route-SearchUsers="@Model.SearchUsers">
			<i class="fa fa-chevron-left"></i>
		</a>
		<a condition="Model.EnablePrev" disable="true" class="btn btn-outline-silver border-dark flex-grow-0">...</a>
		<a disable="true" class="@pagerDisabledClass">@Model.PageNumber</a>
		<a condition="Model.EnableNext" disable="true" class="btn btn-outline-silver border-dark flex-grow-0">...</a>
		<a disable="!Model.EnableNext" class="@(Model.EnableNext ? pagerClass : pagerDisabledClass)" asp-route-SearchTerms="@Model.SearchTerms"
		   asp-route-PageNumber="@(Model.PageNumber + 1)"
		   asp-route-SearchWiki="@Model.SearchWiki"
		   asp-route-SearchForumTopics="@Model.SearchForumTopics"
		   asp-route-SearchForumPosts="@Model.SearchForumPosts"
		   asp-route-SearchPublications="@Model.SearchPublications"
		   asp-route-SearchGames="@Model.SearchGames"
		   asp-route-SearchUsers="@Model.SearchUsers">
			<i class="fa fa-chevron-right"></i>
		</a>
	</div>
</fullrow>
