@page
@model IndexModel
@{
	ViewData.SetTitle("Search Wiki and Forums");
}

<small>
	@await Html.RenderWiki(SystemWiki.SearchTerms)
</small>
<form method="get">
	<row class="mt-3">
		<column lg="6">
			<fieldset>
				<label asp-for="SearchTerms"></label>
				<input asp-for="SearchTerms" />
				<span condition="PageContext.HttpContext.Request.QueryString.HasValue" asp-validation-for="SearchTerms"></span>
			</fieldset>
			<submit-button>Search</submit-button>
		</column>
	</row>
</form>

@{
	const string pagerClass = "btn btn-secondary border-dark flex-grow-0";
	const string pagerDisabledClass = "btn btn-silver border-dark flex-grow-0";
	bool prevDisabled = Model.PageNumber <= 1;
	bool nextDisabled = Model.PageResults.Count <= IndexModel.PageSize && Model.PostResults.Count <= IndexModel.PageSize && Model.GameResults.Count <= IndexModel.PageSize;
}

<fullrow class="my-2 text-center">
	<div class="btn-group flex-wrap" role="group">
		<a disable="prevDisabled" asp-page="/Search/Index" class="@(prevDisabled ? pagerDisabledClass : pagerClass)" asp-route-SearchTerms="@Model.SearchTerms" asp-route-PageNumber="@(Model.PageNumber - 1)"><i class="fa fa-chevron-left"></i></a>
		<a condition="!prevDisabled" disable="true" class="btn btn-outline-silver border-dark flex-grow-0">...</a>
		<a disable="true" class="@pagerDisabledClass">@Model.PageNumber</a>
		<a condition="!nextDisabled" disable="true" class="btn btn-outline-silver border-dark flex-grow-0">...</a>
		<a disable="nextDisabled" asp-page="/Search/Index" class="@(nextDisabled ? pagerDisabledClass : pagerClass)" asp-route-SearchTerms="@Model.SearchTerms" asp-route-PageNumber="@(Model.PageNumber + 1)"><i class="fa fa-chevron-right"></i></a>
	</div>
</fullrow>

<div condition="Model.PublicationResults.Any()">
	<h4>Publication Results:</h4>
	<standard-table>
		<table-head columns="Publication"></table-head>
		@foreach (var result in Model.PublicationResults.Take(IndexModel.PageSize))
		{
			<tr style="@(result.IsObsolete ? "opacity: 0.6" : "")">
				<td><pub-link id="result.Id">[@result.Id] @result.Title</pub-link></td>
			</tr>
		}
		@if (Model.PublicationResults.Count == IndexModel.PageSize + 1)
		{
			<tr><td>...</td></tr>
		}
	</standard-table>
</div>

<div condition="Model.GameResults.Any()">
	<h4>Game Results:</h4>
	<standard-table>
		<table-head columns="Game,System,Groups"></table-head>
		@foreach (var result in Model.GameResults.Take(IndexModel.PageSize))
		{
			<tr>
				<td>
					<a asp-page="/Games/Index" asp-route-id="@result.Id">@result.DisplayName</a>
				</td>
				<td>@string.Join(", ", result.Systems.Distinct())</td>
				<td>
					@foreach (var group in result.Groups)
					{
						<span><a asp-page="/GameGroups/Index" asp-route-id="@group.Id">@group.Name</a><span condition="group != result.Groups.Last()">, </span></span>
					}
				</td>
			</tr>
		}
		@if (Model.GameResults.Count == IndexModel.PageSize + 1)
		{
			<tr><td>...</td><td></td><td></td></tr>
		}
	</standard-table>
</div>

<div condition="Model.PageResults.Any()">
	<h4>Wiki Results:</h4>
	<standard-table>
		<table-head columns="Page,Content"></table-head>
		@foreach (var result in Model.PageResults.Take(IndexModel.PageSize))
		{
			<tr>
				<td>
					<wiki-link page-name="@result.PageName"></wiki-link>
				</td>
				<td>
					@Html.Raw(result.Highlight)
				</td>
			</tr>
		}
		@if (Model.PageResults.Count == IndexModel.PageSize + 1)
		{
			<tr><td>...</td><td></td></tr>
		}
	</standard-table>
</div>

<div condition="Model.PostResults.Any()">
	<h4>Post Results:</h4>
	<standard-table>
		<table-head columns="Post,Content"></table-head>
		@foreach (var result in Model.PostResults.Take(IndexModel.PageSize))
		{
			<tr>
				<td>
					<a href="/Forum/Posts/@result.PostId">@result.TopicName</a>
				</td>
				<td>
					@Html.Raw(result.Highlight)
				</td>
			</tr>
		}
		@if (Model.PostResults.Count == IndexModel.PageSize + 1)
		{
			<tr><td>...</td><td></td></tr>
		}
	</standard-table>
</div>

<fullrow class="my-2 text-center" condition="Model.PostResults.Count > 0">
	<div class="btn-group flex-wrap" role="group">
		<a disable="prevDisabled" asp-page="/Search/Index" class="@(prevDisabled ? pagerDisabledClass : pagerClass)" asp-route-SearchTerms="@Model.SearchTerms" asp-route-PageNumber="@(Model.PageNumber - 1)"><i class="fa fa-chevron-left"></i></a>
		<a condition="!prevDisabled" disable="true" class="btn btn-outline-silver border-dark flex-grow-0">...</a>
		<a disable="true" class="@pagerDisabledClass">@Model.PageNumber</a>
		<a condition="!nextDisabled" disable="true" class="btn btn-outline-silver border-dark flex-grow-0">...</a>
		<a disable="nextDisabled" asp-page="/Search/Index" class="@(nextDisabled ? pagerDisabledClass : pagerClass)" asp-route-SearchTerms="@Model.SearchTerms" asp-route-PageNumber="@(Model.PageNumber + 1)"><i class="fa fa-chevron-right"></i></a>
	</div>
</fullrow>