@page
@model IndexModel
@{
	ViewData.SetTitle("Search Wiki and Forums");
}

<small>
	@await Html.RenderWiki(SystemWiki.SearchTerms)
</small>
<form method="get">
	<row class="mt-3">
		<column lg="6">
			<fieldset>
				<label asp-for="SearchTerms"></label>
				<input type="text" asp-for="SearchTerms" class="form-control" />
				<span condition="PageContext.HttpContext.Request.QueryString.HasValue" asp-validation-for="SearchTerms"></span>
			</fieldset>
			<submit-button>Search</submit-button>
			<a condition="Model.PageNumber > 1" asp-page="/Search/Index" class="btn btn-secondary" asp-route-searchterms="@Model.SearchTerms" asp-route-pagenumber="@(Model.PageNumber - 1)">Prev</a>
			<a condition="Model.PageResults.Count > IndexModel.PageSize || Model.PostResults.Count > IndexModel.PageSize || Model.GameResults.Count > IndexModel.PageSize" asp-page="/Search/Index" class="btn btn-secondary" asp-route-searchterms="@Model.SearchTerms" asp-route-pagenumber="@(Model.PageNumber + 1)">Next</a>
		</column>
	</row>
</form>

<div condition="Model.GameResults.Any()">
	<hr />
	<h4>Game Results:</h4>
	<standard-table>
		<table-head columns="Game,System,Groups"></table-head>
		@foreach (var result in Model.GameResults.Take(IndexModel.PageSize))
		{
			<tr>
				<td>
					<a asp-page="/Games/Index" asp-route-id="@result.Id">@result.DisplayName</a>
				</td>
				<td>@string.Join(",", result.Systems.Distinct())</td>
				<td>
					@foreach (var group in result.Groups)
					{
						<a asp-page="/GameGroups/Index" asp-route-id="@group.Id">@group.Name</a>
					}
				</td>
			</tr>
		}
	</standard-table>
</div>

<div condition="Model.PageResults.Any()">
	<hr />
	<h4>Wiki Results:</h4>
	<standard-table>
		<table-head columns="Page,Content"></table-head>
		@foreach (var result in Model.PageResults.Take(IndexModel.PageSize))
		{
			<tr>
				<td>
					<wiki-link page-name="@result.PageName"></wiki-link>
				</td>
				<td>
					@Html.Raw(result.Highlight)
				</td>
			</tr>
		}
	</standard-table>
</div>

<div condition="Model.PostResults.Any()">
	<hr />
	<h4>Post Results:</h4>
	<standard-table>
		<table-head columns="Post,Content"></table-head>
		@foreach (var result in Model.PostResults.Take(IndexModel.PageSize))
		{
			<tr>
				<td>
					<a href="/Forum/Posts/@result.PostId">@result.TopicName</a>
				</td>
				<td>
					@Html.Raw(result.Highlight)
				</td>
			</tr>
		}
	</standard-table>
</div>
