@page "{GameId}"
@model AddModel
@{
	ViewData["Title"] = $"Adding RAM Addresses for {Model.Address.FormattedAddress} ({Model.Address.SystemCode} {Model.Address.GameName})";
}

<warning-alert>
	Ram address support will be removed from TASVideos. For applicable systems, a .wch file will be generated to replace see the <a asp-page="/Forums/Topics/Index" asp-route-id="23443">discussion topic</a> for details
</warning-alert>
<form method="post">
	<input type="hidden" asp-for="GameId" />
	<input type="hidden" asp-for="SystemId" />
	<row>
		<column lg="6">
			<form-group>
				<label asp-for="Address.GameRamAddressDomainId"></label>
				<select asp-for="Address.GameRamAddressDomainId" asp-items="@Model.Domains" class="form-control"></select>
				<span asp-validation-for="Address.GameRamAddressDomainId" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Address.FormattedAddress"></label>
				<div class="input-group">
					<span class="input-group-text">0x</span>
					<input asp-for="Address.FormattedAddress" class="form-control" />
				</div>
				<span asp-validation-for="Address.FormattedAddress" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Address.Type"></label>
				<select asp-for="Address.Type" asp-items="@Model.Types" class="form-control"></select>
				<span asp-validation-for="Address.Type" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Address.Signed"></label>
				<select asp-for="Address.Signed" asp-items="@Model.SignedOptions" class="form-control"></select>
				<span asp-validation-for="Address.Signed" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Address.Endian"></label>
				<select asp-for="Address.Endian" asp-items="@Model.EndianOptions" class="form-control"></select>
				<span asp-validation-for="Address.Endian" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Address.Description"></label>
				<input asp-for="Address.Description" class="form-control" />
				<span asp-validation-for="Address.Description" class="text-danger"></span>
			</form-group>
		</column>
	</row>
	<form-button-bar>
		<a asp-page="/RamAddresses/Index" asp-route-id="@Model.GameId" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
	</form-button-bar>
</form>