@model TASVideos.Core.Services.PublicationHistoryNode
@{
	var highlight = Model.Id == ViewData.Int("Highlight") ? "fw-bold fst-italic border border-info p-1" : "";
	var strikethrough = Model.ObsoletedById is null ? "" : "text-decoration-line-through";
}
<icon path="@Model.ClassIconPath" title="@Model.Class" />
@foreach (var flag in Model.Flags.Where(f => !string.IsNullOrWhiteSpace(f.IconPath)))
{
	<a href="/@flag.LinkPath">
		<img class="ms-1" title="@flag.Name" alt="[@flag.Name]" src="/@flag.IconPath" />
	</a>
}
<pub-link class="@highlight @strikethrough" id="@Model.Id">@Model.Title</pub-link>
<span>(<timezone-convert asp-for="@Model.CreateTimestamp" date-only="true" />)</span>
<ul class="mb-0">
	@foreach (var node in Model.Obsoletes)
	{
		<li>
			<partial name="_HistoryEntry" model="node" view-data="ViewData" />
		</li>
	}
</ul>
