<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<environment include="Production">
		<meta name="google-site-verification" content="dvluB-ypxKLVGmSQpqBmi9i1xo85I0OmRFD2GhJkTYw" />
	</environment>
	<title>@(ViewData["Title"] != null ? ViewData["Title"] + " - " : "")TASVideos</title>

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	<link rel="stylesheet" href="~/css/diffview.css" />
	<link rel="stylesheet" href="/css/site.css" />
	<link rel="stylesheet" id="style-dark-initial" href="/css/darkmode-initial.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		  integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
		  crossorigin="anonymous"
		  referrerpolicy="no-referrer" />

	<script src="~/js/site-head.js"></script>

	<link rel="alternate" href="/news.rss" type="application/rss+xml" title="TASVideos RSS News Feed">
	<link rel="alternate" href="/submissions.rss" type="application/rss+xml" title="TASVideos RSS Submission Feed">
	<link rel="alternate" href="/publications.rss" type="application/rss+xml" title="TASVideos RSS Publication Feed">
	<link rel="alternate" href="/wiki.rss" type="application/rss+xml" title="TASVideos RSS Wiki Feed">

	@if (IsSectionDefined("Header"))
	{
		@await RenderSectionAsync("Header")
	}
	else
	{
		<meta property="og:type" content="website" />
		<meta property="og:title" content="TASVideos" />
		<meta property="og:description" content="Tool-assisted game movies - When human skills are just not enough" />
		<meta property="og:url" content="@Context.Request.ToUrl()" />
		<meta property="og:image" content="@($"{Context.Request.ToBaseUrl()}/images/logo-embed.png")" />
	}
</head>
<body>
	<nav id="banner" class="navbar navbar-expand-md navbar-dark mb-4">
		<div class="container-fluid">
			<div class="site-banner w-100 overflow-hidden position-absolute start-0 top-0">
				<picture>
					<source srcset="/images/tasvideosbg.avif" type="image/avif">
					<source srcset="/images/tasvideosbg.webp" type="image/webp">
					<img src="/images/tasvideosbg.jpg">
				</picture>
			</div>
			<picture>
				<source srcset="/images/logo-light.webp .5x,
						/images/logo-light-2x.webp 1x,
						/images/logo-light-4x.webp 2x"
						type="image/webp">
				<img class="site-icon site-icon-light" src="/images/logo-light-2x.png"
					 srcset="/images/logo-light.png .5x,
						/images/logo-light-2x.png 1x,
						/images/logo-light-4x.png 2x" loading="lazy">
			</picture>
			<picture>
				<source srcset="/images/logo-dark.webp .5x,
						/images/logo-dark-2x.webp 1x,
						/images/logo-dark-4x.webp 2x"
						type="image/webp">
				<img class="site-icon site-icon-dark"
					 srcset="/images/logo-dark.png .5x,
						/images/logo-dark-2x.png 1x,
						/images/logo-dark-4x.png 2x" loading="lazy">
			</picture>
			<div id="mantra">
				<a id="brand" asp-page="/Index">TASVideos</a>
				<div id="mantra-1">Tool-assisted game movies</div>
				<div id="mantra-2">When human skills are just not enough</div>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="container">
					<div class="d-flex">
						<div class="me-auto">
							<partial name="_NavBarPartial" />
						</div>
						<div>
							<partial name="_LoginPartial" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	@{
		var title = ViewData["Title"]?.ToString();
		if (ViewData["WikiPage"] != null)
		{
			title = title.SplitCamelCase();
		}
	}
	@if (IsSectionDefined("PageTitle"))
	{
		@await RenderSectionAsync("PageTitle")
	}
	else
	{
		<div class="container mb-2">
			<h1>@title</h1>
		</div>
	}

<div class="container">
	<alert type="@TempData["MessageType"]" condition="@(!string.IsNullOrWhiteSpace(TempData["MessageType"]?.ToString()))" dismissible="true">
		@TempData["Message"]
	</alert>
	@RenderBody()
	<hr/>
	<footer class="mb-3">
		<button id="button-scrolltop" class="d-none position-fixed px-3 py-1 m-2 bottom-0 end-0 btn btn-primary fa fa-caret-up"></button>
		<row class="justify-content-start align-items-center">
			<p class="col-auto my-auto">&copy; @DateTime.UtcNow.Year - TASVideos <a href="https://github.com/TASVideos/tasvideos/commit/@ViewData["VersionSha"]">v@(ViewData["Version"])</a> - <a href="/api">API</a></p>
		</row>
	</footer>
</div>
	@await RenderSectionAsync("Scripts", required: false)
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"></script>
	<script src="~/js/site.js"></script>
	<script src="~/js/prism.js"></script>
</body>
</html>
