@functions {
	string Active(string menuName)
	{
		string active = "active";
		if (menuName == "Home" && ViewContext.PageGroup() == "Index")
		{
			return active;
		}

		if (menuName == "Forum" && ViewContext.PageGroup() == "Forum")
		{
			return active;
		}

		if (menuName == "Submissions" && ViewContext.PageGroup() == "Submissions")
		{
			return active;
		}

		if (menuName == "Movies" && ViewContext.PageGroup() == "Publications")
		{
			return active;
		}

		if (menuName == "Admin" &&
			(ViewContext.PageGroup() == "Roles"
				|| ViewContext.PageGroup() == "User"
				|| ViewContext.PageGroup() == "Permissions"))
		{
			return active;

		}

		if (menuName == (string)ViewData["ActiveTab"])
		{
			return active;
		}

		if (menuName == (string)TempData["ActiveTab"])
		{
			return active;
		}

		// Wiki Controller actions that are not the general wiki page action
		if (string.IsNullOrWhiteSpace((string)ViewData["ActiveTab"])
			&& string.IsNullOrWhiteSpace((string)TempData["ActiveTab"])
			&& menuName == "Wiki" && ViewContext.PageGroup() == "Wiki")
		{
			return active;
		}

		return "";
	}
}

<ul class="navbar-nav">
	<li class="nav-item @(Active("Home"))">
		<a class="nav-link" asp-page="/Index">Home</a>
	</li>
	<li class="nav-item @(Active("Movies"))">
		<a class="nav-link" href="/Movies">Movies</a>
	</li>
	<li class="nav-item @Active("Game Resources")">
		<a class="nav-link" href="/GameResources">Game Resources</a>
	</li>
	<li class="nav-item @(Active("ArticleIndex"))">
		<a class="nav-link" href="/ArticleIndex">Articles</a>
	</li>
	<li class="nav-item @(Active("Emulators"))">
		<a class="nav-link" href="/EmulatorResources">Emulators</a>
	</li>
	<li class="nav-item @(Active("Submissions"))">
		<a class="nav-link" asp-page="/Submissions/Index">Submissions</a>
	</li>
	<li class="nav-item @(Active("Forum"))">
		<a class="nav-link" asp-controller="Forum" asp-action="Index">Forum</a>
	</li>
	<li class="nav-item @(Active("News"))">
		<a class="nav-link" href="/News">News</a>
	</li>
	<li condition="ViewData.UserHasAny(new[] { PermissionTo.ViewPrivateUserData, PermissionTo.EditUsers, PermissionTo.EditRoles })" class="nav-item dropdown @(Active("Admin"))">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="/MediaPosts">Media Posts</a>
			@if (ViewData.UserHasAny(new[] {PermissionTo.ViewPrivateUserData, PermissionTo.EditUsers}))
			{
				<a class="dropdown-item" asp-page="/Users/List">Users</a>
			}
			<a class="dropdown-item" asp-page="/Roles/List">Roles</a>
			<a class="dropdown-item" asp-page="/Permissions/Index">Permissions</a>
		</div>
	</li>
	<li condition="ViewData.UserHasAny(new[] { PermissionTo.EditWikiPages, PermissionTo.EditSystemPages, PermissionTo.MoveWikiPages, PermissionTo.DeleteWikiPages })" class="nav-item dropdown @(Active("Wiki"))">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Wiki<span class="caret"></span></a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="/SandBox">SandBox</a>
			<a class="dropdown-item" href="/RecentChanges">Recent Changes</a>
			<a class="dropdown-item" href="/WikiOrphans">Orphans</a>
			<a class="dropdown-item" href="/TODO">To Do</a>
			<a class="dropdown-item" href="/System">System Pages</a>
			<a permission="SeeDeletedWikiPages" asp-page="/Wiki/DeletedPages" class="dropdown-item" >Deleted Pages</a>
		</div>
	</li>
</ul>