@using System.Reflection
@model IPaged
@{
	var props = Model.GetType().GetProperties(BindingFlags.Public).ToList();
	var pagedProps = typeof(IPaged).GetProperties(BindingFlags.FlattenHierarchy).ToList();

	var z = Model.AdditionalProperties();
	int zzz = 0;
}

<row class="mb-1">
	<div class="col-md-4 float-left" condition="@Model.LastPage() > 1">
		<a
			disable="@Model.CurrentPage == 1"
			asp-page="@ViewContext.Page()"
			asp-route-CurrentPage="1"
			asp-route-PageSize="@Model.PageSize"
			asp-route-SortDescending="@Model.SortDescending"
			asp-route-SortBy="@Model.SortBy"
			class="btn btn-secondary btn-sm" title="First Page">
			<span class="fa fa-fast-backward"></span>
		</a>
		<a
			disable="@Model.CurrentPage == 1"
			asp-page="@ViewContext.Page()"
			asp-route-CurrentPage="@(Model.CurrentPage - 1)"
			asp-route-PageSize="@Model.PageSize"
			asp-route-SortDescending="@Model.SortDescending"
			asp-route-SortBy="@Model.SortBy"
			class="btn btn-secondary btn-sm" title="Previous Page">
			<span class="fa fa-chevron-left"></span>
		</a>
		<a
			disable="@Model.CurrentPage == Model.LastPage()"
			asp-page="@ViewContext.Page()"
			asp-route-CurrentPage="@(Model.CurrentPage + 1)"
			asp-route-PageSize="@Model.PageSize"
			asp-route-SortDescending="@Model.SortDescending"
			asp-route-SortBy="@Model.SortBy"
			asp-all-route-data="@Model.AdditionalProperties()"
			class="btn btn-secondary btn-sm" title="Next Page">
			<span class="fa fa-chevron-right"></span>
		</a>
		<a
			disable="@Model.CurrentPage == Model.LastPage()"
			asp-page="@ViewContext.Page()"
			asp-route-CurrentPage="@Model.LastPage()"
			asp-route-PageSize="@Model.PageSize"
			asp-route-SortDescending="@Model.SortDescending"
			asp-route-SortBy="@Model.SortBy"
			class="btn btn-secondary btn-sm" title="Last Page">
			<span class="fa fa-fast-forward"></span>
		</a>
		<a asp-page="@ViewContext.Page()" class="btn btn-secondary btn-sm">Reset</a>
	</div>
	<div class="@(Model.LastPage() > 1 ? "col-md-4 text-md-center" : "text-md-right")">
		<label>Showing @Model.StartRow() - @Model.LastRow() of @Model.RowCount</label>
	</div>
	<div class="col-md-4 text-md-right" condition="@Model.LastPage() > 1">
		<form method="GET" asp-page="@ViewContext.Page()">
			<input type="hidden" asp-for="PageSize" />
			<input type="hidden" asp-for="SortDescending" />
			<input type="hidden" asp-for="SortBy" />
			<label>Page <input type="number" asp-for="CurrentPage" min="1" max="@Model.LastPage()" class="input-sm" style="height: 23px; padding: 2px 5px; max-width: 65px;"> Of @Model.LastPage()</label>
			<button type="submit" class="btn btn-secondary btn-sm">Go To</button>
		</form>
	</div>
</row>