@model UserProfile
@{
	var lastLoggedIn = Model.LastLoggedIn ?? DateTime.UtcNow;
	bool canViewPrivateData = User.Has(PermissionTo.ViewPrivateUserData) || Model.Id == User.GetUserId();
}
<row>
	<column md="6">
		<card class="mb-2">
			<card-header>
				<row>
					<div class="col">
						<h4>
							<profile-link username="@Model.UserName" class="text-decoration-none text-body">@Model.UserName</profile-link>
						</h4>
					</div>
					<div class="col">
						<div class="float-end">
							<a condition="User.IsLoggedIn() && User.Name() != Model.UserName"
							asp-page="/Messages/Create"
							asp-route-defaultToUser="@Model.UserName"
							class="btn btn-secondary btn-sm">
								<i class="fa fa-envelope"></i> PM
							</a>
							<edit-link permission="EditUsers"
							asp-page="/Users/Edit"
							asp-route-returnUrl="@Context.CurrentPathToReturnUrl()"
							asp-route-id="@Model.Id"
							class="btn-sm"></edit-link>
						</div>
					</div>
				</row>
			</card-header>
			<card-body>
				<danger-alert condition="Model.IsBanned">
					<span condition="Model.BanIsIndefinite">User is banned indefinitely</span>
					<span condition="!Model.BanIsIndefinite">User is banned until <timezone-convert relative-time="false" asp-for="BannedUntil"/></span>
				</danger-alert>
				<img condition="@(!string.IsNullOrWhiteSpace(Model.Avatar))" src="@Model.Avatar" class="float-end"/>
				<div class="card-text">
					<a condition="Model.HasHomePage" href="/HomePages/@Model.UserName">Homepage</a>
					<small condition="!Model.HasHomePage">(No Home Page)</small>
					<br/>
					<label asp-for="JoinedOn"></label>:
					<label><timezone-convert asp-for="@Model.JoinedOn" date-only="true"/></label>
					<br/>
					<label asp-for="LastLoggedIn"></label>:
					<label condition="Model.LastLoggedIn.HasValue"><timezone-convert asp-for="@lastLoggedIn" date-only="true"/></label>
					<label condition="!Model.LastLoggedIn.HasValue">Never</label>
					<br/>
					<label asp-for="PreferredPronouns"></label>:
					<label>@Html.DisplayFor(m => m.PreferredPronouns)</label>
					<br/>
					<label asp-for="Location"></label>:
					<label>@Html.DisplayFor(m => m.Location)</label>
					<br/>
					<label asp-for="PostCount">Total posts:</label>
					<label>
						<a asp-page="/Forum/Posts/User" asp-route-username="@Model.UserName">
							@Html.DisplayFor(m => m.PostCount)
						</a>
					</label>
					<br/>
					<a condition="canViewPrivateData" class="btn btn-warning btn-sm mt-1 mb-2" data-bs-toggle="collapse" href="#pii">Private Data</a>
					<div class="collapse" id="pii">
						<div class="alert alert-info" condition="canViewPrivateData">
							<label asp-for="Id"></label>
							<label>@Model.Id</label>
							<br/>
							<label asp-for="TimeZone"></label>:
							<label>@Model.TimeZone</label>
							<br/>
							<div permission="SeeEmails">
								<label asp-for="Email"></label>:
								<label>@Model.Email</label>
							</div>
							<br/>
							<label asp-for="EmailConfirmed"></label>
							<div condition="Model.EmailConfirmed"><i class="fa fa-check-square text-success"></i> Yes</div>
							<div condition="!Model.EmailConfirmed"><i class="fa fa-exclamation-triangle text-danger"></i> No</div>
							<br/>
							<label asp-for="LockedOutStatus"></label>
							<div condition="Model.LockedOutStatus"><i class="fa fa-exclamation-triangle text-danger"></i><span> Locked out</span></div>
							<div condition="!Model.LockedOutStatus"><i class="fa fa-check-square text-success"></i><span> Not locked</span></div>
							<br />
							<div>
								<a permission="ViewPrivateUserData" asp-page="/Users/Ips" asp-route-username="@Model.UserName" class="btn btn-warning btn-sm">IP Addresses used</a>
							</div>
							<div>
								<a permission="ViewPrivateUserData" href="/UserMaintenanceLog?User=@Model.UserName" class="btn btn-warning btn-sm mt-2">Logs</a>
							</div>
						</div>
					</div>
					<div class="float-end mt-2">
						@foreach (var award in Model.Awards.OrderByDescending(a => a.Year))
						{
							<partial name="_Award" model="award"/>
						}
					</div>
				</div>
			</card-body>
			<div condition="!string.IsNullOrWhiteSpace(Model.Signature)" class="card-footer">
				<forum-markup markup="@Model.Signature" enable-html="false" enable-bb-code="true"></forum-markup>
			</div>
		</card>
		<card class="mb-2">
			<card-header><h4>Roles</h4></card-header>
			<card-body>
				@if (Model.Roles.Any())
				{
					foreach (var role in Model.Roles)
					{
						<label><a asp-page="/Roles/Index" asp-route-role="@role.Name">@role.Name</a></label>
						<div class="ms-3 mt-1 mb-3">@role.Description</div>
					}
				}
				else
				{
					<div class="alert alert-danger">This user has no Roles</div>
				}
			</card-body>
			<card-footer permission="ViewPrivateUserData" condition="!string.IsNullOrWhiteSpace(Model.ModeratorComments)">
				<label>Moderator Comments</label><br />
				<small>@Model.ModeratorComments</small>
			</card-footer>
		</card>
		<card condition="Model.Judgments.TotalJudgments > 0" class="mb-2">
			<card-header><h4>Judgments</h4></card-header>
			<card-body>
				<p>Total movies judged: <a asp-page="/Activity/Judges" asp-route-username="@Model.UserName">@Model.Judgments.TotalJudgments</a></p>
			</card-body>
		</card>
		<card condition="Model.Publishing.TotalPublished > 0" class="mb-2">
			<card-header><h4>Publishing</h4></card-header>
			<card-body>
				<p>Total movies published: <a asp-page="/Activity/Publishers" asp-route-username="@Model.UserName">@Model.Publishing.TotalPublished</a></p>
			</card-body>
		</card>
		<card class="mb-2" condition="Model.WikiEdits.TotalEdits > 0">
			<card-header><h4>Wiki</h4></card-header>
			<card-body>
				<div>
					<p>
						<a asp-page="/Wiki/EditHistory"
						   asp-route-username="@Model.UserName">
							@Model.WikiEdits.TotalEdits
						</a> Total Edits
					</p>
					<label>Last Edit: <timezone-convert asp-for="@Model.WikiEdits.LastEditDateTime" date-only="true" /></label>
					<br />
					<label>First Edit: <timezone-convert asp-for="@Model.WikiEdits.FirstEditDateTime" date-only="true" /></label>
				</div>
			</card-body>
		</card>
	</column>
	<column md="6">
		<card class="text-start text-md-end mb-2">
			<card-header><h4>Publications</h4></card-header>
			<card-body>
				<div condition="!Model.AnyPublications" class="card-text">
					<i>User has not had any Published Movies</i>
				</div>
				<div condition="Model.AnyPublications">
					<p>
						Player Points @Model.PlayerPoints
						<span condition="!string.IsNullOrWhiteSpace(Model.PlayerRank)">
							<br />@Model.PlayerRank
						</span>
					</p>
					<p>
						<a href="/Movies-Author@(Model.Id)">@Model.PublicationActiveCount Active</a>,
						<a href="/Movies-Author@(Model.Id)-obs">@(Model.PublicationActiveCount + Model.PublicationObsoleteCount) Total</a> (including obsoleted)
					</p>
					<p>Has published movies on these systems: @string.Join(", ", Model.PublishedSystems)</p>
				</div>
			</card-body>
		</card>
		<card class="text-start text-md-end mb-2">
			<card-header><h4>Submissions</h4></card-header>
			<card-body>
				<div condition="Model.SubmissionCount == 0" class="card-text">
					<i>User has not had any Submissions</i>
				</div>
				<div condition="Model.SubmissionCount > 0" class="card-text">
					<p>
						<a
							asp-page="/Submissions/Index"
							asp-route-user="@Model.UserName">
						@Model.SubmissionCount
					</a> Total
					</p>
					@foreach (var sub in Model.Submissions.OrderByDescending(s => s.Count))
					{
						<label>
							<a
								asp-page="/Submissions/Index"
								asp-route-user="@Model.UserName"
								asp-route-statuses="@((int)sub.Status)">
								@sub.Count
							</a>
							@sub.Status.EnumDisplayName()
						</label>
						<br />
					}
				</div>
			</card-body>
		</card>
		<card class="text-start text-md-end mb-2">
			<card-header><h4>Ratings</h4></card-header>
			<card-body>
				<a class="btn btn-warning btn-sm" a asp-page="/Users/Ratings" asp-route-userName="@Model.UserName">See Ratings</a>
				<label>Ratings Public?</label> @Model.PublicRatings.ToYesNo()
				<div condition="Model.PublicRatings">
					<label>
						Total Movies Rated:
						<a asp-page="/Users/Ratings"
							asp-route-userName="@Model.UserName">
							@Model.Ratings.TotalMoviesRated
						</a>
					</label>
					<br />
					<label>(Ratings of obsolete movies are not counted)</label>
				</div>
			</card-body>
		</card>
		<card class="text-start text-md-end mb-2" condition="Model.UserFiles.Total > 0">
			<card-header>
				<h4>User Files</h4>
			</card-header>
			<card-body>
				<a href="/UserFiles/ForUser/@Model.UserName">@Model.UserFiles.Total</a> files
				<br /><br />
				<span>Systems:</span><br />
				@string.Join(", ", Model.UserFiles.Systems.Where(s => !string.IsNullOrWhiteSpace(s)))
			</card-body>
		</card>
	</column>
</row>
