@model UserProfile
@{
	var lastLoggedIn = Model!.LastLoggedInTimeStamp ?? DateTime.UtcNow;
}
<row>
	<div class="col-md-6">
		<card>
			<cardheader>
				<h4>
					<a condition="User.IsLoggedIn() && User.Name() != Model.UserName"
					   asp-page="/Messages/Create"
					   asp-route-defaultToUser="@Model.UserName"
					   class="btn btn-secondary btn-sm">
						<i class="fa fa-envelope"></i> PM
					</a>
					<a permission="EditUsers"
					   asp-page="/Users/Edit"
					   asp-route-returnUrl="@Context.CurrentPathToReturnUrl()"
					   asp-route-id="@Model.Id"
					   class="btn btn-primary btn-sm border border-warning">
						<i class="fa fa-pencil"></i> Edit
					</a>
					@Model.UserName
				</h4>
			</cardheader>
			<cardbody>
				<img condition="@(!string.IsNullOrWhiteSpace(Model.Avatar))" src="@Model.Avatar" class="float-end" />
				<div class="card-text">
					<a href="/HomePages/@Model.UserName">Homepage</a>
					<br />
					<label asp-for="JoinDate"></label>
					<label><timezone-convert asp-for="@Model.JoinDate" date-only="true" /></label>
					<br />
					<label asp-for="LastLoggedInTimeStamp"></label>
					<label condition="Model.LastLoggedInTimeStamp.HasValue"><timezone-convert asp-for="@lastLoggedIn" date-only="true" /></label>
					<label condition="!Model.LastLoggedInTimeStamp.HasValue">Never</label>
					<br />
					<label asp-for="PreferredPronouns"></label>
					<label>@Html.DisplayFor(m => m.PreferredPronouns)</label>
					<br />
					<label asp-for="Location"></label>
					<label>@Html.DisplayFor(m => m.Location)</label>
					<br />
					<label asp-for="PostCount"></label>
					<label>
						<a asp-page="/Forum/Posts/User" asp-route-username="@Model.UserName">
							@Html.DisplayFor(m => m.PostCount)
						</a>
					</label>
					<br />
					<label asp-for="TimeZone"></label>
					<label>@Model.TimeZone</label>
					<br />
					<div class="alert alert-info" permission="ViewPrivateUserData">
						<label asp-for="Id"></label>
						<label>@Model.Id</label>
						<br />
						<label asp-for="Email"></label>
						<label>@Model.Email</label>
						<br />
						<label asp-for="EmailConfirmed" class="form-control-label"></label>
						@if (Model.EmailConfirmed)
						{
							<span class="fa fa-check-square text-success"></span><span> Yes</span>
						}
						else
						{
							<div><span class="fa fa-exclamation-triangle text-danger"></span> No</div>
						}
						<br />
						<label asp-for="IsLockedOut" class="form-control-label"></label>
						@if (Model.IsLockedOut)
						{
							<span class="fa fa-exclamation-triangle text-danger"></span><span> Locked out</span>
						}
						else
						{
							<span class="fa fa-check-square text-success"></span><span> Not locked</span>
						}
						<div>
							<a asp-page="/Users/Ips" asp-route-username="@Model.UserName" class="btn btn-warning">IP Addresses used</a>
						</div>
					</div>
					<div class="float-end mt-2">
						@foreach (var award in Model.Awards.OrderByDescending(a => a.Year))
						{
							<partial name="_Award" model="award" />
						}
					</div>
				</div>
			</cardbody>
			<div condition="!string.IsNullOrWhiteSpace(Model.Signature)" class="card-footer">
				<forum-markup markup=@Model.Signature enable-html=false enable-bb-code=true></forum-markup>
			</div>
		</card>
		<card>
			<cardheader><h4>Roles</h4></cardheader>
			<cardbody>
				@if (Model.Roles.Any())
				{
					foreach (var role in Model.Roles)
					{
						<label><a asp-page="/Roles/Index" asp-route-role="@role.Name">@role.Name</a></label>
						<div class="ms-3 mt-1 mb-3">@role.Description</div>
					}
				}
				else
				{
					<div class="alert alert-danger">This user has no Roles</div>
				}
			</cardbody>
		</card>
		<card>
			<cardheader condition="Model.Judgments.TotalJudgments > 0"><h4>Judgments</h4></cardheader>
			<cardbody>
				<p>Total movies judged: <a asp-page="/Activity/Judges" asp-route-username="@Model.UserName">@Model.Judgments.TotalJudgments</a></p>
			</cardbody>
		</card>
		<card>
			<cardheader condition="Model.Publishing.TotalPublished > 0"><h4>Publishing</h4></cardheader>
			<cardbody>
				<p>Total movies published: <a asp-page="/Activity/Publishers" asp-route-username="@Model.UserName">@Model.Publishing.TotalPublished</a></p>
			</cardbody>
		</card>
		<card condition="Model.WikiEdits.TotalEdits > 0">
			<cardheader><h4>Wiki</h4></cardheader>
			<cardbody>
				<div>
					<p>
						<a asp-page="/Wiki/EditHistory"
						   asp-route-username="@Model.UserName">
							@Model.WikiEdits.TotalEdits
						</a> Total Edits
					</p>
					<label>Last Edit: <timezone-convert asp-for="@Model.WikiEdits.LastEditDateTime" date-only="true" /></label>
					<br />
					<label>First Edit: <timezone-convert asp-for="@Model.WikiEdits.FirstEditDateTime" date-only="true" /></label>
				</div>
			</cardbody>
		</card>
	</div>
	<div class="col-md-6">
		<card class="text-start text-md-end">
			<cardheader><h4>Publications</h4></cardheader>
			<cardbody>
				<div condition="!Model.AnyPublications" class="card-text">
					<i>User has not had any Published Movies</i>
				</div>
				<div condition="Model.AnyPublications">
					<p>
						@Html.DisplayNameFor(m => m.PlayerPoints) @Model.PlayerPoints
						<span condition="!string.IsNullOrWhiteSpace(Model.PlayerRank)">
							<br />@Model.PlayerRank
						</span>
					</p>
					<p>
						<a href="/Movies-Author@(Model.Id)">@Model.PublicationActiveCount Active</a>,
						<a href="/Movies-Author@(Model.Id)-obs">@(Model.PublicationActiveCount + Model.PublicationObsoleteCount) Total</a> (including obsoleted)
					</p>
					<p>Has published movies on these systems: @string.Join(", ", Model.PublishedSystems)</p>
				</div>
			</cardbody>
		</card>
		<card class="text-start text-md-end">
			<cardheader><h4>Submissions</h4></cardheader>
			<cardbody>
				<div condition="Model.SubmissionCount == 0" class="card-text">
					<i>User has not had any Submissions</i>
				</div>
				<div condition="Model.SubmissionCount > 0" class="card-text">
					<p>
						<a 
							asp-page="/Submissions/Index" 
							asp-route-user="@Model.UserName">
						@Model.SubmissionCount
					</a> Total
					</p>
					@foreach (var sub in Model.Submissions.OrderByDescending(s => s.Count))
					{
						<label>
							<a 
								asp-page="/Submissions/Index" 
								asp-route-user="@Model.UserName" 
								asp-route-statusfilter="@((int)sub.Status)">
								@sub.Count
							</a>
							@sub.Status.EnumDisplayName()
						</label>
						<br />
					}
				</div>
			</cardbody>
		</card>
		<card class="text-start text-md-end">
			<cardheader><h4>Ratings</h4></cardheader>
			<cardbody>
				<a class="btn btn-warning btn-sm" a asp-page="/Users/Ratings" asp-route-userName="@Model.UserName">See Ratings</a>
				<label asp-for="PublicRatings"></label> @Model.PublicRatings.ToYesNo()
				<div condition="Model.PublicRatings">
					<label>
						Total Movies Rated:
						<a asp-page="/Users/Ratings"
							asp-route-userName="@Model.UserName">
							@(Model.Ratings.TotalMoviesRated / 2.0)
						</a>
					</label>
					<br />
					<label>(Ratings of obsolete movies are not counted)</label>
				</div>
			</cardbody>
		</card>
		<card class="text-start text-md-end" condition="Model.UserFiles.Total > 0">
			<cardheader>
				<h4>User Files</h4>
			</cardheader>
			<cardbody>
				<a href="/UserFiles/ForUser/@Model.UserName">@Model.UserFiles.Total</a> files
				<br /><br />
				<span>Systems:</span><br />
				@string.Join(", ", Model.UserFiles.Systems.Where(s => !string.IsNullOrWhiteSpace(s)))
			</cardbody>
		</card>
	</div>
</row>