@model UserRatings
@{
	var isMyPage = User.GetUserId() == Model.Id;
	ViewData.SetTitle($"Ratings for {Model.UserName}");
	string userHasString = isMyPage ? "You have" : "User has";
	int totalUserRatingsCountWithoutOwn = Model.UsersWithLowerRatingsCount + Model.UsersWithEqualRatingsCount + Model.UsersWithHigherRatingsCount;
}
<h4>Summary</h4>
<p>
	@userHasString rated @(((double)(Model.RatingsCount) / Model.Summary.TotalPublicationCount).ToPercentage(1)) (@Model.RatingsCount of @Model.Summary.TotalPublicationCount) of all non-obsoleted published movies.
	<br />
	@userHasString rated more movies than @(((double)(Model.UsersWithLowerRatingsCount) / totalUserRatingsCountWithoutOwn).ToPercentage(1)) of users,
	and less than @(((double)(Model.UsersWithHigherRatingsCount) / totalUserRatingsCountWithoutOwn).ToPercentage(1)) of users.
	(@(((double)(Model.UsersWithEqualRatingsCount) / totalUserRatingsCountWithoutOwn).ToPercentage(1)) same.)
	<br />
	The raters' top-30 (out of @Model.Summary.TotalRaterCount users who have rated):
</p>
<ol style="column-width: 11rem; column-count: 3;">
	@{
		int rank = 1;
	}
	@foreach (var topRater in Model.Summary.TopRaters)
	{
		<li value="@rank">
			@(((double)(topRater.RatingsCount) / Model.Summary.TotalPublicationCount).ToPercentage(1)):
			@foreach (var userName in topRater.UserNames)
			{
				@(userName == topRater.UserNames.First() ? "" : "&")
				<a asp-page="/Users/Ratings" asp-route-username="@userName">@userName</a>
			}
		</li>
		rank += topRater.UserNames.Count;
		if (rank > 30)
		{
			break;
		}
	}
</ol>
<h4 condition="!isMyPage">User: <profile-link username="@Model.UserName"></profile-link></h4>
<div condition="isMyPage && !Model.PublicRatings" class="alert alert-warning">
	Your ratings are currently private and will not be visible to others. This can be changed on the
	<a asp-page="/Profile/Settings">Settings Page</a>
</div>
<div condition="!isMyPage && !Model.PublicRatings && !User.Has(PermissionTo.SeePrivateRatings)">
	<div class="alert alert-warning">This user's ratings are private</div>
</div>
<div condition="isMyPage || Model.PublicRatings || User.Has(PermissionTo.SeePrivateRatings)">
	<warning-alert condition="!isMyPage && !Model.PublicRatings && User.Has(PermissionTo.SeePrivateRatings)">
		This user has elected to keep their ratings private. You are seeing this because you have the @nameof(PermissionTo.SeePrivateRatings) permission
	</warning-alert>
	<form id="obsolete-form">
		<div class="d-flex justify-content-end" style="gap: 8px;">
			<label style="margin: auto 0" for="include-obsolete">Include Obsolete <input id="include-obsolete" name="IncludeObsolete" checked="@(Model.Ratings.Request.IncludeObsolete)" type="checkbox" asp-for="Ratings.Request.IncludeObsolete"/></label>
			<noscript>
				<submit-button btn-class-override="ml-2 btn-secondary btn-sm" class="float-center">Go</submit-button>
			</noscript>
		</div>
	</form>
	<partial name="_Pager" model="Model.Ratings" />
	<standard-table>
		<sortable-table-head sorting="@Model.Ratings.Request" model-type="typeof(UserRatings.Rating)" page-override="@Context.Request.Path" />
		@foreach (var rating in Model.Ratings)
		{
			<tr style="@(rating.IsObsolete ? "opacity: 0.6" : "")">
				<td><a href="/@(rating.PublicationId)M">@rating.PublicationTitle</a></td>
				<td>@(Math.Round(rating.Value, 1))</td>
				<td>@rating.IsObsolete.ToYesNo()</td>
			</tr>
		}
	</standard-table>
</div>
<script src="/js/rating-list.js"></script>
