@model UserFileModel

@functions
{
	string FormatTime(TimeSpan timeSpan)
	{
		var format =
			timeSpan.TotalDays >= 1 ? @"d\:hh\:mm\:ss\.ff" :
			timeSpan.TotalHours >= 1 ? @"h\:mm\:ss\.ff" :
			@"mm\:ss\.ff";

		return timeSpan.ToString(format);
	}
}

@{
	var canEdit = Model.Author == User.Name() || User.Has(PermissionTo.EditUserFiles);
}

<div class="card mb-3">
	<div class="card-header">
		<h4>
			#@Model.Id - @Model.Title
			<span condition="canEdit" class="pull-right">
				<button class="btn btn-secondary btn-sm">Edit</button>
				<delete-button
					class="btn-sm",
					warning-message="Are you sure you want to delete this file?"

					asp-href="/UserFiles?handler=Delete&fileId=@Model.Id&returnUrl=@Context.ReturnUrl()"
				>
					<i class="fa fa-remove"></i>
				</delete-button>
			</span>
		</h4>
		
	</div>

	<div class="card-body">
		<div class="card-text">
			<p>@Model.FileName</p>
			<p>Uploaded <timezone-convert asp-for="@Model.UploadTimestamp" /> by @Model.Author</p>

			@if (Model.GameId.HasValue)
			{
				<p>
					For
					<a href="/Games/@Model.GameId">@Model.GameName</a>

					<span condition="Model.GameSystem is not null">
						(@(Model.GameSystem ?? Model.System))
					</span>
				</p>
			}
			else if (Model.System is not null)
			{
				<text>For @Model.System</text>
			}

			@if (Model.IsMovie)
			{
				<p>In @FormatTime(Model.Time) (@Model.Frames frames), @Model.Rerecords rerecords</p>
			}

			<p>
				@Model.Views view@(Model.Views == 1 ? "" : "s"),
				@Model.Downloads download@(Model.Downloads == 1 ? "" : "s")
			</p>
		</div>

		@if (!string.IsNullOrEmpty(Model.Description))
		{
			<hr />
			<div class="card-text">
				<wiki-markup markup=@Model.Description></wiki-markup>
			</div>
		}

		<hr />
		@if (Model.Comments.Any())
		{

			<collapsablecontent-header body-id="collapse-content-userfile-@Model.Id">
				<strong>Comments</strong>
			</collapsablecontent-header>
			<collapsablecontent-body id="collapse-content-userfile-@Model.Id" start-shown="@true">
				@foreach (var comment in Model.Comments.OrderBy(c => c.CreationTimeStamp))
				{
					<profile-link username="@comment.UserName"></profile-link><span> on </span><timezone-convert asp-for="@comment.CreationTimeStamp" />
					<wiki-markup markup="@comment.Text" id="view-comment-@comment.Id"></wiki-markup>
					<div condition="User.GetUserId() == comment.UserId">
						<div class="d-none" id="edit-comment-@comment.Id">
							<form method="POST" asp-page="/UserFiles/Index" asp-route-handler="EditComment" asp-route-returnUrl="@Context.ReturnUrl()">
								<input type="hidden" name="commentId" value="@comment.Id" />
								<textarea name="comment" class="form-control">@comment.Text</textarea>
								<button type="submit" class="btn btn-secondary btn-sm mt-1">Post</button>
							</form>
						</div>
						
						<button type="button" class="btn btn-secondary btn-sm mb-2" onclick="this.classList.add('d-none'); document.getElementById('edit-comment-@comment.Id').classList.remove('d-none'); document.getElementById('view-comment-@comment.Id').classList.add('d-none');">Edit</button>
						<delete-button
							class="btn-sm mb-2"
							asp-href="/UserFiles/Index?handler=DeleteComment&commentId=@comment.Id&returnUrl=@Context.ReturnUrl()"
							warning-message="Are you sure you want to delete this comment?"
							condition="User.Has(PermissionTo.EditForumPosts) || User.GetUserId() == comment.UserId">
							<i class="fa fa-remove"></i>
						</delete-button>
					</div>
				}
			</collapsablecontent-body>
			<hr />
		}
		
		<div permission="CreateForumPosts">
			<form method="POST" asp-page="/UserFiles/Index" asp-route-handler="Comment" asp-route-returnUrl="@Context.ReturnUrl()">
				<input type="hidden" name="fileId" value="@Model.Id "/>
				<label class="form-control-label">Comment:</label>
				<textarea class="form-control" name="comment"></textarea>
				<button type="submit" class="btn btn-secondary mt-1">Post</button>
			</form>
			<hr />
		</div>
		<a asp-page="/UserFiles/Info" asp-page-handler="Download" asp-route-id="@Model.Id" class="card-link">
			Download (@Model.FileSize.ToSizeString())
		</a>

		<a asp-page="/UserFiles/Info" asp-route-id="@Model.Id" class="card-link">
			Info
		</a>
	</div>
</div>
