@model WikiPage
@{
	bool canEdit = WikiHelper.UserCanEditWikiPage(Model.PageName, User.Identity.Name, (IEnumerable<PermissionTo>)ViewData["UserPermissions"]);
}

@if (Model.IsSystemPage())
{
	@await Component.SystemPageFooter(Model)
}
else if (Model.IsGameResourcesPage())
{
	@await Component.GameResourcesFooter(Model)
}
else if (Model.IsHomePage())
{
	@await Component.HomePageFooter(Model)
}
else
{
	@await Component.ListSubPages(Model)
}

<hr />
<small>
	@Model.PageName last edited by @Model.LastUpdateUserName on @Model.LastUpdateTimeStamp
</small>
<br />

<a
	condition="@canEdit"
	asp-page="/Wiki/Edit"
	asp-route-path="@Model.PageName"
	class="btn btn-primary btn-sm">
	Edit
</a>
<a
	permission="MoveWikiPages"
	asp-page="/Wiki/Move"
	asp-route-path="@Model.PageName"
	class="btn btn-warning btn-sm">Move
</a>
<delete-button
	permission="DeleteWikiPages"
	asp-href="/Wiki/DeletedPages/DeletePage?path=@Model.PageName"
	warning-message="Are you sure you want to delete this page?"
	class="btn btn-danger btn-sm">
	Delete
</delete-button>
<a class="btn btn-info btn-sm" asp-page="/Wiki/PageHistory" asp-route-path="@Model.PageName">Page History</a>
<a class="btn btn-info btn-sm" asp-page="/Wiki/Diff" asp-route-path="@Model.PageName">Last diff</a>
<a class="btn btn-info btn-sm" asp-page="/Wiki/Referrers" asp-route-path="@Model.PageName">List referrers</a>
<a class="btn btn-info btn-sm" asp-page="/Wiki/ViewSource" asp-route-path="@Model.PageName">View Source</a>
