@using TASVideos.Data.Entity.Awards
@model Awards
<h2>User Awards</h2>
<row>
	@foreach (var award in Model.Assignments.Where(m => m.Type == AwardType.User).OrderBy(m => m.Description))
	{
		string awardPathPrefix = $"/awards/{award.Year}/{award.ShortName}_{award.Year}";
		<div class="col-md-4 col-sm-6 mt-3">
			<img alt="@award.Description"
				 srcset="@(awardPathPrefix).png .5x,
						@(awardPathPrefix)-2x.png 1x,
						@(awardPathPrefix)-4x.png 2x"
				 src="@(awardPathPrefix)-2x.png" loading="lazy" />
			<a id="@(award.ShortName)_@(award.Year)"></a><br />
			<strong>@award.Description</strong><br />
			@foreach (var user in award.Users)
			{
				<profile-link username="@user.UserName"></profile-link><br />
			}
		</div>
	}
</row>
<hr />
<h2>Publication Awards</h2>
<row>
	@foreach (var award in Model.Assignments.Where(m => m.Type == AwardType.Movie).OrderBy(m => m.Description))
	{
		string awardPathPrefix = $"/awards/{award.Year}/{award.ShortName}_{award.Year}";
		<div class="col-md-4 col-sm-6 mt-3">
			<a id="@(award.ShortName)_@(award.Year)"></a>
			<img alt="@award.Description"
				 srcset="@(awardPathPrefix).png .5x,
						@(awardPathPrefix)-2x.png 1x,
						@(awardPathPrefix)-4x.png 2x"
				 src="@(awardPathPrefix)-2x.png" loading="lazy" /><br />
			<strong>@award.Description</strong><br />
			@foreach (var pub in award.Publications)
			{
				<pub-link id="pub.Id">@pub.Title</pub-link><br />
			}
		</div>
	}
</row>