@model FrontpageSubmissionList
<row>
	<div class="col-12 col-lg-8">
		<div class="list-group">
			@foreach (var sub in Model.Subs)
			{
				<sub-link id="sub.Id" class="list-group-item list-group-item-action list-group-item-body p-2">
					<div class="d-flex w-100 align-items-center">
						<div class="px-2 w-100">
							<row class="align-items-center">
								<div class="col-auto px-1 fs-sm-5 d-flex">
									<span class="badge bg-info">@(sub.Time().ToStringWithOptionalDaysAndHours())</span>
								</div>
								<div class="col-auto px-1">
									<span class="text-body-tertiary">@sub.System</span>
								</div>
								<div class="col-auto px-1 ms-auto">
									<row class="justify-content-end">
										<small class="col-12 text-body-tertiary text-end"><timezone-convert asp-for="@sub.Date" date-only="true" /></small>
									</row>
								</div>
							</row>
							<row class="align-items-center">
								<div class="col-auto px-1">
									<span class="fs-6 fs-sm-5">@sub.Game</span><span condition="@(!string.IsNullOrEmpty(sub.Goal) && sub.Goal != "baseline")" class="fs-6 fs-sm-5"> "@sub.Goal"</span>
								</div>
								<div class="col-auto ms-auto text-end">
									<row>
										<div class="col-auto pe-0">
											<small class="col-auto">Status:</small>
										</div>
										<div class="col-auto px-1">
											<small class="col-auto">@sub.Status.EnumDisplayName()</small>
										</div>
									</row>
								</div>
							</row>
							<row>
								<div class="col-12 px-1">
									<span class="mt-auto">by <author-list authors="sub.By" additional-authors="@sub.AdditionalAuthors"></author-list></span>
								</div>
							</row>
						</div>
					</div>
				</sub-link>
			}
		</div>
	</div>
</row>