@model MovieMaintenanceLog
<br /><br />
<a condition="!Model.IsSinglePub" asp-page="" asp-route-begin="@Model.Next" class="btn btn-primary float-end mb-2">Next</a>
@foreach (var pub in Model.Logs)
{
	<pub-link id="pub.Key.Id">@pub.Key.Title</pub-link>
	<standard-table>
		<tr>
			<th>Editor</th>
			<th>Datetime</th>
			<th>Log</th>
		</tr>
		@foreach (var log in pub)
		{
			<tr>
				<td><profile-link username="@log.UserName"></profile-link></td>
				<td><timezone-convert asp-for="@log.Timestamp" /></td>
				<td>@log.Log</td>
			</tr>
		}
	</standard-table>
}
