@model MoviesList
@{
	var pubGroups = Model.Movies.GroupBy(gkey => gkey.GameName, gvalue => new
	{
		gvalue.Id, gvalue.IsObsolete
	}).ToList();
}
<warning-alert condition="string.IsNullOrWhiteSpace(Model.SystemName)">
	Unknown System Code: @Model.SystemCode
</warning-alert>
<standard-table condition="!string.IsNullOrWhiteSpace(Model.SystemName)">
	<table-head columns="Game,"></table-head>
	@foreach (var pubGroup in pubGroups.OrderBy(p => p.Key))
	{
		<tr>
			<td>
				<a href="/Movies-@string.Join("-", pubGroup.Where(g => !g.IsObsolete).Select(g => g.Id + "M"))">
					@pubGroup.Key
				</a>
				(@pubGroup.Count(g => !g.IsObsolete))
			</td>
			<td>
				<span condition="pubGroup.Any(g => g.IsObsolete)">
					<a href="/Movies-@string.Join("-", pubGroup.Select(g => g.Id + "M"))">
						All (@pubGroup.Count())
					</a>
				</span>
			</td>
		</tr>
	}
</standard-table>
<div>
	<p>@Model.Movies.Count(m => !m.IsObsolete) current publications in @pubGroups.Count(g => g.Any(gg => !gg.IsObsolete)) games</p>
	<p>@Model.Movies.Count runs in @pubGroups.Count games</p>
</div>
