@using TASVideos.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TASVideos.TagHelpers
@model Screenshots
@{
	var additionalProperties = Model.List.Request.AdditionalProperties();
}
<a asp-page="@ViewContext.Page()"
	asp-all-route-data="@additionalProperties"
	asp-route-CurrentPage="@Model.List.Request.CurrentPage"
	asp-route-PageSize="@Model.List.Request.PageSize"
	asp-route-Sort="@Model.List.Request.Sort"
	asp-route-OnlyDescriptions=""
	type="button" class="btn btn-secondary border-dark flex-grow-0">
	All
</a>
<a
	asp-page="@ViewContext.Page()"
	asp-all-route-data="@additionalProperties"
	asp-route-CurrentPage="@Model.List.Request.CurrentPage"
	asp-route-PageSize="@Model.List.Request.PageSize"
	asp-route-Sort="@Model.List.Request.Sort"
	asp-route-OnlyDescriptions="True"
	type="button" class="btn btn-secondary border-dark flex-grow-0">
	Only Descriptions
</a>
<a asp-page="@ViewContext.Page()"
   asp-all-route-data="@additionalProperties"
   asp-route-CurrentPage="@Model.List.Request.CurrentPage"
   asp-route-PageSize="@Model.List.Request.PageSize"
   asp-route-Sort="@Model.List.Request.Sort"
   asp-route-OnlyDescriptions="False"
   type="button" class="btn btn-secondary border-dark flex-grow-0">
	Missing Descriptions
</a>
<partial name="_Pager" model="Model.List" />
<standard-table>
	<sortable-table-head sorting="@Model.GetPaging()" model-type="typeof(Screenshots.ScreenshotEntry)" page-override="@Model.CurrentPage" />
	@foreach (var screenshot in Model.List)
	{
		<tr>
			<td>
				<img
					alt="@screenshot.Description"
					title="@screenshot.Description"
					class="w-100 pixelart-image"
					loading="lazy"
					src="~/media/@screenshot.Screenshot"
					style="max-height: 100px; max-width: 100px"
				/>
			</td>
			<td>@screenshot.Id</td>
			<td>
				<pub-link id="@screenshot.Id">
					@screenshot.Title
				</pub-link>
			</td>
			<td>
				@screenshot.Description
			</td>
		</tr>
	}
</standard-table>
<partial name="_Pager" model="Model.List" />