@model ICollection<AddressEntry>
@{
	var gameName = Model!.First().GameName ?? "";
	var gameId = Model!.First().GameId;
	var system = Model!.First().System ?? "";
}

<h5 condition="@gameId.HasValue">
	<a href="/@(gameId)G">@gameName</a>
</h5>
<h5 condition="!string.IsNullOrWhiteSpace(system)">
	System: @system
</h5>
<table class="table table-sm table-striped">
	<tr>
		<th>Domain</th>
		<td>Address</td>
		<td>Data Type</td>
		<td>Signed</td>
		<td>Endian</td>
		<td>Description</td>
	</tr>
	@foreach (var entry in Model!)
	{
		<tr>
			<td>@entry.Domain</td>
			<td>@entry.Address</td>
			<td>@entry.DataType</td>
			<td>@entry.Signed</td>
			<td>@entry.Endian</td>
			<td>@entry.Description</td>
		</tr>
	}
</table>