@model PrivateMessageModel
@{
	ViewData["Title"] = $"Message from {Model.FromUserName}";
}

<div class="mb-2">
	<a asp-action="Inbox" class="btn btn-secondary"><span class="fa fa-arrow-left"></span>Inbox</a>
	<a condition="Model.CanReply" asp-action="Create" asp-route-replyTo="@Model.Id" class="btn btn-primary">Reply</a>
</div>
<div>
	@Model.FromUserName <span class="fa fa-arrow-right"></span> @Model.ToUserName
	<small class="pull-right">
		@Model.SentOn
	</small>
</div>
<div class="card">
	<div class="card-header">
		<h4>@Model.Subject</h4>
	</div>
	<div class="card-body">
		@Html.Raw(Model.RenderedText)
	</div>
</div>