@model IEnumerable<SentboxModel>
@{
	ViewData["Title"] = $"Saved messages for {User.Identity.Name}";
}

<a asp-action="Inbox" class="btn btn-secondary mb-1"><span class="fa fa-arrow-left"></span>Inbox</a>
<table class="table table-bordered table-striped">
	<tr>
		<th>@Html.DisplayNameFor(m => m.First().Subject)</th>
		<th>@Html.DisplayNameFor(m => m.First().ToUser)</th>
		<th>@Html.DisplayNameFor(m => m.First().ToUser)</th>
		<th>@Html.DisplayNameFor(m => m.First().SendDate)</th>
	</tr>
	@foreach (var entry in Model
		.OrderBy(m => m.HasBeenRead)
		.ThenByDescending(m => m.SendDate))
	{
		<tr>
			<td>
				<span Condition="@(!entry.HasBeenRead)" class="fa fa-send-o" title="User has not yet read"></span>
				<a asp-action="Index" asp-route-id="@entry.Id">@entry.Subject</a>
			</td>
			<td>@entry.ToUser</td>
			<td>@entry.ToUser</td>
			<td>@entry.SendDate</td>
		</tr>
	}
</table>
