@page "{username}"
@model EditHistoryModel
@{
	ViewData.SetTitle("Edit History For User " + Model.UserName);
}

<h4>Edits by <profile-link username="@Model.UserName"></profile-link></h4>
<standard-table>
	<table-head columns="Page,Date,Minor Edit,Revision Message,Actions"></table-head>
	@foreach (var revision in Model.History)
	{
		<tr>
			<td><a href="/@(revision.PageName)?revision=@revision.Revision">@revision.PageName r@(revision.Revision)</a></td>
			<td>@revision.CreateTimestamp</td>
			<td>@revision.MinorEdit</td>
			<td>@revision.RevisionMessage</td>
			<td-action-column>
				<a
					class="btn btn-primary btn-sm"
					asp-page="PageHistory"
					asp-route-path="@revision.PageName"
					asp-route-fromRevision="@(revision.Revision - 1)"
					asp-route-toRevision="@revision.Revision">Diff</a>
				<delete-button permission="DeleteWikiPages"
								class="btn-sm"
								asp-href="/Wiki/DeletedPages/DeleteRevision?path=@(revision.PageName)&revision=@revision.Revision"
								warning-message="Are you sure you want to delete this revision?"></delete-button>
			</td-action-column>
		</tr>
	}
</standard-table>
<partial name="_Pager" model="Model.History" />