@page "{username}"
@model EditHistoryModel

@{
	ViewData["Title"] = "Edit History For User " + Model.UserName;
}
<h4>Edits by <a href="@WikiEngine.Builtins.NormalizeInternalLink("/HomePages/" + Model.UserName)">@Model.UserName</a></h4>
<div id="diff-view" class="d-none">

</div>
<div class="table-container">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>@Html.DisplayNameFor(m => m.History.First().PageName)</th>
				<th>@Html.DisplayNameFor(m => m.History.First().CreateTimestamp)</th>
				<th>@Html.DisplayNameFor(m => m.History.First().MinorEdit)</th>
				<th>@Html.DisplayNameFor(m => m.History.First().RevisionMessage)</th>
				<th>Actions</th>
			</tr>
			@foreach (var revision in Model.History)
			{
				<tr>
					<td><a href="/@(revision.PageName)?revision=@revision.Revision">@revision.PageName r@(revision.Revision)</a></td>
					<td>@revision.CreateTimestamp</td>
					<td>@revision.MinorEdit</td>
					<td>@revision.RevisionMessage</td>
					<td>
						<a
							class="btn btn-primary"
							asp-page="PageHistory"
							asp-route-path="@revision.PageName"
							asp-route-fromRevision="@(revision.Revision - 1)"
							asp-route-toRevision="@revision.Revision"
							>Diff</a>
						<delete-button permission="DeleteWikiPages"
									   asp-href="/Wiki/DeletedPages/DeleteRevision?path=@(revision.PageName)&revision=@revision.Revision"
									   warning-message="Are you sure you want to delete this revision?">
							Delete
						</delete-button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
