@page "{handler?}"
@model EditModel
@{
	ViewData.SetTitle($"Editing {Model.Path}");
}

<form client-side-validation="true" method="post">
	<input type="hidden" asp-for="EditStart" />
	<input type="hidden" asp-for="OriginalMarkup" />
	<fullrow class="mt-3">
		<partial name="_WikiEditHelper" model="@("Markup")" />
	</fullrow>
	<fieldset>
		<textarea asp-for="Markup" class="form-control wiki-edit" rows="20" placeholder="Enter your __markup__ here..."></textarea>
		<span asp-validation-for="Markup" class="text-danger"></span>
		@await Html.RenderWiki(SystemWiki.WikiEditHelp)
	</fieldset>
	<fieldset class="col-12">
		<label asp-for="RevisionMessage"></label>
		<div class="input-group">
			<input type="text" asp-for="RevisionMessage" class="form-control" autocomplete="off" />
			<div class="input-group-text">
				<input type="checkbox" class="form-check-input me-1 mt-0" asp-for="MinorEdit" />
				<label asp-for="MinorEdit" class="form-check-label"></label>
			</div>
		</div>
		<span>@Html.DescriptionFor(m => m.RevisionMessage)</span><br />
		<span asp-validation-for="RevisionMessage" class="text-danger"></span>
	</fieldset>
	<form-button-bar>
		<button type="button" class="btn btn-secondary" onclick="generateDiff()">Diff</button>
		<preview-button></preview-button>
		<submit-button></submit-button>
		<cancel-link href="/@Model.Path"></cancel-link>
	</form-button-bar>
	<div class="text-center alert-info mt-2" role="alert">
		<label class="alert-info">
			@await Html.RenderWiki(SystemWiki.WikiEditNote)
		</label>
	</div>
</form>

<partial name="_Diff" model="@((Html.IdFor(m => m.OriginalMarkup), Html.IdFor(m => m.Markup)))" />
<script>
window.addEventListener("load", function() {
	const rightMarkupElem = document.getElementById("@Html.IdFor(m => m.Markup)");
	rightMarkupElem.addEventListener("change", generateDiff);
	rightMarkupElem.addEventListener("keyup", generateDiff);
});
</script>
<partial name="_PreviewWindow" model="@(("Markup", "/Wiki/Preview?Id=" + Model.Path))" />
