@page "{username}"
@model EditHistoryModel

@{
	ViewData["Title"] = "Edit History For User " + Model.UserName;
}
<h4>Edit by <a href="@WikiHelper.NormalizeWikiPageName("HomePages/" + Model.UserName)">@Model.UserName</a></h4>
<hr />
<table class="table table-striped">
	<tbody>
		<tr>
			<th>@Html.DisplayNameFor(m => m.History.Edits.First().PageName)</th>
			<th>@Html.DisplayNameFor(m => m.History.Edits.First().CreateTimeStamp)</th>
			<th>@Html.DisplayNameFor(m => m.History.Edits.First().MinorEdit)</th>
			<th>@Html.DisplayNameFor(m => m.History.Edits.First().RevisionMessage)</th>
			<th>Actions</th>
		</tr>
		@foreach (var revision in Model.History.Edits)
		{
			<tr>
				<td><a href="/@(revision.PageName)?revision=@revision.Revision">@revision.PageName r@(revision.Revision)</a></td>
				<td>@revision.CreateTimeStamp</td>
				<td>@revision.MinorEdit</td>
				<td>@revision.RevisionMessage</td>
				<td>
					<button class="btn btn-primary" onclick="GetDiff('@revision.PageName', @revision.Revision)">Diff</button>
					<delete-button
						permission="DeleteWikiPages"
						asp-href="@(Url.Action(nameof(Controllers.WikiController.DeleteRevision), new { path = revision.PageName, revision = revision.Revision }))"
						warning-message="Are you sure you want to delete this revision?">
						Delete
					</delete-button>
				</td>
			</tr>
		}
	</tbody>
</table>

<input type="hidden" id="left-revision" />
<input type="hidden" id="right-revision" />
<div id="diff-options" class="d-none">
	<hr />
	<label><input name="diff-type" type="radio" value="1" checked="checked" onclick="generateDiff(1)" /> Inline</label>
	<label><input name="diff-type" type="radio" value="0" onclick="generateDiff(0)" /> Side by Side</label>
</div>
<div id="diff-view" class="d-none">

</div>

<script>
	var fromRevision, toRevision;

	function GetDiff(path, revision) {
		var baseUrl = '@Url.Action(nameof(Controllers.WikiController.DiffData), "Wiki")';
		var ajaxUrl = baseUrl + '?path=' + path + '&fromRevision=' + (revision - 1) + '&toRevision=' + revision;

		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState === XMLHttpRequest.DONE) {
				document.getElementById("diff-view").classList.remove("d-none");
				document.getElementById("diff-options").classList.remove("d-none");
				if (xmlhttp.status === 200) {
					var data = JSON.parse(xmlhttp.responseText);
					document.getElementById("left-revision").value = data.leftMarkup;
					document.getElementById("right-revision").value = data.rightMarkup;
					fromRevision = revision - 1;
					toRevision = revision;
					generateDiff(parseInt(document.querySelector('[name="diff-type"]:checked').value));
				}
			}
		};

		xmlhttp.open("GET", ajaxUrl, true);
		xmlhttp.send();
	}

	function generateDiff(viewType) {
		var diffView = document.getElementById("diff-view");
		var base = difflib.stringAsLines(document.getElementById("left-revision").value),
			newTxt = difflib.stringAsLines(document.getElementById("right-revision").value),
			opcodes = new difflib.SequenceMatcher(base, newTxt).get_opcodes(),
			diffOutputDiv = diffView;

		diffOutputDiv.innerHTML = "";

		diffOutputDiv.appendChild(diffview.buildView({
			baseTextLines: base,
			newTextLines: newTxt,
			opcodes: opcodes,
			baseTextName: "r" + fromRevision,
			newTextName: "r" + toRevision,
			contextSize: null,
			viewType: viewType
		}));
	}
</script>

@section Scripts {
	<script src="~/js/difflib.js"></script>
	<script src="~/js/diffview.js"></script>
	<link rel="stylesheet" href="~/css/diffview.css" />
}
