@page "{username}"
@model EditHistoryModel

@{
	ViewData["Title"] = "Edit History For User " + Model.UserName;
}
<h4>Edits by <a href="@WikiEngine.Builtins.NormalizeInternalLink("/HomePages/" + Model.UserName)">@Model.UserName</a></h4>
<div id="diff-view" class="d-none">

</div>
<div class="table-container">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>@Html.DisplayNameFor(m => m.History.Edits.First().PageName)</th>
				<th>@Html.DisplayNameFor(m => m.History.Edits.First().CreateTimestamp)</th>
				<th>@Html.DisplayNameFor(m => m.History.Edits.First().MinorEdit)</th>
				<th>@Html.DisplayNameFor(m => m.History.Edits.First().RevisionMessage)</th>
				<th>Actions</th>
			</tr>
			@foreach (var revision in Model.History.Edits)
			{
				<tr>
					<td><a href="/@(revision.PageName)?revision=@revision.Revision">@revision.PageName r@(revision.Revision)</a></td>
					<td>@revision.CreateTimestamp</td>
					<td>@revision.MinorEdit</td>
					<td>@revision.RevisionMessage</td>
					<td>
						<button class="btn btn-primary" onclick="GetDiff('@revision.PageName', @revision.Revision)">Diff</button>
						<delete-button permission="DeleteWikiPages"
									   asp-href="/Wiki/DeletedPages/DeleteRevision?path=@(revision.PageName)&revision=@revision.Revision"
									   warning-message="Are you sure you want to delete this revision?">
							Delete
						</delete-button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<input type="hidden" id="left-revision" />
<input type="hidden" id="right-revision" />
<div id="diff-options" class="d-none">
	<hr />
	<label><input name="diff-type" type="radio" value="1" checked="checked" onclick="generateDiff()" /> Inline</label>
	<label><input name="diff-type" type="radio" value="0" onclick="generateDiff()" /> Side by Side</label>
	<label><input name="context-size" type="number" value="5" min="0" max="9999" oninput="generateDiff()" /> Context Size</label>
</div>

@section Scripts {
	<script src="~/js/diff_match_patch.js"></script>
	<script src="~/js/diff_view.js"></script>
	<script>
		let fromRevision, toRevision;

		function GetDiff(path, revision) {
			const baseUrl = '/Wiki/Diff?handler=DiffData';
			const ajaxUrl = baseUrl + '&path=' + path + '&fromRevision=' + (revision - 1) + '&toRevision=' + revision;
			fetch(ajaxUrl)
				.then(handleFetchErrors)
				.then(r => r.json())
				.then(data => {
					document.getElementById("diff-view").classList.remove("d-none");
					document.getElementById("diff-options").classList.remove("d-none");
					document.getElementById("left-revision").value = data.leftMarkup;
					document.getElementById("right-revision").value = data.rightMarkup;
					fromRevision = revision - 1;
					toRevision = revision;
					generateDiff();
				});
		}

		function generateDiff() {
			const viewType = parseInt(document.querySelector('[name="diff-type"]:checked').value);
			const contextSize = parseInt(document.querySelector('[name="context-size"').value);

			const diffView = document.getElementById("diff-view");
			const base = document.getElementById("left-revision").value,
				newTxt = document.getElementById("right-revision").value,
				diffOutputDiv = diffView;

			renderDiff(
				{ text: base, name: `r${fromRevision}` },
				{ text: newTxt, name: `r${toRevision}` },
				diffOutputDiv,
				!!viewType,
				contextSize
			);
		}
	</script>
}
