@page
@{
	ViewData.SetTitle("DoesNotExist");
	var url = PageContext.HttpContext.Request.Query["url"].ToString().Trim('/');
	bool canEdit = WikiHelper.UserCanEditWikiPage(url, User.Name(), User.Permissions());
	HttpContext.Response.StatusCode = 404;
}
<h2>The page you were looking for does not yet exist.</h2>
<p>The page ( <a href="/@url">@($"{HttpContext.Request.ToBaseUrl()}/{url}")</a> ) does not exist. <a href="javascript:history.back()">Click here</a> to go back.</p>
<p>You can also <a asp-page="/Search/Index" asp-route-searchTerms="@url">search</a> for alternative titles or spellings.</p>
<hr />
Want to create the page?
<br />
<ul>
	@if (!User.IsLoggedIn())
	{
		<li>
			If you are an editor or have rights to edit this page,
			<a asp-page="/Account/Login" asp-route-returnUrl="@HttpContext.CurrentPathToReturnUrl()">log in</a>
			to edit the page.
		</li>
	}
	else if (!canEdit)
	{
		<li>You do not currently have permissions to create this page. If you are not an editor, become an <a asp-page="/Roles/Index" asp-route-role="Editor">editor!</a></li>
	}

	@if (User.IsLoggedIn() && canEdit)
	{
		<li>
			Click here to
			<a asp-page="/Wiki/Edit" asp-route-path="@url">
				edit this page
			</a>
		</li>
		<li>Write the page content, and click Save to create the page.</li>
	}
</ul>

<p>When creating new pages, always ensure that there is some other page that links to the newly created page. Otherwise your page will just become a <a href="/WikiOrphans">wiki orphan</a> that will be quickly forgotten.</p>
<p><a asp-page="/Wiki/Referrers" asp-route-path="@url">Click here</a> to see Referrers to this page.</p>
