@page
@model SiteMapModel
@{ 
	ViewData["Title"] = "Site Map";
}

@foreach (var rootPage in Model.Map.GroupBy(m => m.PageName.SplitWithEmpty("/").First()))
{
	bool isPage = rootPage.Any(p => p.PageName == rootPage.Key);
	bool hasSubpages = rootPage.Count() > 1;
	<i condition="@hasSubpages" class="fa fa-plus" data-bs-toggle="collapse" href="#collapse@(rootPage.Key)" style="cursor: pointer"></i>
	<label>
		<a condition="@isPage" href="/@rootPage.Key">@rootPage.Key</a>
		<span condition="@(!isPage)">@rootPage.Key</span>
	</label>
	<ul class="collapse" id="collapse@(rootPage.Key)">
		@foreach(var p in rootPage.Where(p => p.PageName != rootPage.Key).OrderBy(p => p.PageName))
		{
			<li>
				<a href="/@p.PageName">@p.PageName</a>
				<span condition="@(!p.IsWiki)">(Built-in)</span>
				<span condition="@(p.AccessRestriction != "Anonymous")">Access: @p.AccessRestriction</span>
			</li>
		}
	</ul>
	<br />
}
