@model TASVideos.Core.PageOf<UserMaintenanceLogs.UserMaintenanceLogEntry>
@{
	var pagingModel = ViewData.GetPagingModel();
	var currentPage = ViewData["CurrentPage"]?.ToString();
}
<div condition="@Model.Any()">
	<partial name="_Pager" model="Model" />
	<table>
		<sortable-table-head sorting="@pagingModel" model-type="typeof(UserMaintenanceLogs.UserMaintenanceLogEntry)" page-override="@currentPage" />
		@foreach(var entry in Model)
		{
			<tr>
				<td>
					<profile-link username="@entry.User"></profile-link>
				</td>
				<td>
					<profile-link username="@entry.Editor"></profile-link>
				</td>
				<td>
					<timezone-convert asp-for="@entry.TimeStamp" />
				</td>
				<td>
					@entry.Log
				</td>
			</tr>
		}
	</table>
	<partial name="_Pager" model="Model" />
</div>