@using System.Globalization
@model TASVideos.Pages.RssFeeds.Models.RssWiki
@{
	var baseUrl = ViewData["BaseUrl"];
	var url = $"{baseUrl}/{Model!.PageName}";
	string action = Model.IsNew ? "created" : "edited";
	string title = $"{Model.PageName} {action} by {Model.Author}";
}
<item>
	<title>@title</title>
	<link>@url</link>
	<description>@Model.RevisionMessage</description>
	<comments>@(baseUrl)/Forum/</comments>
	<guid>@url</guid>
	<pubDate>@Model.PubDate.ToString("u", CultureInfo.InvariantCulture)</pubDate>
</item>