@page
@using System.Globalization
@inject AppSettings Settings
@model PublicationsModel
@{
	Layout = null;
	const string title = "TASVideos Publications";
	const string link = "NewMovies";
}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
	<channel>
		<partial model="@((title, link))" name="_RssChannel" />
		<atom:link href="@(Settings.BaseUrl)/publications.rss" rel="self" type="application/rss+xml" xmlns="atom" />
		@foreach (var pub in Model.Publications)
		{
			var movieUrl = $"{Settings.BaseUrl}/{pub.Id}M";
			var primaryStreaming = pub.StreamingUrls.FirstOrDefault(u => u.Contains("youtube"));
			var secondaryStreaming = pub.StreamingUrls.Where(u => u != primaryStreaming);
			<item>
				<title>@pub.Title</title>
				<rss-link>@movieUrl</rss-link>
				<description>
					<html-encode>
						<wiki-markup markup="@pub.Wiki?.Markup" page-data="@pub.Wiki"></wiki-markup>
					</html-encode>
				</description>
				@foreach (var tag in pub.TagNames)
				{
					<category>@tag</category>
				}
				<media:group>
					<media:content url="@(movieUrl)?handler=Download" fileSize="@pub.MovieFileSize" type="application/zip" medium="document" />
					<media:thumbnail url="@(Settings.BaseUrl)/media/@pub.ScreenshotPath" />
					@foreach (var url in secondaryStreaming)
					{
						<media:content url="@url" type="video" medium="video" />
					}
					<media:player url="@primaryStreaming" />
					<media:community>
						<media:starRating average="@pub.RatingAverage" count="@pub.Ratings.Count" min="@pub.RatingMin" max="@pub.RatingMax" />
					</media:community>
				</media:group>
				<guid>@movieUrl</guid>
				<pubDate>@pub.CreateTimestamp.ToString("u", CultureInfo.InvariantCulture)</pubDate>
			</item>
		}
	</channel>
</rss>