@page
@using System.Globalization
@inject AppSettings Settings
@model SubmissionsModel
@{
	Layout = null;
	const string title = "TASVideos Submissions";
	const string link = "Subs-List";
}
<?xml version="1.0" encoding="utf-8"?>
<rss>
	<channel>
		<partial model="@((title, link))" name="_RssChannel" />
		<atom:link rel="self" type="application/rss+xml" href="@(Settings.BaseUrl)/submissions.rss" />
		@foreach (var sub in Model.Submissions)
		{
			var subUrl = $"{Settings.BaseUrl}/{sub.Id}S";
			<item>
				<title>@sub.Title</title>
				<rss-link>@subUrl</rss-link>
				<description>
					<html-encode>
						<wiki-markup markup="@sub.Wiki?.Markup" page-data="@sub.Wiki"></wiki-markup>
					</html-encode>
				</description>
				<comments condition="@sub.TopicId.HasValue">@(Settings.BaseUrl)/Forum/Topics/@sub.TopicId</comments>
				@* <enclosure url="@(subUrl)?handler=Download" length="TODO" type="TODO" /> *@
				<guid>@subUrl</guid>
				<pubDate>@sub.CreateTimestamp.ToString("r", CultureInfo.InvariantCulture)</pubDate>
			</item>
		}
	</channel>
</rss>