@page
@using System.Globalization
@inject AppSettings Settings
@model SubmissionsModel
@{
	Layout = null;
	const string title = "TASVideos Submissions";
	const string link = "Subs-List";
}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
	<channel>
		<partial model="@((title, link))" name="_RssChannel" />
		<atom:link href="@(Settings.BaseUrl)/sublications.rss" rel="self" type="application/rss+xml" xmlns="atom" />
		@foreach (var sub in Model.Submissions)
		{
			var subUrl = $"{Settings.BaseUrl}/{sub.Id}S";
			<item>
				<title>@sub.Title</title>
				<rss-link>@subUrl</rss-link>
				<description>
					<html-encode>
						<wiki-markup markup="@sub.Wiki?.Markup" page-data="@sub.Wiki"></wiki-markup>
					</html-encode>
				</description>
				<comments condition="@sub.TopicId.HasValue">@(Settings.BaseUrl)/Forum/Topics/@sub.TopicId</comments>
				<enclosure url="@(subUrl)?handler=Download" />
				<guid>@subUrl</guid>
				<pubDate>@sub.CreateTimestamp.ToString("u", CultureInfo.InvariantCulture)</pubDate>
			</item>
		}
	</channel>
</rss>