@page
@using System.Globalization
@inject AppSettings Settings
@model WikiModel
@{
	Layout = null;
	const string title = "TASVideos Wiki";
	const string link = "RecentChanges";
}
<?xml version="1.0" encoding="utf-8" ?>
<rss>
	<channel>
		<partial model="@((title, link))" name="_RssChannel" />
		<atom:link rel="self" type="application/rss+xml" href="@(Settings.BaseUrl)/wiki.rss" />
		@foreach (var edit in Model.WikiEdits)
		{
			var url = $"{Settings.BaseUrl}/{edit.PageName}";
			<item>
				<title>@title</title>
				<rss-link>@url</rss-link>
				<description>@edit.RevisionMessage</description>
				<comments>@(Settings.BaseUrl)/Forum/</comments>
				<guid>@url?revision=@edit.RevisionId</guid>
				<pubDate>@edit.PubDate.ToString("r", CultureInfo.InvariantCulture)</pubDate>
			</item>
		}
	</channel>
</rss>