@page
@model IndexModel
@{
	ViewData.SetTitle("Publication Class List");
}
<top-button-bar>
	<add-button asp-page="Create"></add-button>
</top-button-bar>
<standard-table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Link</th>
		<th>Weight</th>
		<th></th>
	</tr>
	@foreach (var publicationClass in Model.Classes.OrderBy(t => t.Id))
	{
		<tr>
			<td>
				@publicationClass.Id
			</td>
			<td>
				<img condition="!string.IsNullOrWhiteSpace(publicationClass.IconPath)" class="pixelart-image" src="/@publicationClass.IconPath" alt="@publicationClass.Name" />
				@publicationClass.Name
			</td>
			<td>
				<a href="/@publicationClass.Link">@publicationClass.Link</a>
			</td>
			<td>
				@publicationClass.Weight
			</td>
			<td-action-column>
				<edit-button asp-page="/PublicationClasses/Edit" asp-route-id="@publicationClass.Id"></edit-button>
			</td-action-column>
		</tr>
	}
</standard-table>
