@model IEnumerable<WikiTextChangelogModel>
@{
	var grouped = Model.GroupBy(m => m.CreateTimestamp.Date);
}

<table class="table">
	<tr>
		<th>Page</th>
		<th>Author</th>
		<th>Message</th>
		<th>Time</th>
		<th>Diff</th>
	</tr>
	@foreach (var group in grouped)
	{
		<tr>
			<th style="background-color: #D0D0D0" colspan="6">@group.Key.ToShortDateString()</th>
		</tr>
		@foreach (var item in group)
		{
			<tr>
				<td><a href="/@item.PageName">@item.PageName</a> <small>(r@(item.Revision))</small></td>
				<td>@item.Author</td>
				<td>@item.RevisionMessage @(item.MinorEdit ? ("(Minor edit)") : "")</td>
				<td>@item.CreateTimestamp.ToShortTimeString()</td>
				<td><a asp-controller="Wiki" asp-action="Diff" asp-route-path="@item.PageName" asp-route-fromRevision="@(item.Revision - 1)" asp-route-toRevision="@item.Revision" class="btn btn-default">Diff</a></td>
			</tr>
		}
	}
</table>
