@page "{id}"
@model CatalogModel
@{
	ViewData.SetTitle($"Set Cataloging Information for {Model.Catalog.Title}");
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible" role="alert"></div>
<form method="post">
	<row>
		<div class="col-lg-6">
			<fieldset>
				<label asp-for="Catalog.SystemId" class="form-control-label"></label>
				<select asp-for="Catalog.SystemId" asp-items="Model.AvailableSystems" class="form-select"></select>
			</fieldset>
			<fieldset>
				<label asp-for="Catalog.SystemFrameRateId" class="form-control-label"></label>
				<select asp-for="Catalog.SystemFrameRateId" asp-items="@Model.AvailableSystemFrameRates" class="form-select"></select>
			</fieldset>
		</div>
		<div class="col-lg-6">
			<fieldset>
				<fullrow>
					<label asp-for="Catalog.GameId" class="form-control-label"></label>
				</fullrow>
				<row>
					<div class="col-10">
						<select asp-for="Catalog.GameId" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableGames)" class="form-select"></select>
					</div>
					<div class="col-2">
						<button id="create-game" type="button" class="btn btn-primary">New</button>
					</div>
				</row>
			</fieldset>
			<fieldset>
				<fullrow>
					<label asp-for="Catalog.GameVersionId" class="form-control-label"></label>
				</fullrow>
				<row>
					<div class="col-10">
						<select asp-for="Catalog.GameVersionId" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableVersions)" class="form-select"></select>
					</div>
					<div class="col-2">
						<button
							disable="!Model.Catalog.GameId.HasValue || Model.Catalog.GameId == -1"
							id="create-version"
							type="button"
							class="btn btn-primary">New</button>
					</div>
				</row>
			</fieldset>
			<fieldset>
				<fullrow>
					<label asp-for="Catalog.GameGoalId" class="form-control-label"></label>
				</fullrow>
				<row>
					<div class="col-10">
						<select asp-for="Catalog.GameGoalId" asp-items="@UiDefaults.DefaultEntry.Concat(Model.AvailableGoals)" class="form-select"></select>
						<span asp-validation-for="Catalog.GameGoalId" class="text-danger"></span>
					</div>
					<div class="col-2">
						<button id="create-goal" type="button" class="btn btn-primary">Manage</button>
					</div>
				</row>
			</fieldset>
		</div>
	</row>
	<hr />
	<form-button-bar>
		<submit-button id="submit-btn"></submit-button>
		<cancel-button asp-page="View" asp-route-id="@Model.Id"></cancel-button>
		<div class="form-check-inline">
			<label asp-for="Catalog.MinorEdit" class="form-check-label"></label>
			<input asp-for="Catalog.MinorEdit" type="checkbox" class="form-check-input"/>
		</div>
	</form-button-bar>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/catalog.js"></script>
	<script>
		enableCataloging(
			"@Html.IdFor(m => m.Catalog.SystemId)",
			"@Html.IdFor(m => m.Catalog.SystemFrameRateId)",
			"@Html.IdFor(m => m.Catalog.GameId)",
			"@Html.IdFor(m => m.Catalog.GameVersionId)",
			"@Html.IdFor(m => m.Catalog.GameGoalId)",
			"@HttpContext.CurrentPathToReturnUrl()");
	</script>
}
