@page
@model IndexModel
@inject IQueueService QueueService
@{
	ViewData.SetTitle("Submissions");
	var selectAvailableYears = Model.Search.AvailableYears.ToDropDown();
}

<div permission="SubmitMovies" class="float-end">
	<div class="mb-1">
		<a asp-page="Submit" class="btn btn-primary"><i class="fa fa-upload"></i> Submit a Movie</a>
	</div>
	<div>
		<a asp-page="Index" asp-route-user="@User.Name()" class="btn btn-secondary">My Submissions</a>
	</div>
</div>

@await Html.RenderWiki(SystemWiki.SubmissionHeader)
<hr />
<form method="get" id="submission-form">
	<row>
		<div class="col-12 col-md-6">
			<label asp-for="Search.StatusFilter" class="form-control-label"></label>
			<select asp-for="Search.StatusFilter" asp-items="Model.AvailableStatuses" class="form-control"></select>
		</div>
		<div class="col-12 col-md-6">
			<label asp-for="Search.Years" class="form-control-label"></label>
			<select asp-for="Search.Years" asp-items="selectAvailableYears" multiple class="form-control"></select>
			<label asp-for="Search.User" class="form-control-label"></label>
			<input autocomplete="off" asp-for="Search.User" type="text" list="@Html.IdFor(m => m.Search.User)-autocomplete" class="form-control" />

			<label asp-for="Search.System" class="form-control-label"></label>
			<select asp-for="Search.System" asp-items="Model.SystemList" class="form-control"></select>
		</div>
	</row>
	<button type="submit" class="btn btn-secondary mt-1"><i class="fa fa-filter"></i> Filter</button>
</form>
<hr />
<partial name="_Pager" model="Model.Submissions" />
<div class="table-container">
	<table class="table table-striped table-bordered">
		<sortable-table-head model-type="typeof(IndexModel.SubmissionEntry)" sorting="Model.Search" />
		@foreach (var item in Model.Submissions)
		{
			var showPublicationClass = !string.IsNullOrWhiteSpace(item.IntendedClass) && item.IntendedClass != "Standard";
			<tr>
				<td>@item.System</td>
				<td><sub-link id="item.Id">@item.GameName</sub-link></td>
				<td>@item.Branch</td>
				<td>@(item.Time.ToStringWithOptionalDaysAndHours())</td>
				<td><author-list authors="item.Authors" additional-authors="@item.AdditionalAuthors"></author-list></td>
				<td><timezone-convert asp-for="@item.Submitted" date-only="true" /></td>
				<td>
					@item.Status.EnumDisplayName()
					<small condition="showPublicationClass">
						(@item.IntendedClass)
					</small>
					<small condition="item.Judge is not null && item.Publisher is null">
						<br /><profile-link username="@item.Judge"></profile-link>
					</small>
					<small condition="item.Publisher is not null">
						<br /><profile-link username="@item.Publisher"></profile-link>
					</small>
					<small condition="QueueService.HoursRemainingForJudging(item) > 0">
						<br />(Available for judging in @QueueService.HoursRemainingForJudging(item) hours)
					</small>
				</td>
			</tr>
		}
	</table>
</div>
<partial name="_Pager" model="Model.Submissions" />
@section Scripts {
	<script src="/js/user-search.js"></script>
	<script src="/js/select-improver.js"></script>
	<script>
		engageSelectImprover('@Html.IdFor(m => m.Search.StatusFilter)');
		engageSelectImprover('@Html.IdFor(m => m.Search.Years)');
		searchUsers("@Html.IdFor(m => m.Search.User)");
	</script>
}