@page "{id}"
@model PublishModel
@{
	ViewData.SetTitle($"Publishing Submission {Model.Submission.Title}");
}
<card>
	<card-body>
		<div class="card-title">
			<a class="btn btn-primary " asp-page="Catalog" asp-route-id="@Model.Id">Catalog</a>
		</div>
		<row>
			<column lg="6">
				<row>
					<label class="col-sm-3" asp-for="Submission.PublicationClass"></label>
					<span class="col-sm-9"><a href="/@Model.Submission.PublicationClass">@Html.DisplayFor(m => m.Submission.PublicationClass)</a></span>
				</row>
				<row>
					<label class="col-sm-3" asp-for="Submission.System"></label>
					<span class="col-sm-9">@Html.DisplayFor(m => m.Submission.System)</span>
				</row>
				<row>
					<label class="col-sm-3" asp-for="Submission.Region"></label>
					<span class="col-sm-9">@Html.DisplayFor(m => m.Submission.Region)</span>
				</row>
				<row>
					<label class="col-sm-3" asp-for="Submission.EmulatorVersion"></label>
					<span class="col-sm-9">@Html.DisplayFor(m => m.Submission.EmulatorVersion)</span>
				</row>
			</column>
			<column lg="6">
				<row>
					<label class="col-sm-3" asp-for="Submission.Game"></label>
					<span class="col-sm-9"><a asp-page="/Games/Index" asp-route-id="@Model.Submission.GameId">@Html.DisplayFor(m => m.Submission.Game)</a></span>
				</row>
				<row>
					<label class="col-sm-3" asp-for="Submission.GameVersion"></label>
					<span class="col-sm-9">
						<a asp-page="/Games/Versions/Edit" asp-route-gameId="@Model.Submission.GameId" asp-route-id="@Model.Submission.VersionId">
							<span class="col-sm-9">@Html.DisplayFor(m => m.Submission.GameVersion)</span>
						</a>
					</span>
				</row>
				<row>
					<label class="col-sm-3" asp-for="Submission.Branch"></label>
					<span class="col-sm-9">@Html.DisplayFor(m => m.Submission.Branch)</span>
				</row>
			</column>
		</row>
	</card-body>
</card>
<hr />
<form client-side-validation="true" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Submission.SystemId" />
	<row>
		<input type="hidden" asp-for="Submission.MovieExtension" />
		<column lg="6">
			<fieldset>
				<label asp-for="Submission.MovieToObsolete"></label>
				<input asp-for="Submission.MovieToObsolete" class="form-control" />
				<span asp-validation-for="Submission.MovieToObsolete" class="text-danger"></span>
				<span id="obsoleted-by"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Submission.OnlineWatchingUrl"></label>
				<input type="text" asp-for="Submission.OnlineWatchingUrl" class="form-control" />
				<span asp-validation-for="Submission.OnlineWatchingUrl" class="text-danger"></span>
				<label asp-for="Submission.OnlineWatchUrlName"></label>
				<input type="text" asp-for="Submission.OnlineWatchUrlName" class="form-control"/>
				<span asp-validation-for="Submission.OnlineWatchUrlName" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Submission.MirrorSiteUrl"></label>
				<input type="text" asp-for="Submission.MirrorSiteUrl" class="form-control" />
				<span asp-validation-for="Submission.MirrorSiteUrl" class="text-danger"></span>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="Submission.MovieFilename"></label>
				<div class="input-group">
					<input type="text" asp-for="Submission.MovieFilename" class="form-control" />
					<div class="input-group-append">
						<span class="input-group-text">
							.@Model.Submission.MovieExtension
						</span>
					</div>
				</div>
				<div>Please follow the convention: xxxv#-yyy where xxx is author name, # is version and yyy is game name. Special characters such as \"&\" and \"/\" and \".\" and spaces must not occur in the filename.</div>
				<span asp-validation-for="Submission.MovieFilename" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Submission.Screenshot"></label>
				<input asp-for="Submission.Screenshot" class="form-control" />
				<span>
					Must be JPEG or PNG
					<br />
					(Please read <a href="/PublisherGuidelines">Publisher guidelines</a> for guidelines regarding screenshot selection.)
				</span>
				<span asp-validation-for="Submission.Screenshot" class="text-danger"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Submission.ScreenshotDescription">Description</label>
				<input asp-for="Submission.ScreenshotDescription" type="text" class="form-control" />
				<div>Caption, describe what happens in the screenshot</div>
				<span asp-validation-for="Submission.ScreenshotDescription" class="text-danger"></span>
			</fieldset>
		</column>
	</row>
	<hr />
	<row>
		<column lg="6">
			<partial name="_WikiEditHelper" model="@("Submission_MovieMarkup")" />
			<fieldset>
				<label asp-for="Submission.MovieDescription"></label>
				<textarea asp-for="Submission.MovieDescription" class="form-control" rows="10" placeholder="Enter your __wiki markup__ here..."></textarea>
				<span asp-validation-for="Submission.MovieDescription" class="text-danger"></span>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="Markup"></label>
				<textarea readonly class="form-control" rows="10" asp-for="Markup"></textarea>
			</fieldset>
		</column>
	</row>
	<preview-button></preview-button>
	<partial name="_PreviewWindow" model="@(Html.IdFor(m => m.Submission.MovieDescription), "/Wiki/Preview")" />
	<hr />
	<fullrow>
		<fieldset>
			<label asp-for="Submission.SelectedFlags"></label>
			<select asp-for="Submission.SelectedFlags" multiselect="true" asp-items="Model.AvailableFlags" class="form-select"></select>
		</fieldset>
		<fieldset>
			<label asp-for="Submission.SelectedTags"></label>
			<select asp-for="Submission.SelectedTags" multiselect="true" asp-items="Model.AvailableTags" class="form-select"></select>
		</fieldset>
	</fullrow>
	<hr />
	@await Html.RenderWiki(SystemWiki.FilesEditingHelp)
	<form-button-bar>
		<submit-button><i class="fa fa-save"></i> Publish</submit-button>
		<cancel-link asp-page="View" asp-route-id="@Model.Id"></cancel-link>
	</form-button-bar>
</form>

@section Scripts {
	<script>
		const selectedTagsId = "@Html.IdFor(m => m.Submission.SelectedTags)";
		let originalDescription = "@Model.Submission.MovieDescription";
		const obsoletionModel = document.getElementById("@Html.IdFor(m => m.Submission.MovieToObsolete)");
		const descriptionModel = document.getElementById("@Html.IdFor(m => m.Submission.MovieDescription)");

		descriptionModel.onchange = function() {
			originalDescription = descriptionModel.value;
		}

		obsoletionModel.onchange = function() {
			if (!obsoletionModel.value) {
				descriptionModel.value = originalDescription;
				return;
			}

			document.getElementById("obsoleted-by").innerHTML = "";
			const url = `/Submissions/Publish/@(Model.Id)?handler=ObsoletePublication&publicationId=${obsoletionModel.value}`;
			fetch(url)
				.then(handleFetchErrors)
				.then(r => r.json())
				.then(t => {
					const oldValue = originalDescription;
					descriptionModel.value = t.markup;
					originalDescription = oldValue;

					document.getElementById("obsoleted-by").innerHTML = t.title ? t.title : "Unknown publication";

					for (let option of document.querySelectorAll(`#${selectedTagsId} option`)) {
						option.selected = t.tags.includes(Number(option.value));
					}
					engageSelectImprover('@Html.IdFor(m => m.Submission.SelectedTags)');
				});
		}
	</script>
}