@page "{id}"
@inject ISubmissionService _submissionService
@model ViewModel
@{
	ViewData["Title"] = $"{Model.Submission.Title} - Submission #{Model.Id}";
	bool hasEncode = !string.IsNullOrWhiteSpace(Model.Submission.EncodeEmbedLink);
	bool canEdit = ViewData.UserHas(PermissionTo.EditSubmissions)
		|| (Model.CanEdit && ViewData.UserHas(PermissionTo.SubmitMovies));
	bool hasJudgeOrPublisher = !string.IsNullOrWhiteSpace(Model.Submission.Judge) || !string.IsNullOrWhiteSpace(Model.Submission.Publisher);
	bool showPublicationClass = !string.IsNullOrWhiteSpace(Model.Submission.ClassName) && Model.Submission.Status != SubmissionStatus.Rejected && Model.Submission.ClassName != "Standard";
	bool canPublish = ViewData.UserHas(PermissionTo.PublishMovies)
		&& Model.Submission.Status == SubmissionStatus.PublicationUnderway
		&& Model.Submission.IsCataloged
		&& (Model.Submission.Publisher == User.Name() || ViewData.UserHas(PermissionTo.OverrideSubmissionStatus));
	string statusColor = StatusColor(Model.Submission.Status);

	bool canClaimAsJudge = ViewData.UserHas(PermissionTo.JudgeSubmissions)
		&& ViewData.UserHas(PermissionTo.EditSubmissions)
		&& Model.Submission.Status == SubmissionStatus.New
		&& Model.Submission.Authors.All(a => a != User.Name());

	bool canClaimAsPublisher = ViewData.UserHas(PermissionTo.PublishMovies)
		&& ViewData.UserHas(PermissionTo.EditSubmissions)
		&& Model.Submission.Status == SubmissionStatus.Accepted;
	string youtubeEmbedImage = "";
	if (Model.Submission.EncodeEmbedLink is not null)
	{
		youtubeEmbedImage = "https://i.ytimg.com/vi/" + Model.Submission.EncodeEmbedLink.Split('/').Last() + "/hqdefault.jpg";
	}
	string openGraphEmbedImage = string.IsNullOrWhiteSpace(youtubeEmbedImage) ? $"{HttpContext.Request.ToBaseUrl()}/images/logo-embed.png" : youtubeEmbedImage;
}

@functions{
	string StatusColor(SubmissionStatus status)
	{
		switch (status)
		{
			default:
				return "info";
			case SubmissionStatus.Accepted:
			case SubmissionStatus.PublicationUnderway:
			case SubmissionStatus.Published:
				return "success";
			case SubmissionStatus.Rejected:
				return "danger";
			case SubmissionStatus.NeedsMoreInfo:
			case SubmissionStatus.Delayed:
				return "warning";
		}
	}
}

@section Header {
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="TASVideos" />
	<meta property="og:title" content="@(Model.Submission.Title)" />
	<meta property="og:description" content="@($"Submission #{Model.Id} from {Model.Submission.Submitted.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)}")" />
	<meta property="og:url" content="@HttpContext.Request.ToUrl()" />
	<meta property="og:image" content="@openGraphEmbedImage" />
	@if (!string.IsNullOrWhiteSpace(youtubeEmbedImage)) {
		<meta property="twitter:card" content="summary_large_image" />
	}
}

@section PageTitle {
	<div class="container mb-2">
		<h1>@($"Submission {Model.Submission.Title}")</h1>
	</div>
}

<row class="mt-2">
	<div class="col-lg-6" condition="hasEncode">
		@*Boilerplate bootstrap stuff *@
		<div class="ratio ratio-16x9">
			<div id="ytplayer"></div>
		</div>
		<script>
			const youtubeScriptId = 'youtube-api';
			let youtubeScript = document.getElementById(youtubeScriptId);
			let player;
			@*Loads the scripts which run the Youtube Player API asynchronously*@
			if (youtubeScript === null) {
				let tag = document.createElement('script');
				let firstScript = document.getElementsByTagName('script')[0];
				
				tag.src = 'https://www.youtube.com/iframe_api';
				tag.id = youtubeScriptId;
				firstScript.parentNode.insertBefore(tag, firstScript);
			}
			@*Populates the youtube player after the API script is ready*@
			if (!player) {
				window.onYouTubeIframeAPIReady = () => {
					player = new YT.Player('ytplayer', {
						videoId: "@Model.Submission.EncodeEmbedLink!.Split('/').Last()"
					});
				}
			}
		</script>
		<a href="@Model.Submission.EncodeEmbedLink">(Link to video)</a>
	</div>
	<div class="@(hasEncode ? "col-lg-6" : "col-lg-12")">
		<div class="alert alert-@(statusColor)" role="alert">
			<h4 condition="!Model.IsPublished" class="alert-heading">
				Status: @Model.Submission.Status.EnumDisplayName()
				<small condition="@Model.Submission.Status == SubmissionStatus.Rejected">
					<span condition="!string.IsNullOrWhiteSpace(Model.Submission.RejectionReasonDisplay)">(Reason: @Model.Submission.RejectionReasonDisplay)</span>
				</small>
			</h4>
			<h4 condition="Model.IsPublished" class="alert-heading">Status: <a asp-page="/Publications/View" asp-route-id="@Model.PublicationId">@Model.Submission.Status.EnumDisplayName()</a></h4>
			<div condition="_submissionService.HoursRemainingForJudging(Model.Submission) > 0">
				(Available for judging in @_submissionService.HoursRemainingForJudging(Model.Submission) hours)
			</div>
			<span condition="@(!string.IsNullOrWhiteSpace(Model.Submission.Judge))">
				<label asp-for="Submission.Judge"></label>:
				<profile-link username="@Model.Submission.Judge"></profile-link>
			</span>
			<span class="ms-3" condition="@(!string.IsNullOrWhiteSpace(Model.Submission.Publisher))">
				<label asp-for="Submission.Publisher"></label>:
				<profile-link username="@Model.Submission.Publisher"></profile-link>
			</span>
			<div condition="showPublicationClass">
				<hr>
				<p class="mb-0">
					<label asp-for="Submission.ClassName" class="mb-0"></label>: <a href="/@Model.Submission.ClassName">@Model.Submission.ClassName</a>
				</p>
			</div>
		</div>

		<table class="table table-bordered table-condensed">
			<tr>
				<th>@Html.DisplayNameFor(m => m.Submission.SystemDisplayName)</th>
				<td>@Model.Submission.SystemDisplayName</td>
				<th>@Html.DisplayNameFor(m => m.Submission.Emulator)</th>
				<td>@Model.Submission.Emulator</td>
			</tr>
			<tr>
				<th>@Html.DisplayNameFor(m => m.Submission.GameVersion)</th>
				<td>@Model.Submission.GameVersion</td>
				<th>@Html.DisplayNameFor(m => m.Submission.FrameCount)</th>
				<td>@Model.Submission.FrameCount</td>
			</tr>
			<tr>
				<th>@Html.DisplayNameFor(m => m.Submission.RomName)</th>
				<td>@Model.Submission.RomName</td>
				<th>@Html.DisplayNameFor(m => m.Submission.FrameRate)</th>
				<td>@Model.Submission.FrameRate</td>
			</tr>
			<tr>
				<th>@Html.DisplayNameFor(m => m.Submission.Branch)</th>
				<td>@Model.Submission.Branch</td>
				<th>@Html.DisplayNameFor(m => m.Submission.RerecordCount)</th>
				<td>@Model.Submission.RerecordCount</td>
			</tr>
			<tr>
				<th><label asp-for="Submission.StartType"></label></th>
				<td>
					<span condition="Model.Submission.WarnStartType" class="badge bg-warning text-dark">!</span>
					@(Model.Submission.StartType?.ToString() ?? "Unknown")
				</td>
				<th>Authors</th>
				<td>
					@foreach (var author in Model.Submission.Authors)
					{
						<profile-link username="@author"></profile-link><span condition="author != Model.Submission.Authors.Last()">,</span>
					}
					<small condition="!string.IsNullOrWhiteSpace(Model.Submission.AdditionalAuthors)">
						<br />(Additionally: @(string.Join(", ",Model.Submission.AdditionalAuthors!.SplitWithEmpty(","))))
					</small>
				</td>
			</tr>
			<tr condition="Model.Submission.GameId.HasValue">
				<th>Game</th>
				<td><game-link id="Model.Submission.GameId!.Value">@Model.Submission.GameName</game-link></td>
			</tr>
		</table>
		<small>
			Submitted by @Model.Submission.Submitter on @Model.Submission.Submitted
		</small>
		<div class="btn-toolbar">
			<a condition="@canClaimAsJudge" asp-page="Edit" asp-route-id="@Model.Id" asp-page-handler="ClaimForJudging" class="btn btn-success mt-2 me-1">Claim</a>
			<a condition="@canClaimAsPublisher" asp-page="Edit" asp-route-id="@Model.Id" asp-page-handler="ClaimForPublishing" class="btn btn-success mt-2 me-1">Claim</a>
			<a asp-page="View" asp-page-handler="Download" asp-route-id="@Model.Id" class="btn btn-primary mt-2"><i class="fa fa-download"></i> Download</a>
			<a condition="@Model.Submission.TopicId > 0" asp-page="/Forum/Topics/Index" asp-route-id="@Model.Submission.TopicId" class="btn btn-secondary ms-1 mt-2"><i class="fa fa-comments-o"></i> Discuss and Vote</a>
			<span permission="EditSubmissions" class="btn-separator mt-2"></span>
			<a condition="@canEdit" asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-primary border border-warning mt-2"><i class="fa fa-pencil"></i> Edit</a>
			<a permission="CatalogMovies" asp-page="Catalog" asp-route-id="@Model.Id" class="ms-1 btn bg-info text-dark border border-warning mt-2"><i class="fa fa-book"></i> Catalog</a>
			<a condition="@canPublish" asp-page="Publish" asp-route-id="@Model.Id" class="ms-1 btn btn-warning mt-2">Publish</a>
			<span class="btn-separator mt-2"></span>
			<a asp-page="Index" class="btn btn-secondary mt-2"><i class="fa fa-arrow-left"></i> Back to Queue</a>
			<a asp-page="Index" asp-route-user="@Model.Submission.Submitter" class="ms-1 mt-2 btn btn-secondary">All by this submitter</a>
		</div>
	</div>
</row>
<hr />
<card>
	<h5 class="card-header">Submission Comments</h5>
	<cardbody>
		<div class="card-text">
			@await Component.RenderWiki(LinkConstants.SubmissionWikiPage + Model.Id)
		</div>
	</cardbody>
</card>
<hr />
<small>
	Last Edited by @Model.Submission.LastUpdateUser on @Model.Submission.LastUpdateTimestamp
</small>
<br />
<a asp-page="/Wiki/PageHistory"
   asp-route-path="@(LinkConstants.SubmissionWikiPage + Model.Id)"
   class="btn bg-info text-dark btn-sm">
	<i class="fa fa-history"></i> Page History
</a>
<a
	asp-page="/Wiki/Diff"
	asp-route-path="@(LinkConstants.SubmissionWikiPage + Model.Id)"
	class="btn bg-info text-dark btn-sm">
	Latest diff
</a>
<a
	asp-page="/Wiki/Referrers"
	asp-route-path="@($"{Model.Id}S")"
	class="btn bg-info text-dark btn-sm">
	List Referrers
</a>
