@page "{year}/{handler?}"
@model AssignModel
@{
	ViewData.SetTitle($"Assign an Award for Year {Model.Year}");
}

<form method="post">
	<a condition="Model.ShowUpload" asp-page="UploadImage" asp-route-year="@Model.Year" class="btn btn-primary mb-2"><i class="fa fa-upload"></i> Upload</a>
	<row>
		<column md="5">
			<fieldset>
				<label asp-for="AwardToAssign.Award"></label>
				<select asp-for="AwardToAssign.Award" asp-items="Model.AvailableAwardCategories" class="form-select"></select>
				<span asp-validation-for="AwardToAssign.Award" class="text-danger"></span>
			</fieldset>
		</column>
		<column md="5" class="offset-md-2">
			<partial name="_ImagePreview" model="@(Html.IdFor(m => m.AwardToAssign.Award), Model.Year)" />
		</column>
	</row>
	<fullrow>
		<fieldset>
			<label asp-for="AwardToAssign.Users"></label>
			<select asp-for="AwardToAssign.Users" size="@(Math.Min(Model.AwardToAssign.Users.Count, 7).ToString())" asp-items="Model.AvailableUsers" class="form-select"></select>
		</fieldset>
	</fullrow>
	<fullrow>
		<fieldset>
			<label asp-for="AwardToAssign.Publications"></label>
			<select asp-for="AwardToAssign.Publications" size="@(Math.Min(Model.AwardToAssign.Publications.Count, 7).ToString())" asp-items="Model.AvailablePublications" class="form-select"></select>
		</fieldset>
	</fullrow>
	<form-button-bar>
		<submit-button><i class="fa fa-plus"></i> Assign</submit-button>
		<cancel-button asp-page="List"></cancel-button>
	</form-button-bar>
</form>

@section Scripts {
	<script src="/js/select-improver.js"></script>
	<script>
		engageSelectImprover('@Html.IdFor(m => m.AwardToAssign.Users)');
		engageSelectImprover('@Html.IdFor(m => m.AwardToAssign.Publications)');
	</script>
}