@using TASVideos.Data.Entity.Awards
@model IEnumerable<TASVideos.Services.AwardDto>
<h2>User Awards</h2>
<row>
	@foreach (var award in Model.Where(m => m.Type == AwardType.User).OrderBy(m => m.ShortName))
	{
		<div class="col-md-4 col-sm-6 m-3">
			<img class="pull-left" alt="@award.Description" src="/awards/@(award.ShortName)_@(award.Year.ToString().PadLeft(2, '0')).png" />
			<div class="pull-right">
				<a id="@(award.ShortName)_@(award.Year)"></a>
				<strong>@award.Description</strong>
				<br />
				@foreach (var user in award.Users)
				{
					<profile-link username="@user.UserName" class="pull-right">@user.UserName</profile-link>
					<br />
				}
			</div>
		</div>
	}
</row>
<hr />
<h2>Publication Awards</h2>
@foreach (var award in Model.Where(m => m.Type == AwardType.Movie).OrderBy(m => m.ShortName))
{
	<div class="mb-5">
		<a id="@(award.ShortName)_@(award.Year)"></a>
		<img class="pull-left mr-2" alt="@award.Description" src="/awards/@(award.ShortName)_@(award.Year.ToString().PadLeft(2, '0')).png" />
		<div>
			<strong>@award.Description</strong>
			<br />
			@foreach (var pub in award.Publications)
			{

				<a href="/@(pub.Id)M">@pub.Title</a>
				<br />
			}
		</div>
		<br />
	</div>
}