@page "/Games/{gameId}/Versions/List"
@model ListModel
@{
	ViewData["Title"] = $"Versions for {Model.Roms.GameDisplayName}";
}

<h4>Game: <a asp-page="/Games/Index" asp-route-id="@Model.GameId">@Model.Roms.GameDisplayName</a></h4>
<a asp-page="Edit" permission="CatalogMovies" asp-route-gameId="@Model.GameId" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a>
<hr />
<table class="table table-bordered table-striped">
	<tr>
		<th>@Html.DisplayNameFor(m => m.Roms.Roms.First().DisplayName)</th>
		<th>@Html.DisplayNameFor(m => m.Roms.Roms.First().TitleOverride)</th>
		<th>@Html.DisplayNameFor(m => m.Roms.Roms.First().Version)</th>
		<th>@Html.DisplayNameFor(m => m.Roms.Roms.First().Region)</th>
		<th>@Html.DisplayNameFor(m => m.Roms.Roms.First().VersionType)</th>
		<th>@Html.DisplayNameFor(m => m.Roms.Roms.First().Md5)</th>
		<th>@Html.DisplayNameFor(m => m.Roms.Roms.First().Sha1)</th>
		<th>@Html.DisplayNameFor(m => m.Roms.Roms.First().SystemCode)</th>
		<th>Actions</th>
	</tr>
	@foreach (var version in Model.Roms.Roms.OrderBy(r => r.DisplayName))
	{
		<tr>
			<td>@version.DisplayName</td>
			<td>@version.TitleOverride</td>
			<td>@version.Version</td>
			<td>@version.Region</td>
			<td>@version.VersionType</td>
			<td>@version.Md5</td>
			<td>@version.Sha1</td>
			<td>@version.SystemCode</td>
			<td>
				<a asp-page="Edit" permission="CatalogMovies" asp-route-id="@version.Id" asp-route-gameId="@Model.GameId" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
			</td>
		</tr>
	}
</table>

