@model SystemPageOf<GameListModel>
@{
	ViewData["Title"] = "Game List" + (!string.IsNullOrWhiteSpace(Model.SystemCode) ? "/" + Model.SystemCode : string.Empty);
	var systemsList = (List<SelectListItem>)ViewData["GameSystemList"];
}

<a asp-action="GameEdit" class="btn btn-primary mb-3 pull-right">Create</a>
<form class="form-inline mb-3">
	<label asp-for="@Model.SystemCode" class="mr-2"></label>
	<select asp-items="@systemsList" asp-for="@Model.SystemCode" class="form-control mr-2"></select>
	<button type="Submit" class="btn btn-secondary">Go</button>
</form>


@Html.Partial("~/Views/Table/_SystemPager.cshtml", Model)
<table class="table table-bordered table-striped table-sm">
	<sortable-table-head paging="@Model" model-type="typeof(GameListModel)" />
	@foreach (var game in Model)
	{
		<tr>
			<td>@game.Id</td>
			<td>@game.SystemCode</td>
			<td>@game.DisplayName</td>
			<td>
				<a asp-controller="Game" asp-action="View" asp-route-id="@game.Id" class="btn btn-sm btn-secondary">View</a>
				<a asp-action="GameEdit" asp-route-id="@game.Id" class="btn btn-primary btn-sm">Edit</a>
				<a asp-action="RomList" asp-route-gameId="@game.Id" class="btn btn-secondary btn-sm">Roms</a>
			</td>
		</tr>
	}
</table>

