@model IEnumerable<PublicationPointsModel>
<div class="table-container">
	<table class="table table-striped table-bordered">
		<tr>
			<th>@Html.DisplayNameFor(m => m.First().Position)</th>
			<th>@Html.DisplayNameFor(m => m.First().Title)</th>
			<th>@Html.DisplayNameFor(m => m.First().Points)</th>
		</tr>
		@foreach (var item in Model!)
		{
			<tr>
				<td>@item.Position</td>
				<td>
					<pub-link id="@item.Id">@item.Title</pub-link>
				</td>
				<td>@Math.Round(item.Points, 3)</td>
			</tr>
		}
	</table>
</div>
