<ul class="nav nav-pills flex-column">
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.Index)" asp-page="Index">Profile</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.Settings)" asp-page="Settings">Settings</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.ChangePassword)" asp-page="ChangePassword">Password</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.ChangeEmail)" asp-page="ChangeEmail">Change Email</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.HomePage)" asp-page="HomePage">Home Page</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.UserFiles)" asp-page="UserFiles">My Files</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.Ratings)" asp-page="Ratings">My Ratings</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.Unrated)" asp-page="Unrated">My Unrated Movies</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ViewData.ActivePageClass(ProfileNavPages.Topics)" asp-page="WatchedTopics">My Watched Topics</a>
	</li>
</ul>
