<ul class="nav nav-pills flex-column">
	<li class="nav-item">
		<a class="nav-link @ProfileNavPages.IndexNavClass(ViewContext)" asp-page="Index">Profile</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ProfileNavPages.SettingsNavClass(ViewContext)" asp-page="Settings">Settings</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ProfileNavPages.ChangePasswordNavClass(ViewContext)" asp-page="ChangePassword">Password</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ProfileNavPages.HomePageNavClass(ViewContext)" asp-page="HomePage">Home Page</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ProfileNavPages.UserFilesNavClass(ViewContext)" asp-page="UserFiles">My Files</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ProfileNavPages.RatingsNavClass(ViewContext)" asp-page="Ratings">My Ratings</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @ProfileNavPages.TopicsNavClass(ViewContext)" asp-page="WatchedTopics">My Watched Topics</a>
	</li>
</ul>
 