@page
@model SettingsModel
@{
	ViewData["Title"] = "Profile Settings";
	ViewData.AddActivePage(ProfileNavPages.Settings);
}
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
	<row>
		<column lg="6">
			<form-group>
				<label asp-for="Settings.Username"></label>
				<input asp-for="Settings.Username" class="form-control" disabled />
			</form-group>
			<form-group>
				<label asp-for="Settings.Email"></label>
				@if (Model.Settings.IsEmailConfirmed)
				{
					<div class="input-group">
						<input asp-for="Settings.Email" class="form-control" />
						<div class="input-group-append">
							<span class="input-group-text" aria-hidden="true"><span class="fa fa-check-square text-success"></span></span>
						</div>
					</div>
				}
				else
				{
					<input asp-for="Settings.Email" class="form-control" />
					<button asp-page="Settings" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
				}
				<span asp-validation-for="Settings.Email" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="Settings.PublicRatings"></label>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					@{
						var trueId = nameof(Model.Settings.PublicRatings) + "-true";
						var falseId = nameof(Model.Settings.PublicRatings) + "-false";
					}
					<label for="@trueId" class="btn btn-secondary @(Model.Settings.PublicRatings ? "active" : "")">
						<input id="@trueId" type="radio" value="True" asp-for="Settings.PublicRatings" /> Yes
					</label>
					<label for="@falseId" class="btn btn-secondary @(!Model.Settings.PublicRatings ? "active" : "")">
						<input id="@falseId-false" type="radio" value="False" asp-for="Settings.PublicRatings" /> No
					</label>
				</div>
			</form-group>
		</column>
		<column lg="6">
			<form-group>
				<label asp-for="Settings.TimeZoneId"></label>
				<timezone-picker asp-for="Settings.TimeZoneId" class="form-control" />
			</form-group>
			<form-group>
				<label asp-for="Settings.From"></label>
				<input asp-for="Settings.From" class="form-control" />
				<span asp-validation-for="Settings.From"></span>
			</form-group>
		</column>
	</row>
	<row>
		<column md="6">
			<label asp-for="Settings.Avatar"></label>
			<input type="text" asp-for="Settings.Avatar" class="form-control" />
		</column>
		<column id="avatar-preview" md="6" class="mt-md-0 mt-3" show="!string.IsNullOrWhiteSpace(Model.Settings.Avatar)">
			<label>Preview</label>
			<button id="preview-btn" type="button" class="btn btn-secondary btn-sm">
				<span class="fa fa-refresh"></span>
			</button><br />
			<img id="avatar-img" src="@Model.Settings.Avatar" class="pull-left m-2" />
			<small>
				@await Component.RenderWiki("System/AvatarRequirements")
			</small>
		</column>
		<script>
			(function () {
				var avatarBoxElem = document.getElementById('@Html.IdFor(m => m.Settings.Avatar)');
				var previewElem = document.getElementById('avatar-preview');

				document.addEventListener("DOMContentLoaded", validateAvatar);
				avatarBoxElem.addEventListener('blur', toggleAvatarPreview);
				document.getElementById('preview-btn').addEventListener('click', toggleAvatarPreview);

				var avatarImgElem = document.getElementById('avatar-img');

				function toggleAvatarPreview() {
					var avatar = document.getElementById('@Html.IdFor(m => m.Settings.Avatar)').value;
					if (avatar) {
						avatarImgElem.onload = validateAvatar;
						avatarImgElem.src = avatar;
					} else {
						previewElem.classList.add('d-none');
						preventSave(false);
					}
				}

				function validateAvatar() {
					var maxWidth = @AvatarRequirements.Width;
					var maxHeight = @AvatarRequirements.Height;

					var tooBig = avatarImgElem.width > maxWidth || avatarImgElem.height > maxHeight;
					if (tooBig) {
						previewElem.classList.add('alert');
						previewElem.classList.add('alert-danger');
						preventSave(true);
					} else {
						previewElem.classList.remove('alert');
						previewElem.classList.remove('alert-danger');
						preventSave(false);
					}

					previewElem.classList.remove('d-none');
				}

				function preventSave(prevent) {
					document.getElementById('submit-btn').disabled = prevent;
				}
			})();
		</script>
	</row>
	<fullrow class="mt-3">
		<label asp-for="Settings.Signature"></label>
		<textarea asp-for="Settings.Signature" class="form-control" rows="5"></textarea>
	</fullrow>
	<hr />
	<div class="text-center">
		<button id="submit-btn" type="submit" class="btn btn-secondary">Save</button>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
