@page
@model SettingsModel
@{
	ViewData.SetTitle("Profile Settings");
	ViewData.AddActivePage(ProfileNavPages.Settings);
	const string ratingsTrueId = nameof(Model.PublicRatings) + "-true";
	const string ratingsFalseId = nameof(Model.PublicRatings) + "-false";
	const string emailOnPmTrueId = nameof(Model.EmailOnPrivateMessage) + "-true";
	const string emailOnPmFalseId = nameof(Model.EmailOnPrivateMessage) + "-false";
	var usingIvatar = Model.AvatarUrl?.Contains($"//{SiteGlobalConstants.MainIvatarDomain}/") ?? false;
}

<form client-side-validation="true" method="post">
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="Username"></label>
				<label class="form-control">@Model.Username</label>
				<div class="text-warning">
					@await Html.RenderWiki(SystemWiki.NameChanges)
				</div>
			</fieldset>
			<a asp-page="ChangeEmail">Change Email</a>
			@if (Model.IsEmailConfirmed)
			{
				<fieldset disabled>
					<label asp-for="CurrentEmail"></label>
					<div class="input-group">
						<input asp-for="CurrentEmail" data-email-box />
						<div class="input-group-text" aria-disabled="true"><span class="fa fa-check-square text-success"></span></div>
					</div>
				</fieldset>
			}
			else
			{
				<fieldset>
					<div class="input-group">
						<input asp-for="CurrentEmail" readonly  data-email-box />
						<div class="input-group-text" aria-disabled="true" title="Email not confirmed"><span class="fa fa-exclamation text-warning"></span></div>
					</div>
					<button asp-page="Settings" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
				</fieldset>
			}

			<fieldset>
				<label asp-for="PublicRatings">Allow Movie Ratings to be public</label>
				<div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
					<label for="@ratingsTrueId" class="btn btn-secondary @(Model.PublicRatings ? "active" : "")">
						<input id="@ratingsTrueId" type="radio" value="True" asp-for="PublicRatings" /> Yes
					</label>
					<label for="@ratingsFalseId" class="btn btn-secondary @(!Model.PublicRatings ? "active" : "")">
						<input id="@ratingsFalseId" type="radio" value="False" asp-for="PublicRatings" /> No
					</label>
				</div>
			</fieldset>
			<fieldset>
				<label asp-for="EmailOnPrivateMessage"></label>
				<div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
					<label for="@emailOnPmTrueId" class="btn btn-secondary @(Model.EmailOnPrivateMessage ? "active" : "")">
						<input id="@emailOnPmTrueId" type="radio" value="True" asp-for="EmailOnPrivateMessage" /> Yes
					</label>
					<label for="@emailOnPmFalseId" class="btn btn-secondary @(!Model.EmailOnPrivateMessage ? "active" : "")">
						<input id="@emailOnPmFalseId" type="radio" value="False" asp-for="EmailOnPrivateMessage" /> No
					</label>
				</div>
			</fieldset>
			<fieldset>
				<label asp-for="AutoWatchTopic">Preselect "Watch Topic" When Posting</label>
				<select asp-for="AutoWatchTopic" asp-items="@SettingsModel.AvailableUserPreferenceTypes"></select>
				<small>
					This setting affects how the "Watch Topic" checkbox will be preselected when creating a new Post or Topic.<br />
					<strong>Auto:</strong> Keep the current Watch Topic setting.
					<strong>Always:</strong> Always enable the checkbox.
					<strong>Never:</strong> Always disable the checkbox.<br />
					Note that this is only a preselect. No matter what you choose here, you can always override it manually when creating a new Post or Topic.
				</small>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="PreferredPronouns"></label>
				<select asp-for="PreferredPronouns" asp-items="@SettingsModel.AvailablePronouns"></select>
				<span asp-validation-for="PreferredPronouns"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Location"></label>
				<input asp-for="Location" />
				<span asp-validation-for="Location"></span>
			</fieldset>
			<fieldset>
				<label asp-for="TimeZone"></label>
				<timezone-picker asp-for="TimeZone" />
			</fieldset>
			@{
				var exampleDate = new DateTime(2024, 2, 29, 17, 35, 0);
				const double exampleNumber = 1.23;
			}
			<fieldset>
				<label asp-for="DateFormat"></label>
				<label condition="@Model.DateFormat == UserDateFormat.Auto" asp-for="DateFormat" class="text-body-tertiary">(Currently: @exampleDate.ToShortDateString())</label>
				<select asp-for="DateFormat" asp-items="@SettingsModel.AvailableDateFormats"></select>
				<span asp-validation-for="DateFormat"></span>
			</fieldset>
			<fieldset>
				<label asp-for="TimeFormat"></label>
				<label condition="@Model.TimeFormat == UserTimeFormat.Auto" asp-for="TimeFormat" class="text-body-tertiary">(Currently: @exampleDate.ToShortTimeString())</label>
				<select asp-for="TimeFormat" asp-items="@SettingsModel.AvailableTimeFormats"></select>
				<span asp-validation-for="TimeFormat"></span>
			</fieldset>
			<fieldset>
				<label asp-for="DecimalFormat"></label>
				<label condition="@Model.DecimalFormat == UserDecimalFormat.Auto"  asp-for="DecimalFormat" class="text-body-tertiary">(Currently: @exampleNumber)</label>
				<select asp-for="DecimalFormat" asp-items="@SettingsModel.AvailableDecimalFormats"></select>
				<span asp-validation-for="DecimalFormat"></span>
			</fieldset>
		</column>
	</row>
	<hr />
	<label>Use ivatar (Gravatar)</label>
	<div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
		<label class="btn btn-secondary @(usingIvatar ? "active" : "")">
			<input id="UseIvatar-true" type="radio" value="True" name="UseIvatar" @(usingIvatar ? "checked" : "") /> Yes
		</label>
		<label class="btn btn-secondary" value="True"  @(!usingIvatar ? "active" : "")>
			<input id="UseIvatar-false" type="radio" value="False" name="UseIvatar" @(!usingIvatar ? "checked" : "") /> No
		</label>
	</div>
	<div class="mt-3" id="ivatar-section">
		<fieldset>
			<label>Email to Use for ivatar Lookup</label>
			<input id="ivatar-email" class="form-control" />
		</fieldset>
		<small>
			This address will be used for the hash below.
			<br>We currently won't honor any server choice in DNS&mdash;if you don't want to use Libravatar/Gravatar, manually set the relevant URL.
		</small>
	</div>
	<fullrow class="mt-3">
		<label asp-for="AvatarUrl"></label>
		<input asp-for="AvatarUrl" data-avatar-box />
		<span asp-validation-for="AvatarUrl"></span>
		<span id="avatar-too-big" class="text-danger d-none">Image invalid, please check requirements</span>
	</fullrow>
	<fullrow class="mt-2">
		<div class="float-end">
			<img id="avatar-img" src="@Model.AvatarUrl" class="m-2" alt="Avatar preview" />
		</div>
		<small id="avatar-description">
			@await Html.RenderWiki(SystemWiki.AvatarRequirements)
		</small>
	</fullrow>
	<fullrow permission="UseMoodAvatars">
		<label asp-for="MoodAvatar">Mood-variant avatar URL</label>
		<input asp-for="MoodAvatar" />
		<span asp-validation-for="MoodAvatar"></span>
		<a asp-page="/Forum/MoodReport" asp-route-username="@Model.Username">Check Mood Avatars</a>
	</fullrow>
	<fullrow permission="UseMoodAvatars" class="mt-3">
		<small>
			@await Html.RenderWiki(SystemWiki.MoodAvatarRequirements)
		</small>
	</fullrow>
	<fullrow permission="EditSignature" class="mt-3">
		<label asp-for="Signature"></label>
		<textarea asp-for="Signature" rows="5" disabled="@(!User.Has(PermissionTo.EditSignature))"></textarea>
	</fullrow>
	<form-button-bar>
		<submit-button id="submit-btn"></submit-button>
	</form-button-bar>
</form>

@section Scripts {
	<script src="/js/profile-settings.js"></script>
}
