@page
@model WatchedTopicsModel
@{
	ViewData["Title"] = "My Watched Topics";
	ViewData.AddActivePage(ProfileNavPages.Topics);
}

<h3>You Are Watching the following @Model.Watches.Count() Topics:</h3>

<table class="table table-striped">
	<tr>
		<th>Forum</th>
		<th>Topic</th>
		<th>Stop Watching</th>
	</tr>
	@foreach (var watch in Model.Watches
		.OrderBy(tw => !tw.IsNotified)
		.ThenByDescending(tw => tw.TopicCreateTimeStamp))
	{
		<tr style="@(watch.IsNotified ? "font-style: italic" : "")">
			<td>
				<a asp-page="/Forum/SubForum" asp-route-id="@watch.ForumId">@watch.ForumTitle</a>
			</td>
			<td>
				<i condition="watch.IsNotified" title="This topic has new replies" class="fa fa-exclamation"></i>
				<a asp-page="/Forum/Topics" asp-route-id="@watch.TopicId">@watch.TopicTitle</a>
			</td>
			<td>
				<delete-button
					warning-message="Are you sure you want to stop watching this topic?"
					asp-href="/Profile/WatchedTopics?topicId=@(watch.TopicId)&handler=StopWatching">
					<i class="fa fa-remove"></i>
				</delete-button>
			</td>
		</tr>
	}
</table>
