@model ProfileIndexModel
@{
	ViewData["Title"] = "Profile Settings";
	ViewData.AddActivePage(ProfileNavPages.Settings);
}
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
	<row>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="Username"></label>
				<input asp-for="Username" class="form-control" disabled />
			</form-group>
			<form-group>
				<label asp-for="Email"></label>
				@if (Model.IsEmailConfirmed)
				{
					<div class="input-group">
						<input asp-for="Email" class="form-control" />
						<div class="input-group-append">
							<span class="input-group-text" aria-hidden="true"><span class="fa fa-check-square text-success"></span></span>
						</div>
					</div>
				}
				else
				{
					<input asp-for="Email" class="form-control" />
					<button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
				}
				<span asp-validation-for="Email" class="text-danger"></span>
			</form-group>
			<form-group>
				<label asp-for="PublicRatings"></label>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					@{
						var trueId = nameof(Model.PublicRatings) + "-true";
						var falseId = nameof(Model.PublicRatings) + "-false";
					}
					<label for="@trueId" class="btn btn-secondary @(Model.PublicRatings ? "active" : "")">
						<input id="@trueId" type="radio" value="True" asp-for="PublicRatings"/> Yes
					</label>
					<label for="@falseId" class="btn btn-secondary @(!Model.PublicRatings ? "active" : "")">
						<input id="@falseId-false" type="radio" value="False" asp-for="PublicRatings"/> No
					</label>
				</div>
			</form-group>
		</div>
		<div class="col-lg-6">
			<form-group>
				<label asp-for="TimeZoneId"></label>
				<timezone-picker asp-for="TimeZoneId" class="form-control" />
			</form-group>
			<form-group>
				<label asp-for="From"></label>
				<input asp-for="From" class="form-control" />
				<span asp-validation-for="From"></span>
			</form-group>
		</div>
	</row>
	<div class="text-center">
		<button type="submit" class="btn btn-secondary">Save</button>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
