@model TopicFeedModel

<div class="@(Model.RightAlign ? "right-align-topic" : "")">
	<h3 condition="!string.IsNullOrWhiteSpace(Model.Heading)" class="card-header topic-header">@Model.Heading</h3>
	@foreach (var post in Model.Posts)
	{
		var collapseId = $"collapse-content-{post.Id}";
		<div class="card">
			<div class="card-body">
				<h5 condition="!Model.HideContent"><a href="/Forum/Posts/@(post.Id)">@post.Subject</a></h5>
				<h5 condition="Model.HideContent"><a class="collapsed" data-bs-toggle="collapse" href="/Forum/Posts/@(post.Id)" data-bs-target="#@collapseId" role="button" aria-expanded="false"><i class="fa fa-chevron-circle-down"></i> @post.Subject</a></h5>
				<h6 class="card-subtitle mb-2 text-muted">
					<small>
						posted by <a href="/@post.PosterName">@post.PosterName</a> <timezone-convert asp-for="@post.CreateTimestamp" in-line="true" />
					</small>
				</h6>
				<div condition="Model.HideContent" class="collapse card-text" id="collapse-content-@post.Id">
					<forum-markup markup=@post.Text enable-bb-code=@post.EnableBbCode enable-html=@post.EnableHtml></forum-markup>
				</div>
				<div condition="!Model.HideContent" class="card-text">
					<forum-markup markup=@post.Text enable-bb-code=@post.EnableBbCode enable-html=@post.EnableHtml></forum-markup>
				</div>
			</div>
		</div>
	}
</div>
