@model WikiHistoryModel

@{
	ViewData["Title"] = "Page History For " + Model.PageName;
}
<a class="btn btn-secondary" href="/@WikiHelper.ProcessLink(Model.PageName)">Back to Page</a>
<div id="diff-view" class="d-none mt-3 border border-secondary" style="max-height: 400px; overflow-y: auto">

</div>
<hr />
<table class="table table-striped table-light">
	<tbody>
		<tr>
			<th>@Html.DisplayNameFor(m => m.Revisions.First().Revision)</th>
			<th>@Html.DisplayNameFor(m => m.Revisions.First().CreateTimeStamp)</th>
			<th>@Html.DisplayNameFor(m => m.Revisions.First().CreateUserName)</th>
			<th>@Html.DisplayNameFor(m => m.Revisions.First().MinorEdit)</th>
			<th>@Html.DisplayNameFor(m => m.Revisions.First().RevisionMessage)</th>
			<th>Actions</th>
		</tr>
		@foreach (var revision in Model.Revisions.OrderByDescending(r => r.Revision))
		{
			<tr data-revision="@revision.Revision">
				<td><a href="/@(Model.PageName)?revision=@revision.Revision">@revision.Revision</a></td>
				<td>@revision.CreateTimeStamp</td>
				<td>@revision.CreateUserName</td>
				<td>@revision.MinorEdit</td>
				<td>@revision.RevisionMessage</td>
				<td style="min-width: 100px">
					<button class="btn btn-primary btn-sm" onclick="GetDiff(@revision.Revision)">Diff</button>
					<delete-button Condition="@ViewData.UserHas(PermissionTo.DeleteWikiPages)" asp-href="@(Url.Action(nameof(WikiController.DeleteRevision), new { path = Model.PageName, revision = revision.Revision }))" warning-message="Are you sure you want to delete this revision?" class="btn-sm"><i class="fa fa-remove"></i></delete-button>
				</td>
			</tr>
		}
	</tbody>
</table>

<input type="hidden" id="left-revision" />
<input type="hidden" id="right-revision" />
<div id="diff-options" class="d-none">
	<hr />
	<label><input name="diff-type" type="radio" value="1" checked="checked" onclick="generateDiff(1)" /> Inline</label>
	<label><input name="diff-type" type="radio" value="0" onclick="generateDiff(0)" /> Side by Side</label>
</div>

<script>
	var fromRevision, toRevision;

	function GetDiff(revision) {
		var baseUrl = '@Url.Action(nameof(WikiController.DiffData), "Wiki")';
		var path = '@Model.PageName';
		var ajaxUrl = baseUrl + '?path=' + path + '&fromRevision=' + (revision - 1) + '&toRevision=' + revision;

		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState === XMLHttpRequest.DONE) {
				document.getElementById("diff-view").classList.remove("d-none");
				document.getElementById("diff-options").classList.remove("d-none");
				if (xmlhttp.status === 200) {

					document
						.querySelectorAll('tr')
						.toArray()
						.forEach(function (elem) {
							elem.classList.remove('table-primary');
							elem.classList.remove('table-info');
						});

					var curr = document.querySelector('tr[data-revision="' + revision + '"]');
					curr.classList.add('table-primary');

					var prev = document.querySelector('tr[data-revision="' + (revision - 1) + '"]');
					prev.classList.add('table-info');

					var data = JSON.parse(xmlhttp.responseText);
					document.getElementById("left-revision").value = data.leftMarkup;
					document.getElementById("right-revision").value = data.rightMarkup;
					fromRevision = revision - 1;
					toRevision = revision;
					generateDiff(parseInt(document.querySelector('[name="diff-type"]:checked').value));
				}
			}
		};

		xmlhttp.open("GET", ajaxUrl, true);
		xmlhttp.send();
	}

	function generateDiff(viewType) {
		var diffView = document.getElementById("diff-view");
		var base = difflib.stringAsLines(document.getElementById("left-revision").value),
			newtxt = difflib.stringAsLines(document.getElementById("right-revision").value),
			opcodes = new difflib.SequenceMatcher(base, newtxt).get_opcodes(),
			diffoutputdiv = diffView;

		diffoutputdiv.innerHTML = "";

		diffoutputdiv.appendChild(diffview.buildView({
			baseTextLines: base,
			newTextLines: newtxt,
			opcodes: opcodes,
			baseTextName: "r" + fromRevision,
			newTextName: "r" + toRevision,
			contextSize: null,
			viewType: viewType
		}));
	}
</script>

@section Scripts {
	<script src="~/js/difflib.js"></script>
	<script src="~/js/diffview.js"></script>
	<link rel="stylesheet" href="~/css/diffview.css" />
}
