@page "{id}/{handler?}"
@model EditModel
@{
	ViewData.SetTitle($"Editing System: {Model.System.Id} {Model.System.Code}");
}
<top-button-bar>
	<delete-button condition="!Model.InUse"
					asp-href="/Systems/Edit/@(Model.System.Id)/Delete"
					warning-message="Are you sure you want to remove this system?"></delete-button>
	<span condition="Model.InUse">System in Use</span>
</top-button-bar>
<form client-side-validation="true" method="post">
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="System.Code"></label>
				<input asp-for="System.Code"/>
				<span asp-validation-for="System.Code"></span>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="System.DisplayName"></label>
				<input asp-for="System.DisplayName" />
				<span asp-validation-for="System.DisplayName"></span>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button></submit-button>
		<cancel-link asp-page="Index"></cancel-link>
	</form-button-bar>
</form>

<top-button-bar>
	<h4 class="heading">System Framerates</h4>
	<add-link asp-page="CreateFramerate" asp-route-systemId="@Model.Id"></add-link>
</top-button-bar>
<standard-table>
	<table-head columns="Framerate,Region,Preliminary,Obsolete,Actions"></table-head>
	@foreach (var rate in Model.System.SystemFrameRates
		.OrderBy(r => r.Obsolete)
		.ThenBy(r => r.FrameRate))
	{
		<tr class="@(rate.Obsolete ? "table-info" : "")">
			<td>@rate.FrameRate</td>
			<td>@rate.RegionCode</td>
			<td>@rate.Preliminary</td>
			<td>@rate.Obsolete</td>
			<td-action-column>
				<edit-link class="btn-sm" asp-page="EditFrameRate" asp-route-id="@rate.Id"></edit-link>
			</td-action-column>
		</tr>
	}
</standard-table>
