@page
@model IndexModel
@{
	ViewData.SetTitle("Game Systems List");
}
<top-button-bar>
	<add-link permission="GameSystemMaintenance" asp-page="Create"></add-link>
</top-button-bar>
<standard-table>
	<table-head columns="Display Name,Code,Id,Framerates,"></table-head>
	@foreach (var system in Model.Systems.OrderBy(s => s.DisplayName))
	{
		<tr>
			<td>@system.DisplayName</td>
			<td>@system.Code</td>
			<td>@system.Id</td>
			<td>
				@foreach(var rate in system.SystemFrameRates
					.Where(sf => !sf.Obsolete)
					.OrderBy(sf => sf.FrameRate))
				{
					<div>@rate.FrameRate</div>
				}

				<div condition="system.SystemFrameRates.Any(sf => sf.Obsolete)">
					(@system.SystemFrameRates.Count(sf => sf.Obsolete) obsolete)
				</div>
			</td>
			<td-action-column>
				<edit-link permission="GameSystemMaintenance" asp-page="Edit" asp-route-id="@system.Id"></edit-link>
			</td-action-column>
		</tr>
	}
</standard-table>