@page "/Publications/{publicationId}/Urls/List/{urlId?}/{handler?}"
@model ListUrlsModel
@{
	ViewData.SetTitle($"URLs for {Model.Title}");
}

@section PageTitle {
	Movie: <pub-link id="Model.PublicationId">@Model.Title</pub-link>
}

<top-button-bar>
	<back-link permission="EditPublicationMetaData" asp-page="/Publications/Edit" asp-route-id="@Model.PublicationId" name-override="Back to Edit"></back-link>
	<add-link asp-page="Edit" permission="EditPublicationFiles" asp-route-publicationId="@Model.PublicationId"></add-link>
</top-button-bar>
<standard-table condition="Model.CurrentUrls.Any()">
	<table-head columns="Type,URL,Name,Actions"></table-head>
	@foreach (var url in Model.CurrentUrls.OrderBy(u => u.Type).ThenBy(u => u.DisplayName))
	{
		<tr>
			<td>@url.Type</td>
			<td>@url.Url</td>
			<td>@url.DisplayName</td>
			<td-action-column>
				<edit-link asp-page="Edit"
							class="btn-sm"
							permission="EditPublicationFiles"
							asp-route-urlId="@url.Id"
							asp-route-publicationId="@Model.PublicationId">
				</edit-link>
				<delete-button warning-message="Are you sure you want to remove this URL?"
								permission="EditPublicationFiles"
								asp-href="/Publications/@Model.PublicationId/Urls/List/@url.Id/Delete"
								class="btn-sm"></delete-button>
			</td-action-column>
		</tr>
	}
</standard-table>

