@page
@model ExternalDependenciesModel
@{
	ViewData.SetTitle("External Dependencies");
}

@functions
{
	static string ToIcon(bool? val)
	{
		return $"<i class=\"fa {ToIconClass(val)}\"></i>";
	}

	static string ToIconClass(bool? val)
	{
		return val switch
		{
			true => "text-success fa-check",
			false => "text-danger fa-exclamation",
			_ => "text-info fa-question"
		};
	}
}

<top-button-bar>
	<back-link asp-page="Index"></back-link>
</top-button-bar>
<standard-table>
	<table-head columns="Service,Status"></table-head>
	<tr>
		<td>YouTube Enabled</td>
		<td>
			@Html.Raw(ToIcon(Model.YoutubeEnabled))
		</td>
	</tr>
	<tr>
		<td>Youtube Access Successful</td>
		<td>
			@Html.Raw(ToIcon(Model.YoutubeAccessSuccessful))
		</td>
	</tr>
	<tr>
		<td>Email Enabled</td>
		<td>
			@Html.Raw(ToIcon(Model.EmailEnabled))
		</td>
	</tr>
	<tr>
		<td>Irc</td>
		<td>@Html.Raw(ToIcon(Model.IrcEnabled))</td>
	</tr>
	<tr>
		<td>Irc Secure Channel</td>
		<td>@Html.Raw(ToIcon(Model.SecureIrcEnabled))</td>
	</tr>
	<tr>
		<td>Discord</td>
		<td>@Html.Raw(ToIcon(Model.DiscordEnabled))</td>
	</tr>
	<tr>
		<td>Discord Private Channel</td>
		<td>@Html.Raw(ToIcon(Model.DiscordPrivateChannelEnabled))</td>
	</tr>
</standard-table>

