@page
@model LoggingModel
@using Microsoft.Extensions.Logging
@inject ILogger<LoggingModel> Logger;
@{
	ViewData.SetTitle("Logging");
}

<ul>
	<li><a asp-page="Index">Diagnostics</a></li>
</ul>
<a class="btn btn-primary mb-2" asp-page-handler="TestLogLevels">Test log levels</a>
<standard-table>
	<tr>
		<th>Log Level</th>
		<th>Enabled</th>
	</tr>
	<tr><td>Trace</td><td>@Logger.IsEnabled(LogLevel.Trace)</td></tr>
	<tr><td>Debug</td><td>@Logger.IsEnabled(LogLevel.Debug)</td></tr>
	<tr><td>Information</td><td>@Logger.IsEnabled(LogLevel.Information)</td></tr>
	<tr><td>Warning</td><td>@Logger.IsEnabled(LogLevel.Warning)</td></tr>
	<tr><td>Error</td><td>@Logger.IsEnabled(LogLevel.Error)</td></tr>
	<tr><td>Critical</td><td>@Logger.IsEnabled(LogLevel.Critical)</td></tr>
</standard-table>
