@page "{topicId}"
@model CreateModel
@{
	ViewData["Title"] = $"Posting to Topic: {Model.Post.TopicTitle}";
}

@section PageTitle {
	<div class="container mb-2">
		<h1>Posting to Topic: <a asp-page="/Forum/Topics/Index" asp-route-id="@Model.TopicId">@Model.Post.TopicTitle</a></h1>
	</div>
}
<show-more max-height="0" show-text="Show previous posts" reverse>
	@foreach (var post in Model.PreviousPosts)
	{
		<partial name="_TopicMiniPost" model="post" />
	}
</show-more>
<br />
<form method="POST">
	<input type="hidden" asp-for="Post.TopicTitle" />
	<row>
		<column md="6">
			<label asp-for="Post.Subject" class="form-control-label"></label>
			<input type="text" asp-for="Post.Subject" class="form-control" autocomplete="off" />
			<span asp-validation-for="Post.Subject" class="text-danger"></span>
		</column>
		<column md="4" permission="UseMoodAvatars" condition="@Model.UserAvatars.HasMoods">
			<label asp-for="Post.Mood" class="form-control-label"></label>
			<select asp-for="Post.Mood" asp-items="@Model.Moods" class="form-control"></select>
			<span asp-validation-for="Post.Mood" class="text-danger"></span>
		</column>
		<column md="2">
			<partial name="_AvatarPreview" model="(Html.IdFor(m => m.Post.Mood), Model.Post.Mood, Model.UserAvatars)" />
		</column>
	</row>
	<fullrow condition="@Model.UserAvatars.HasAvatar">
		<img id="avatar-img" src="@Model.UserAvatars.Avatar"/>
	</fullrow>
	<fullrow class="mt-3">
		<partial name="_CreatePostHelper" model="@("Post_Text")" />
	</fullrow>
	<form-group>
		<textarea asp-for="Post.Text" class="form-control" rows="20"></textarea>
		<span asp-validation-for="Post.Text" class="text-danger"></span>
	</form-group>
	<fullrow class="mt-3">
		<input asp-for="WatchTopic" />
		<label asp-for="WatchTopic"></label>
	</fullrow>
	<form-button-bar>
		<button type="button" class="btn btn-secondary" id="preview-button"><i class="fa fa-eye"></i> Preview</button>
		<submit-button class="btn btn-primary"><i class="fa fa-plus"></i> Post</submit-button>
		<a asp-page="/Forum/Topics/Index" asp-route-id="@Model.TopicId" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
	</form-button-bar>
</form>

<partial name="_PreviewWindow" model="@(("Post_Text", "/Forum/Preview"))" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
