@page
@model NewModel
@{
	ViewData["Title"] = "Forum Posts Since Last Visit";
}

<div condition="@Model.Posts.Any()">
	<partial Name="_ForumHeader" />
	<fullrow>
		<partial name="_Pager" model="Model.Posts" />
	</fullrow>
	<table class="table table-sm">
		<tr>
			<th class="d-none d-md-table-cell">Forum</th>
			<th>Topic</th>
			<th>Posted</th>
			<th>Post</th>
		</tr>
		@foreach (var post in Model.Posts)
		{
			<tr>
				<td class="d-none d-md-table-cell">
					<a asp-page="/Forum/Subforum/Index" asp-route-id="@post.ForumId">@post.ForumName</a>
				</td>
				<td>
					<a asp-page="/Forum/Topics/Index" asp-route-id="@post.TopicId">@post.TopicTitle</a>
				</td>
				<td>
					<timezone-convert asp-for="@post.CreateTimestamp"/>
				</td>
				<td>
						<a asp-page="/Forum/Posts/Index" asp-route-id="@post.Id"><i class="fa fa-bookmark-o"></i> @post.PosterName</a>
						
					
					<br />
					<small class="d-none d-md-inline-block">
						@post.Text.CapAndEllipse(50)
					</small>
				</td>
			</tr>
		}
	</table>

	<fullrow class="mt-2">
		<partial name="_Pager" model="Model.Posts" />
	</fullrow>
</div>
<div condition="!Model.Posts.Any()">
	<div class="alert alert-info mt-3 text-center">
		<h4>No posts since last visit</h4>
	</div>
</div>
