@page
@model UnansweredModel
@{
	ViewData.SetTitle("Unanswered Posts");
}

<partial Name="_ForumHeader" />
<partial name="_Pager" model="Model.Posts" />
<standard-table>
	<table-head columns="Forum,Topic,Author,Posted On"></table-head>
	@foreach (var post in Model.Posts)
	{
		<tr>
			<td>
				<a asp-page="/Forum/Subforum/Index" asp-route-id="@post.ForumId">@post.ForumName</a>
			</td>
			<td>
				<a asp-page="/Forum/Topics/Index" asp-route-id="@post.TopicId">@post.TopicName</a>
			</td>
			<td>
				<profile-link username="@post.AuthorName"></profile-link>
			</td>
			<td><timezone-convert asp-for="@post.PostDate" /></td>
		</tr>
	}
</standard-table>
<partial name="_Pager" model="Model.Posts" />
