@model UserDetailsViewModel
@{
	ViewData["Title"] = $"Details for User: {Model.UserName}";
}

<a condition="@ViewData.UserHasPermission(PermissionTo.EditUsers)" asp-action="Edit" asp-route-id="@Model.Id" class="pull-right btn btn-primary">Edit</a>
<h4>@ViewData["Title"]</h4>
<hr />

<form-group>
	<row>
		<div class="col-md-6">
			<label asp-for="CreateTimeStamp"></label>
			<div>@Model.CreateTimeStamp</div>
		</div>
		<div class="col-md-6">
			<label asp-for="LastLoggedInTimeStamp"></label>
			<div>@Html.DisplayFor(m => m.LastLoggedInTimeStamp)</div>
		</div>
	</row>
</form-group>

<form-group>
	<row>
		<div class="col-md-6" condition="@ViewData.UserHasPermission(PermissionTo.EditUsers)">
			<label asp-for="Email"></label>
			<div>@Model.Email</div>
		</div>
		<div class="col-md-6">
			<label asp-for="EmailConfirmed"></label>
			@if (Model.EmailConfirmed)
			{
				<div><span class="glyphicon glyphicon-check text-success"></span> Yes</div>
			}
			else
			{
				<div><span class="glyphicon glyphicon-alert text-danger"></span> No</div>
			}
		</div>
	</row>
</form-group>
<form-group>
	<row>
		<div class="col-md-12">
			<label asp-for="IsLockedOut"></label>
			@if (Model.IsLockedOut)
			{
				<div><span class="glyphicon glyphicon-check text-danger"></span> Locked out</div>
			}
			else
			{
				<div><span class="glyphicon glyphicon-check text-success"></span> Not locked</div>
			}
		</div>
	</row>
</form-group>
<form-group>
	<row>
		<div class="col-md-12">
			<label asp-for="Roles"></label>
			<div>@(Model.Roles.Any() ? string.Join(", ", Model.Roles) : "User is not currently assigned to any Roles")</div>
		</div>
	</row>
</form-group>
<div class="text-center">
	<a asp-action="List" class="text-center btn btn-default">Return to List</a>
</div>
