@model UserProfileModel
@{
	ViewData["Title"] = $"Profile for {Model.UserName}";
}

<a condition="@ViewData.UserHasPermission(PermissionTo.EditUsers)" asp-action="Edit" asp-route-id="@Model.Id" class="pull-right btn btn-primary">Edit</a>

<row>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<img condition="@(!string.IsNullOrWhiteSpace(Model.Avatar))" src="@Model.Avatar" style="float: right" />
				<h4 class="card-title">@Model.UserName</h4>
				<div class="card-text">
					<label>@string.Join(" / ", Model.Roles)</label>
					<br />
					<a href="/HomePages/@Model.UserName">Homepage</a>
					<br />
					<label asp-for="JoinDate"></label>
					<label>@Html.DisplayFor(m => m.JoinDate)</label>
					<br />
					<label asp-for="Location"></label>
					<label>@Html.DisplayFor(m => m.Location)</label>
					<br />
					<label asp-for="PostCount"></label>
					<label>@Html.DisplayFor(m => m.PostCount)</label>
					<br />
					<a condition="Model.PostCount > 0" href="#" class="btn btn-primary">All Posts</a>
					<div class="pull-right">
						@foreach (var award in Model.Awards)
						{
							<img style="max-height: 32px; max-width: 32px" src="/awards/@($"{award.ShortName}_{award.Year.ToString().PadLeft(2, '0')}.png")" title="@award.Description" alt="@award.Description" />
						}
					</div>
				</div>
			</div>
			<div condition="!string.IsNullOrWhiteSpace(Model.Signature)" class="card-footer">
				@Html.Raw(Model.Signature)
			</div>
		</div>
		<div class="card mu-1">
			<div class="card-body">
				<h5 class="card-title">Ratings</h5>
				TODO
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card text-right">
			<div class="card-body">
				<h5 class="card-title">Publications</h5>
				<div condition="!Model.AnyPublications" class="card-text">
					<i>User has not had any Published Movies</i>
				</div>
				<div condition="Model.AnyPublications">
					<p>@Model.PublicationActiveCount Active, @Model.PublicationObsoleteCount obsolete</p>
					<p>Has published movies on these systems: @string.Join(", ", Model.PublishedSystems)</p>
					<a href="/Movies-Author@(Model.Id)-obs" class="btn btn-primary">View</a>
				</div>
			</div>
		</div>
		<div class="card text-right">
			<div class="card-body">
				<h5 class="card-title">Submissions</h5>
				<div condition="Model.SubmissionCount == 0" class="card-text">
					<i>User has not had any Submissions</i>
				</div>
				<div condition="Model.SubmissionCount > 0" class="card-text">
					<p>@Model.SubmissionCount Total</p>
					<a asp-controller="Submission" asp-action="List" asp-route-user="@Model.UserName" class="btn btn-primary">View</a>
				</div>
			</div>
		</div>
		<div class="card text-right">
			<div class="card-body">
				<h5 class="card-title">Wiki</h5>
				TODO
			</div>
		</div>
	</div>
</row>