@model IEnumerable<PermissionDisplayViewModel>
@{
	ViewData["Title"] = "Permission List";
}

<h4>@ViewData["Title"]</h4>
<p>These are a list of site permissions that are allocated to site roles</p>
<div class="row">
	@if (((IEnumerable<PermissionTo>)ViewBag.UserPermissions).Contains(PermissionTo.EditPermissionDetails))
	{
		<a href="@Url.Action("Edit")" style="margin-bottom: 5px" class="pull-right btn btn-primary">Edit</a>
	}
	<table class="table table-bordered table-striped">
		<tr>
			<th>@Html.DisplayNameFor(m => m.First().Name)</th>
			<th>@Html.DisplayNameFor(m => m.First().Group)</th>
			<th>@Html.DisplayNameFor(m => m.First().Roles)</th>
			<th>@Html.DisplayNameFor(m => m.First().Description)</th>
		</tr>
		@foreach (var entry in Model)
		{
			<tr>
				<td>@entry.Name</td>
				<td>@entry.Group</td>
				<td>@string.Join(",", entry.Roles)</td>
				<td>@entry.Description</td>
			</tr>
		}
	</table>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
