@model ICollection<RejectedSubmission>
@{ 
	var totalCounts = Model!.Select(rs => rs.Reason).GroupBy(r => r).OrderByDescending(group => group.Count());
}
<div class="table-container">
	<table class="table table-striped">
		<tr>
			<th>Submission</th>
			<th>Reason</th>
		</tr>
		@foreach (var sub in Model!)
		{
			<tr>
				<td><sub-link id="sub.Id">@sub.Title</sub-link></td>
				<td>@sub.Reason</td>
			</tr>
		}
	</table>
	<div>
		Total: @Model.Count<br />
		@foreach (var count in totalCounts)
		{
			<text>@count.Key: @count.Count()<br /></text>
		}
	</div>
</div>
