@model IEnumerable<AuthorListEntry>
@{
	ViewData["Title"] = "Published Authors";
}

<cache enabled="@(!User.Identity.IsAuthenticated)" expires-after="@TimeSpan.FromSeconds(60)">
	@await Component.InvokeAsync(typeof(RenderWikiPage), new { url = "System/PlayersHeader" })
</cache>

<table class="table table-striped table-bordered table-sm">
	<tr>
		<th>@Html.DisplayNameFor(m => m.First().UserName)</th>
		<th>@Html.DisplayNameFor(m => m.First().ActivePublicationCount)</th>
		<th>@Html.DisplayNameFor(m => m.First().ObsoletePublicationCount)</th>
	</tr>
	@foreach (var author in Model
	   .OrderByDescending(a => a.ActivePublicationCount)
	   .ThenByDescending(a => a.ObsoletePublicationCount)
	   .ThenBy(a => a.UserName))
	{
		<tr>
			<td>
				<a asp-controller="User" asp-action="Profile" asp-route-userName="@author.UserName">@author.UserName</a>
			</td>
			<td>
				<a href="/Movies-List-author@(author.Id)">@author.ActivePublicationCount</a>
			</td>
			<td>
				<a href="/Movies-List-author@(author.Id)-obs">@author.ObsoletePublicationCount</a>
			</td>
		</tr>
	}
</table>