@model PublicationViewModel
@{
	ViewData["Title"] = $"Movie #{Model.Id}";
}
@section PageTitle {
	<h1>@Model.Title</h1>
}

<h4>this is a published movie!</h4>
<h4>@Model.Title</h4>
<h4>Id:  @Model.Id</h4>


<hr />
<p>Screenshot</p>
<img src="~/media/@Model.Screenshot" />

<hr />
<p>Torrent</p>
<a href="~/media/@Model.TorrentLink">AV file via BitTorrent</a>

<hr />
<p>Online Watching url</p>
<a href="@Model.OnlineWatchingUrl">Watch</a>

<hr />
<p>Mirror</p>
<a href="@Model.MirrorSiteUrl">Mirror</a>

<hr />
<a asp-action="Download" asp-controller="Publication" asp-route-id="@Model.Id" >Movie file</a>

<hr />
<p>Obsolete? @Model.ObsoletedBy.HasValue<p>