@using TASVideos.Data.Entity.Exhibition
@model TASVideos.Pages.Exhibitions.Models.ExhibitionFormModel

<div class="text-danger">
	@Html.ValidationSummary()
</div>

<form method="post" enctype="multipart/form-data">
	<fieldset>
		<label asp-for="Exhibition.Title" class="form-control-label"></label>
		<input asp-for="Exhibition.Title" class="form-control" />
		<span asp-validation-for="Exhibition.Title" class="text-danger"></span>
	</fieldset>
	<fieldset>
		<label asp-for="Exhibition.ExhibitionTimestamp" class="form-control-label"></label>
		<input asp-for="Exhibition.ExhibitionTimestamp" class="form-control" />
		<span asp-validation-for="Exhibition.ExhibitionTimestamp" class="text-danger"></span>
	</fieldset>
	<fieldset>
		<row>
			<div class="col-12 col-lg-6">
				<label asp-for="Exhibition.Screenshot" class="form-control-label"></label>
				<input asp-for="Exhibition.Screenshot" class="form-control" />
				<span asp-validation-for="Exhibition.Screenshot" class="text-danger"></span>
			</div>
			<div class="col-12 col-lg-6">
				<label asp-for="Exhibition.ScreenshotDescription" class="form-control-label"></label>
				<input asp-for="Exhibition.ScreenshotDescription" class="form-control" />
				<span asp-validation-for="Exhibition.ScreenshotDescription" class="text-danger"></span>
			</div>
		</row>
	</fieldset>
	<fieldset>
		<label asp-for="Exhibition.Movies" class="form-control-label"></label>
		@{
			string movieCollectionId = Html.NameFor(m => m.Exhibition.MoviesDefault);
		}
		<template class="template-collection" data-for="@movieCollectionId">
			<input type="hidden" asp-for="Exhibition.MoviesDefault.FileId" />
			<row>
				<div class="col">
					<row>
						<div class="col-12 col-lg-6">
							<label asp-for="Exhibition.MoviesDefault.MovieFile" class="form-control-label"></label>
							<input asp-for="Exhibition.MoviesDefault.MovieFile" class="form-control" />
							<span asp-validation-for="Exhibition.MoviesDefault.MovieFile" class="text-danger"></span>
						</div>
						<div class="col-12 col-lg-6">
							<label asp-for="Exhibition.MoviesDefault.MovieFileDescription" class="form-control-label"></label>
							<input asp-for="Exhibition.MoviesDefault.MovieFileDescription" class="form-control" />
							<span asp-validation-for="Exhibition.MoviesDefault.MovieFileDescription" class="text-danger"></span>
						</div>
					</row>
				</div>
				<div class="col-auto align-self-end">
					<button type="button" data-for="@movieCollectionId" class="btn btn-danger remove-collection-entry"><i class="fa fa-remove"></i></button>
				</div>
			</row>
		</template>
		<div class="ms-3">
			<div id="collection-@movieCollectionId">
				@for (int i = 0; i < Model.Exhibition.Movies.Count; i++)
				{
					<div>
						<input type="hidden" asp-for="Exhibition.Movies[i].FileId" />
						<row>
							<div class="col">
								<row>
									<div class="col-12 col-lg-6">
										<label asp-for="Exhibition.Movies[i].MovieFile" class="form-control-label"></label>
										<input asp-for="Exhibition.Movies[i].MovieFile" class="form-control" />
										<span asp-validation-for="Exhibition.Movies[i].MovieFile" class="text-danger"></span>
									</div>
									<div class="col-12 col-lg-6">
										<label asp-for="Exhibition.Movies[i].MovieFileDescription" class="form-control-label"></label>
										<input asp-for="Exhibition.Movies[i].MovieFileDescription" class="form-control" />
										<span asp-validation-for="Exhibition.Movies[i].MovieFileDescription" class="text-danger"></span>
									</div>
								</row>
							</div>
							<div class="col-auto align-self-end">
								<button type="button" data-for="@movieCollectionId" class="btn btn-danger remove-collection-entry"><i class="fa fa-remove"></i></button>
							</div>
						</row>
					</div>
				}
			</div>
			<fullrow class="mt-2">
				<button type="button" data-for="@movieCollectionId" class="btn btn-secondary add-collection-entry"><i class="fa fa-plus-square"></i></button>
			</fullrow>
		</div>
	</fieldset>
	<fieldset>
		<label asp-for="Exhibition.Urls" class="form-control-label"></label>
		@{
			string urlCollectionId = Html.NameFor(m => m.Exhibition.UrlsDefault);
		}
		<template class="template-collection" data-for="@urlCollectionId">
			<input type="hidden" asp-for="Exhibition.UrlsDefault.UrlId" />
			<row>
				<div class="col">
					<row>
						<div class="col-4">
							<label asp-for="Exhibition.UrlsDefault.Type" class="form-control-label"></label>
							<select asp-for="Exhibition.UrlsDefault.Type" asp-items="@Html.GetEnumSelectList<ExhibitionUrlType>()" class="form-control"></select>
							<span asp-validation-for="Exhibition.UrlsDefault.Type" class="text-danger"></span>
						</div>
						<div class="col-4">
							<label asp-for="Exhibition.UrlsDefault.DisplayName" class="form-control-label"></label>
							<input asp-for="Exhibition.UrlsDefault.DisplayName" class="form-control" />
							<span asp-validation-for="Exhibition.UrlsDefault.DisplayName" class="text-danger"></span>
						</div>
						<div class="col-4">
							<label asp-for="Exhibition.UrlsDefault.Url" class="form-control-label"></label>
							<input asp-for="Exhibition.UrlsDefault.Url" class="form-control" />
							<span asp-validation-for="Exhibition.UrlsDefault.Url" class="text-danger"></span>
						</div>
					</row>
				</div>
				<div class="col-auto align-self-end">
					<button type="button" data-for="@urlCollectionId" class="btn btn-danger remove-collection-entry"><i class="fa fa-remove"></i></button>
				</div>
			</row>
		</template>
		<div class="ms-3">
			<div id="collection-@urlCollectionId">
				@for (int i = 0; i < Model.Exhibition.Urls.Count; i++)
				{
					<div>
						<input type="hidden" asp-for="Exhibition.Urls[i].UrlId" />
						<row>
							<div class="col">
								<row>
									<div class="col-4">
										<label asp-for="Exhibition.Urls[i].Type" class="form-control-label"></label>
										<select asp-for="Exhibition.Urls[i].Type" asp-items="@Html.GetEnumSelectList<ExhibitionUrlType>()" class="form-control"></select>
										<span asp-validation-for="Exhibition.Urls[i].Type" class="text-danger"></span>
									</div>
									<div class="col-4">
										<label asp-for="Exhibition.Urls[i].DisplayName" class="form-control-label"></label>
										<input asp-for="Exhibition.Urls[i].DisplayName" class="form-control" />
										<span asp-validation-for="Exhibition.Urls[i].DisplayName" class="text-danger"></span>
									</div>
									<div class="col-4">
										<label asp-for="Exhibition.Urls[i].Url" class="form-control-label"></label>
										<input asp-for="Exhibition.Urls[i].Url" class="form-control" />
										<span asp-validation-for="Exhibition.Urls[i].Url" class="text-danger"></span>
									</div>
								</row>
							</div>
							<div class="col-auto align-self-end">
								<button type="button" class="btn btn-danger remove-collection-entry"><i class="fa fa-remove"></i></button>
							</div>
						</row>
					</div>
				}
			</div>
			<fullrow class="mt-2">
				<button type="button" data-for="@urlCollectionId" class="btn btn-secondary add-collection-entry"><i class="fa fa-plus-square"></i></button>
			</fullrow>
		</div>
	</fieldset>
	<fieldset>
		<label asp-for="Exhibition.Games" class="form-control-label"></label>
		<select asp-for="Exhibition.Games" asp-items="Model.AvailableGames"></select>
	</fieldset>
	<fieldset>
		<label asp-for="Exhibition.Contributors" class="form-control-label"></label>
		<select asp-for="Exhibition.Contributors" asp-items="Model.AvailableUsers"></select>
	</fieldset>
	<fieldset>
		<label asp-for="Exhibition.Markup" class="form-control-label"></label>
		<textarea asp-for="Exhibition.Markup" class="form-control" rows="10" placeholder="Enter your __wiki markup__ here..."></textarea>
		<span asp-validation-for="Exhibition.Markup" class="text-danger"></span>
	</fieldset>
	@if (Model.Exhibition.ExhibitionId != 0)
	{
		<fieldset>
			<label asp-for="Exhibition.RevisionMessage" class="form-control-label"></label>
			<div class="input-group">
				<input asp-for="Exhibition.RevisionMessage" class="form-control" />
				<div class="input-group-text">
						<input type="checkbox" class="form-check-input me-1 mt-0" asp-for="Exhibition.MinorEdit" />
					<label asp-for="Exhibition.MinorEdit" class="form-check-label"></label>
				</div>
			</div>
			<span asp-validation-for="Exhibition.RevisionMessage" class="text-danger"></span>
		</fieldset>
	}

	<div class="text-center alert-info mt-2" role="alert">
		<label class="alert-info">
			@await Html.RenderWiki(SystemWiki.WikiEditNote)
		</label>
	</div>
	<fullrow class="text-center">
		<button type="button" class="btn btn-secondary" id="preview-button"><i class="fa fa-eye"></i> Preview</button>
		<button id="submit-btn" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Submit</button>
		<a class="btn btn-secondary" asp-page="/Exhibitions"><i class="fa fa-times"></i> Cancel</a>
	</fullrow>
</form>

<partial name="_PreviewWindow" model="@((Html.IdFor(m => m.Exhibition.Markup), "/Wiki/Preview"))" />
<partial name="_ValidationScriptsPartial" />
<script src="/js/select-improver.js"></script>
<script>
	engageSelectImprover('@Html.IdFor(m => m.Exhibition.Games)');
	engageSelectImprover('@Html.IdFor(m => m.Exhibition.Contributors)');
</script>
<script src="/js/complex-collections.js"></script>
