@page "{id}"
@model EditModel
@{
	ViewData.SetTitle($"Edit Movie #{Model.Id}");
	ViewData.SetHeading(Model.Publication.Title);
}

<fullrow>
	<label asp-for="Publication.PublicationClass"></label>:
	<a condition="!string.IsNullOrWhiteSpace(Model.Publication.ClassIconPath)" href="/@Model.Publication.ClassLink">
		<icon path="@Model.Publication.ClassIconPath" />
	</a>
	<label class="fw-bold">@Model.Publication.PublicationClass</label>
	<a permission="SetPublicationClass" class="btn btn-secondary btn-sm" asp-page="EditClass" asp-route-id="@Model.Id"><span class="fa fa-pencil"></span> Edit</a>
</fullrow>
<top-button-bar>
	<edit-link permission="EditPublicationFiles" asp-page="EditFiles" asp-route-id="@Model.Id" class="btn-sm"></edit-link>
	<a permission="CreateAdditionalMovieFiles" asp-page="AdditionalMovies" asp-route-id="@Model.Id" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span> Additional Movie Files</a>
</top-button-bar>
<standard-table>
	<table-head columns="File Name,Type,Description"></table-head>
	<tr>
		<td>
			<a Permission="ReplacePrimaryMovieFile" class="btn btn-warning btn-sm" asp-page="PrimaryMovie" asp-route-id="@Model.Id">Replace</a>
			<strong>@Model.Publication.MovieFileName</strong>
		</td>
		<td>Primary Movie File</td>
		<td></td>
	</tr>
	@foreach (var file in Model.Files.OrderBy(f => f.Type.ToString()))
	{
		<tr>
			<td>@file.Path</td>
			<td>@file.Type</td>
			<td>@file.Description</td>
		</tr>
	}
</standard-table>
<top-button-bar>
	<edit-link permission="EditPublicationFiles"
	   asp-page="Urls/List"
	   asp-route-publicationId="@Model.Id"
	   class="btn-sm"></edit-link>
</top-button-bar>
<standard-table>
	<table-head columns="Type,URL,Name"></table-head>
	@foreach (var url in Model.Publication.Urls.OrderBy(f => f.Type).ThenBy(f => f.DisplayName))
	{
		<tr>
			<td>@url.Type</td>
			<td><a href="@url.Url">@url.Url</a></td>
			<td>@url.DisplayName</td>
		</tr>
	}
</standard-table>
<form client-side-validation="true" method="post">
	<input type="hidden" asp-for="Publication.SystemCode" />
	<input type="hidden" asp-for="Id" />
	<row>
		<column lg="6">
			<fieldset>
				<label asp-for="Publication.EmulatorVersion"></label>
				<input asp-for="Publication.EmulatorVersion" />
				<span asp-validation-for="Publication.EmulatorVersion"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Publication.ObsoletedBy"></label>
				<input asp-for="Publication.ObsoletedBy" data-id="obsoleted-by" />
				<span id="obsoleted-by">@Model.Publication.ObsoletedByTitle</span>
				<span asp-validation-for="Publication.ObsoletedBy"></span>
			</fieldset>
		</column>
		<column lg="6">
			<fieldset>
				<label asp-for="Publication.Authors">Author(s)</label>
				<string-list asp-for="Publication.Authors" />
				<span asp-validation-for="Publication.Authors"></span>
			</fieldset>
			<fieldset>
				<label asp-for="Publication.ExternalAuthors"></label>
				<input asp-for="Publication.ExternalAuthors" />
				<div>Only authors not registered for TASVideos should be listed here. If multiple authors, separate the names with a comma.</div>
				<span asp-validation-for="Publication.ExternalAuthors"></span>
			</fieldset>
		</column>
	</row>
	<fieldset>
		<label asp-for="Publication.SelectedFlags"></label>
		<select asp-for="Publication.SelectedFlags" multiselect="true" asp-items="Model.AvailableFlags"></select>
	</fieldset>
	<fieldset>
		<label asp-for="Publication.SelectedTags"></label>
		<select asp-for="Publication.SelectedTags" multiselect="true" asp-items="Model.AvailableTags"></select>
	</fieldset>
	@await Html.RenderWiki(SystemWiki.ClassEditingHelp)
	<wiki-edit-helper class="mt-2"></wiki-edit-helper>
	<fullrow>
		<fieldset>
			<label asp-for="Publication.Markup"></label>
			<wiki-textarea asp-for="Publication.Markup" rows="6"></wiki-textarea>
			<span asp-validation-for="Publication.Markup"></span>
			@await Html.RenderWiki(SystemWiki.WikiEditHelp)
		</fieldset>
	</fullrow>
	<full-row>
		<fieldset>
			<label asp-for="Publication.RevisionMessage"></label>
			<div class="input-group">
				<input asp-for="Publication.RevisionMessage" />
				<div class="input-group-text">
					<minor-edit></minor-edit>
				</div>
			</div>
			<span asp-validation-for="Publication.RevisionMessage"></span>
		</fieldset>
	</full-row>
	<form-button-bar>
		<preview-button></preview-button>
		<submit-button></submit-button>
		<cancel-link asp-page="/Publications/View" asp-route-id="@Model.Id"></cancel-link>
	</form-button-bar>
</form>
<wiki-preview></wiki-preview>
@section Scripts {
	<script src="/js/publications-edit.js"></script>
}