@page
@model FilterModel
@{
	ViewData.SetTitle("Tool-assisted movies filter");
	var sortItems = UiDefaults.DefaultEntry.Concat(new List<SelectListItem>
	{
		new() { Text = "Newest to Oldest", Value = "U" },
		new() { Text = "Oldest to Newest", Value = "V" },
		new() { Text = "Shortest to Longest", Value = "S" },
		new() { Text = "Longest to Shortest", Value = "L" },
		new() { Text = "Highest Rating", Value = "Y" }
	});
}

<form method="post">
	<row>
		<column md="4">
			<fieldset>
				<label asp-for="Search.Classes"></label>
				<select asp-for="Search.Classes" data-multiselect="true" asp-items="Model.Tokens.Classes.ToDropDown()" class="form-select"></select>
			</fieldset>
			<fieldset>
				<label asp-for="Search.Years"></label>
				<select asp-for="Search.Years" data-multiselect="true" asp-items="Model.Tokens.Years.ToDropDown()" class="form-select"></select>
			</fieldset>
			<fieldset>
				<label asp-for="Search.Genres"></label>
				<select asp-for="Search.Genres" data-multiselect="true" asp-items="Model.Tokens.Genres.ToDropDown()" class="form-select"></select>
			</fieldset>
		</column>
		<column md="4">
			<fieldset>
				<label asp-for="Search.Flags"></label>
				<select asp-for="Search.Flags" data-multiselect="true" asp-items="Model.AvailableFlags" class="form-select"></select>
			</fieldset>
			<fieldset>
				<label asp-for="Search.GameGroups"></label>
				<select asp-for="Search.GameGroups" data-multiselect="true" asp-items="Model.AvailableGameGroups" class="form-select"></select>
			</fieldset>
			<fieldset>
				<label asp-for="Search.Authors"></label>
				<select asp-for="Search.Authors"  data-multiselect="true" asp-items="Model.AvailableAuthors" class="form-select"></select>
			</fieldset>
		</column>
		<column md="4">
			<fieldset>
				<label asp-for="Search.SystemCodes"></label>
				<select asp-for="Search.SystemCodes" data-multiselect="true" asp-items="Model.Tokens.SystemCodes.OrderBy(c => c).ToDropDown()" class="form-select"></select>
			</fieldset>
			<fieldset>
				<label asp-for="Search.Tags"></label>
				<select asp-for="Search.Tags" data-multiselect="true" asp-items="Model.AvailableTags" class="form-select"></select>
			</fieldset>
		</column>
	</row>
	<row>
		<column md="4">
			<fieldset>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" asp-for="Search.ShowObsoleted">
					<label class="form-check-label" asp-for="Search.ShowObsoleted"></label>
				</div>
			</fieldset>
			<fieldset>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" asp-for="Search.OnlyObsoleted">
					<label class="form-check-label" asp-for="Search.OnlyObsoleted"></label>
				</div>
			</fieldset>
		</column>
		<column md="4">
			<fieldset>
				<label asp-for="Search.SortBy"></label>
				<select asp-for="Search.SortBy" asp-items="sortItems" class="form-select"></select>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button id="filter-btn">Filter</submit-button>
	</form-button-bar>
</form>

<script src="/js/select-improver.js"></script>
<script>
	window.addEventListener('load', validateForm);
	const classes = document.getElementById('@Html.IdFor(m => m.Search.Classes)');
	const years = document.getElementById('@Html.IdFor(m => m.Search.Years)');
	const genres = document.getElementById('@Html.IdFor(m => m.Search.Genres)');
	const flags = document.getElementById('@Html.IdFor(m => m.Search.Flags)');
	const gameGroups = document.getElementById('@Html.IdFor(m => m.Search.GameGroups)');
	const authors = document.getElementById('@Html.IdFor(m => m.Search.Authors)');
	const systemCodes = document.getElementById('@Html.IdFor(m => m.Search.SystemCodes)');
	const tags = document.getElementById('@Html.IdFor(m => m.Search.Tags)');

	classes.onchange = validateForm;
	years.onchange = validateForm;
	genres.onchange = validateForm;
	flags.onchange = validateForm;
	gameGroups.onchange = validateForm;
	authors.onchange = validateForm;
	systemCodes.onchange = validateForm;
	tags.onchange = validateForm;

	function validateForm() {
		document.getElementById('filter-btn').disabled = !anySelected();
	}

	function anySelected() {
		return classes.selectedIndex >= 0
			|| years.selectedIndex >= 0
			|| genres.selectedIndex >= 0
			|| flags.selectedIndex >= 0
			|| gameGroups.selectedIndex >= 0
			|| authors.selectedIndex >= 0
			|| systemCodes.selectedIndex >= 0
			|| tags.selectedIndex >= 0;
	}
</script>