@page "{id}"
@model ViewModel
@{
	ViewData["Title"] = $"{Model.Publication.Title} - Movie #{Model.Id}";
}

@section Header {
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="TASVideos" />
	<meta property="og:title" content="@($"Movie #{Model.Id}")" />
	<meta property="og:description" content="@Model.Publication.Title" />
	<meta property="og:url" content="@HttpContext.Request.ToUrl()" />
	<meta property="og:image" content="@($"{HttpContext.Request.ToBaseUrl()}/media/{Model.Publication.Screenshot.Path}")" />
}

@section PageTitle { }

<partial name="_MovieModule" model="Model.Publication" />
<hr />
<div class="text-muted">
	@await Component.RenderWiki("System/MovieLinkInstruction")
</div>
<small>
	last edited by @Model.Publication.LastUpdateUser on @Model.Publication.LastUpdateTimestamp
</small>
<br />
<a asp-page="/Wiki/PageHistory"
   asp-route-path="@(LinkConstants.PublicationWikiPage + Model.Id)"
   class="btn bg-info text-dark btn-sm">
	<span class="fa fa-history"></span> Page History
</a>
<a
	asp-page="/Wiki/Diff"
	asp-route-path="@(LinkConstants.PublicationWikiPage + Model.Id)"
	class="btn bg-info text-dark btn-sm">
	Latest diff
</a>
<a
	asp-page="/Wiki/Referrers"
	asp-route-path="@($"{Model.Id}M")"
	class="btn bg-info text-dark btn-sm">
	List Referrers
</a>

