@model ForumTopicModel.PollModel
@{
	int totalVotes = Model.Options.SelectMany(m => m.Voters).Count();
	bool canVote = false;
	int userId = - 1;
	if (User.Identity.IsAuthenticated)
	{
		userId = User.GetUserId();
		canVote = !Model.Options.Any(o => o.Voters.Any(v => v == userId));
	}
}

<info-alert>
	<a
		condition="ViewData.UserHas(PermissionTo.SeePollResults) && totalVotes > 0"
		asp-page="PollResults"
		asp-route-id="@Model.PollId"
		class="btn btn-info pull-right">
		See Votes
	</a>
	@Html.Raw(Model.Question)
	<form asp-page="Index" asp-page-handler="Vote">
		<input type="hidden" asp-for="@Model.PollId" />
		@foreach (var option in Model.Options.OrderBy(o => o.Ordinal))
		{
			int percent = 0;
			if (totalVotes > 0)
			{
				percent = (int)(option.Voters.Count / (double)totalVotes * 100);
			}

			<div>
				<span condition="option.Voters.Any(v => v == userId)" class="fa fa-check text-success"></span>
				<span condition="canVote"><input type="radio" name="ordinal" id="_@option.Ordinal" value="@option.Ordinal"/></span>
				<label for="_@option.Ordinal">@option.Text (@option.Voters.Count @(percent)%)</label>
			</div>
		}
		<script condition="canVote">
			(function () {
				document.querySelectorAll('[name="ordinal"]').toArray().forEach(function (elem) {
					elem.addEventListener('change',
						function () {
							document.getElementById('vote-btn').removeAttribute('hidden');
						});
				});
			})();
		</script>
		<button condition="canVote" hidden="hidden" type="submit" class="btn btn-sm btn-success" id="vote-btn">Vote!</button>
	</form>
</info-alert>

