@model TASVideos.Pages.Forum.Posts.Models.ForumPostEntry
<card id="@Model!.Id" class="@(Model.Highlight ? "forum-post-highlight border-warning border-2" : "border-primary") border mb-2">
	<cardheader class="px-2 py-1">
		<row class="align-items-center">
			<div class="col-lg-2 col-md-3 col-auto">
				<small>
					<a href="/Forum/Posts/@(Model!.Id)"
					   title="Link to this post"
					   class="float-start text-decoration-none text-dark">
						<i class="fa fa-bookmark-o"></i>
						Posted: <timezone-convert asp-for="@Model.CreateTimestamp" />
						<span condition="@(Model.CreateTimestamp != Model.LastUpdateTimestamp)"><br />(Edited: <timezone-convert asp-for="@Model.LastUpdateTimestamp" />)</span>
					</a>
				</small>
			</div>
			<div condition="!string.IsNullOrWhiteSpace(Model.Subject)" class="col-auto col-md order-last order-md-0">
				<small>
					Post subject: @Model.Subject
				</small>
			</div>
			<div class="ms-auto col-auto">
				<small>
					<a condition="User.IsLoggedIn()"
					   asp-page="/Messages/Create"
					   asp-route-defaultToUser="@Model.PosterName"
					   class="btn btn-secondary btn-sm d-none d-md-inline-block">
						<i class="fa fa-envelope"></i> PM
					</a>
					<a asp-page="/Forum/Posts/Create"
					   asp-route-topicId="@Model.TopicId"
					   asp-route-quoteId="@Model.Id"
					   class="btn btn-secondary btn-sm">
						<i class="fa fa-quote-right"></i> Quote
					</a>
					<a condition="Model.IsEditable"
					   asp-page="/Forum/Posts/Edit"
					   asp-route-id="@Model.Id"
					   class="btn btn-primary btn-sm border border-warning">
						<i class="fa fa-pencil"></i> Edit
					</a>
					<delete-button condition="Model.IsDeletable"
								   asp-href="@($"/Forum/Posts/Edit/{Model.Id}?handler=Delete")"
								   warning-message="Are you sure you want to delete this post?"
								   class="btn-sm border border-warning">
						<i title="Delete this post" class="fa fa-remove"></i>
					</delete-button>
				</small>
			</div>
		</row>
	</cardheader>
	<cardbody class="px-2 py-0">
		<row class="gx-3">
			<div class="col-lg-2 col-md-3 py-2" style="background-color: var(--bs-gray-200)">
				<row class="gx-0">
					<div class="col-10 col-md-12">
						<row class="my-auto my-md-0 h-100 justify-content-center align-items-center">
							<div class="col">
								<row class="text-center mb-2 gx-1">
									<h6 class="col-auto col-md-12 ms-2 ms-md-0 me-auto my-0">
										<profile-link username="@Model.PosterName"></profile-link>
									</h6>
									<small condition="@(Model.PosterPronouns != PreferredPronounTypes.Unspecified)" class="text-muted col-auto col-md-12" style="line-height: 22px;">@Html.DisplayFor(m => m.PosterPronouns)</small>
								</row>
								<div class="ms-2 ms-md-0" style="line-height: 1">
									<small>@string.Join(", ", Model.PosterRoles.Select(s => s.Replace(' ', '\u00A0')).OrderBy(s => s))
										<span condition="Model.PosterPlayerPoints >= 5">(@Math.Round(Model.PosterPlayerPoints))</span>
									</small>
								</div>
							</div>
						</row>
					</div>
					<div class="col-2 col-md-12 order-first order-md-0 my-md-3 text-center">
						<avatar class="img-fluid" avatar="@Model.PosterAvatar" mood-avatar-base="@Model.PosterMoodUrlBase" mood="@Model.PosterMood" />
					</div>
					<div class="d-none d-md-block" style="line-height: 1">
						<small>
							Joined: <timezone-convert asp-for="@Model.PosterJoined" date-only="true" /><br />
							Posts: @Model.PosterPostCount
							<span condition="!string.IsNullOrWhiteSpace(Model.PosterLocation)">
								<br />Location: @Model.PosterLocation
							</span>
						</small>
					</div>
					<div class="mt-1 d-none d-md-block">
						@foreach (var award in Model.Awards.OrderByDescending(a => a.Year))
						{<partial name="_Award" model="award" />}
					</div>
				</row>
			</div>
			<div class="col-lg-10 col-md-9 col d-flex flex-column py-2">
				<div class="mb-auto">
					<forum-markup markup=@Model.Text enable-html=@Model.EnableHtml enable-bb-code=@Model.EnableBbCode></forum-markup>
				</div>
				<div condition="!string.IsNullOrWhiteSpace(Model.Signature)" class="forum-signature mt-2 text-muted lh-sm d-none d-md-block">
					<small>
						<forum-markup markup=@Model.Signature enable-html=false enable-bb-code=true></forum-markup>
					</small>
				</div>
			</div>
		</row>
	</cardbody>
</card>
