@model IForumTopicActionBar
<a condition="User.Identity.IsAuthenticated && !Model.IsWatching"
   asp-page="Index"
   asp-page-handler="Watch"
   asp-route-id="@Model.Id"
   class="btn btn-info btn-sm"
   title="Watch this topic">
	<i class="fa fa-search-plus"></i>
</a>
<a condition="User.Identity.IsAuthenticated && Model.IsWatching"
   asp-page="Index"
   asp-page-handler="Unwatch"
   asp-route-id="@Model.Id"
   class="btn btn-warning btn-sm"
   title="Stop watching this topic">
	<i class="fa fa-search-plus"></i>
</a>
<a permission="MoveTopics"
   asp-page="Move"
   asp-route-id="@Model.Id"
   class="btn btn-sm btn-warning"
   title="Move this topic">
	<i class="fa fa-location-arrow"></i>
</a>
<a permission="SplitTopics"
   asp-page="Split"
   asp-route-id="@Model.Id"
   class="btn btn-sm btn-warning"
   title="Split this topic">
	<i class="fa fa-code-fork"></i>
</a>
<form permission="LockTopics"
	asp-page="Index"
	asp-page-handler="Lock"
	asp-route-id="@Model.Id"
	asp-route-topictitle="@Model.Title"
	asp-route-locked="@(!Model.IsLocked)"
	method="POST"
	style="display: inline">
	<button type="submit" class="btn @(Model.IsLocked ? "btn-success" : "btn-warning") btn-sm">
		<span condition="Model.IsLocked" title="Unlock this topic">
			<i class="fa fa-unlock"></i>
		</span>
		<span condition="!Model.IsLocked" title="Lock this topic">
			<i class="fa fa-lock"></i>
		</span>
	</button>
</form>
<delete-button
	condition="ViewData.UserHas(PermissionTo.ResetPollResults) && Model.AnyVotes"
	asp-href="/Forum/Topics/@Model.Id?handler=Reset"
	warning-message="Resetting the poll is permanent. Are you sure you want to do this?"
	class="btn-sm"
	title="Reset poll results">
	<i>0</i>
</delete-button>
<a condition="@ViewData.UserHas(PermissionTo.CreateForumPolls) && !Model.AnyVotes"
	asp-page="AddEditPoll",
	asp-route-topicId="@Model.Id"
	class="btn btn-warning btn-sm">
	Poll
</a>
