@model TASVideos.Pages.Forum.Topics.IndexModel.TopicDisplay
<a condition="User.IsLoggedIn() && !Model.IsWatching"
   asp-page="Index"
   asp-page-handler="Watch"
   asp-route-id="@Model.Id"
   class="btn btn-info btn-sm"
   title="Watch this topic">
	<i class="fa-regular fa-bell-slash"></i>
</a>
<a condition="User.IsLoggedIn() && Model.IsWatching"
	asp-page="Index"
	asp-page-handler="Unwatch"
	asp-route-id="@Model.Id"
	class="btn btn-warning btn-sm"
	title="Stop watching this topic">
	<i class="fa-regular fa-bell"></i>
</a>
<a permission="SetTopicType"
	asp-page="SetType"
	asp-route-topicId="@Model.Id"
	class="btn btn-sm btn-warning"
	title="Set the type of this topic (Normal/Sticky/Announcement)">
	<i class="fa fa-bullhorn"></i> Set Type
</a>
<a permission="MoveTopics"
   asp-page="Move"
   asp-route-id="@Model.Id"
   class="btn btn-sm btn-warning"
   title="Move this topic">
	<i class="fa fa-arrows"></i> Move
</a>
<a permission="SplitTopics"
	asp-page="Split"
	asp-route-id="@Model.Id"
	class="btn btn-sm btn-warning"
	title="Split this topic">
	<i class="fa fa-scissors"></i> Split
</a>
<a permission="MergeTopics"
	asp-page="Merge"
	asp-route-id="@Model.Id"
	class="btn btn-sm btn-warning"
	title="Merge this topic into an existing topic">
	<i class="fa fa-object-group"></i> Merge
</a>
<form permission="LockTopics"
	asp-page="Index"
	asp-page-handler="Lock"
	asp-route-id="@Model.Id"
	asp-route-topictitle="@Model.Title"
	asp-route-locked="@(!Model.IsLocked)"
	method="post"
	style="display: inline">
	<submit-button btn-class-override="@(Model.IsLocked ? "btn-success" : "btn-warning")" class="btn-sm">
		<span condition="Model.IsLocked" title="Unlock this topic">
			<i class="fa fa-unlock"></i> Unlock
		</span>
		<span condition="!Model.IsLocked" title="Lock this topic">
			<i class="fa fa-lock"></i> Lock
		</span>
	</submit-button>
</form>
<a permission="CreateForumPolls"
	asp-page="AddEditPoll"
	asp-route-topicId="@Model.Id"
	class="btn btn-warning btn-sm"
	title="Add a poll to this topic">
	<i class="fa fa-list-ul"></i> Poll
</a>
<a permission="CatalogMovies"
   condition="@Model.CategoryId == SiteGlobalConstants.GamesForumCategory"
	asp-page="Catalog"
	asp-route-id="@Model.Id"
	class="btn btn-sm btn-info">
	<i class="fa fa-book"></i> Catalog
</a>
