@page "{id}"
@model CatalogModel
@{
	ViewData.SetTitle($"Set Cataloging Information for Topic {Model.Title}");
}

<form method="post">
	<input asp-for="Title" type="hidden" />
	<row>
		<column md="6">
			<fieldset>
				<label asp-for="SystemId">System</label>
				<select asp-for="SystemId" asp-items="@Model.AvailableSystems" class="form-select"></select>
			</fieldset>
			<fieldset>
				<label asp-for="GameId">Game</label>
				<select asp-for="GameId" asp-items="@Model.AvailableGames" class="form-select"></select>
			</fieldset>
		</column>
	</row>
	<form-button-bar>
		<submit-button></submit-button>
		<cancel-link asp-page="Index" asp-route-id="@Model.Id"></cancel-link>
	</form-button-bar>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/catalog.js"></script>
	<script>
		enableCataloging(
			"@Html.IdFor(m => m.SystemId)",
			"dummy",
			"@Html.IdFor(m => m.GameId)",
			"dummy",
			"@HttpContext.CurrentPathToReturnUrl()");
	</script>
}