@page "{forumId}/{handler?}"
@model CreateModel
@{
	ViewData.SetTitle($"Creating topic for: {Model.ForumName}");
	ViewData.UseStringList(); // Hack for now, partial views use a different viewDataDictionary, so the component will not work
}

@section PageTitle {
	Creating topic for: <a asp-page="/Forum/Subforum/Index" asp-route-id="@Model.ForumId">@Model.ForumName</a>
}

<partial Name="_ForumHeader" />
<span id="backup-submission-determinator" class="d-none">@Model.BackupSubmissionDeterminator</span>
<form client-side-validation="true" method="post">
	<div permission="CreateForumPolls">
		<button id="add-poll-btn" type="button" class="btn btn-primary btn-sm">Add Poll</button>
		<div id="poll-container" class="alert alert-dark @(Model.Poll.HasAnyField ? "" : "d-none")">
			<button id="poll-close" type="button" class="btn-close float-end" aria-label="Close"></button>
			<h4>Poll</h4>
			<partial name="_PollCreate" model="Model.Poll" />
		</div>
		<hr />
	</div>
	<input type="hidden" asp-for="ForumName" />
	<row>
		<column md="6">
			<label asp-for="Title"></label>
			<input asp-for="Title" autocomplete="off" />
			<span asp-validation-for="Title"></span>
		</column>
		<column permission="SetTopicType" md="6">
			<label asp-for="Type"></label>
			<select asp-for="Type" asp-items="Model.TopicTypes"></select>
			<span asp-validation-for="Type"></span>
		</column>
	</row>
	<row>
		<column md="4">
			<label asp-for="Mood"></label>
			<select asp-for="Mood" asp-items="@Model.Moods" data-id="avatar-dropdown"></select>
			<span asp-validation-for="Mood"></span>
		</column>
		<column md="2">
			<mood-preview current-mood="@Model.Mood" avatar="@Model.UserAvatars"></mood-preview>
		</column>
	</row>
	<post-helper class="mt-2"></post-helper>
	<fieldset>
		<forum-textarea asp-for="Post" rows="20" backup-content="true" data-backup-key="backup-topic-@Model.ForumId"></forum-textarea>
		<span asp-validation-for="Post"></span>
	</fieldset>
	<fullrow id="backup-restore" class="d-none">
		<button id="backup-restore-button" type="button" class="btn btn-secondary">Restore Text</button>
		<label class="text-body-tertiary">from <span id="backup-time"></span></label>
	</fullrow>
	<fullrow class="mt-3">
		<input asp-for="WatchTopic" />
		<label asp-for="WatchTopic">Watch Topic for Replies</label>
	</fullrow>
	<form-button-bar>
		<preview-button></preview-button>
		<submit-button><i class="fa fa-plus"></i> Post</submit-button>
		<cancel-link asp-page="/Forum/Subforum/Index" asp-route-id="@Model.ForumId"></cancel-link>
	</form-button-bar>
</form>
<forum-preview></forum-preview>
@section Scripts {
	<script src="/js/topic-create.js"></script>
	<script src="/js/forum-poll.js"></script>
}
