@page "{id}"
@using TASVideos.Core.Services.Forum
@model IndexModel
@inject IForumToMetaDescriptionRenderer forumToMetaDescriptionRenderer
@{
	ViewData.SetTitle($"{Model.Topic.Title} - Topic {Model.Topic.Id}");
	var description = $"{Model.Topic.ForumName} → {Model.Topic.Title}";
	if (Model.HighlightedPost is not null)
	{
		if (!string.IsNullOrWhiteSpace(Model.HighlightedPost.Subject) && Model.Topic.Title != Model.HighlightedPost.Subject)
		{
			description += $"\nSubject: {Model.HighlightedPost.Subject}";
		}
		description += "\n\n" + await forumToMetaDescriptionRenderer.RenderForumForMetaDescription(Model.HighlightedPost.Text, Model.HighlightedPost.EnableBbCode, Model.HighlightedPost.EnableHtml);

		ViewData.SetMetaTags(new MetaTag
		{
			Title = $"Post by {Model.HighlightedPost.PosterName}",
			Description = description,
			RelativeUrl = $"/Forum/Posts/{Model.HighlightedPost.Id}",
			Image = Model.HighlightedPost.GetCurrentAvatar()
		});
	}
	else
	{
		description += "\n\n" + await forumToMetaDescriptionRenderer.RenderForumForMetaDescription(Model.Topic.TopicCreator!.Text, Model.Topic.TopicCreator!.EnableBbCode, Model.Topic.TopicCreator!.EnableHtml);
		ViewData.SetMetaTags(new MetaTag
		{
			Title = $"Topic by {Model.Topic.TopicCreator!.PosterName}",
			Description = description,
			Image = Model.Topic.TopicCreator!.GetCurrentAvatar()
		});
	}
}

@section PageTitle {
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb m-0">
			<li class="breadcrumb-item"><a asp-page="/Forum/Index">Forum</a></li>
			<li class="breadcrumb-item"><a asp-page="/Forum/Subforum/Index" asp-route-id="@Model.Topic.ForumId">@Model.Topic.ForumName</a></li>
			<li class="breadcrumb-item active" aria-current="page">
				<h1>
					@(Model.Topic.Title)
					<span
						condition="Model.Topic.GameId.HasValue"
						class="float-end">
						Game:
						<a asp-page="/Games/Index" asp-route-id="@Model.Topic.GameId">
							@Model.Topic.GameName
						</a>
					</span>
				</h1>
			</li>
		</ol>
	</nav>
}

<partial Name="_ForumHeader" />
<div class="row mb-2">
	<div class="col-12">
		<p condition="@Model.Topic.IsLocked" class="alert alert-danger py-2"><i class="fa fa-lock"></i> Locked</p>
		<partial name="_TopicActionBar" model="Model.Topic"/>
		<a condition="User.Has(PermissionTo.PostInLockedTopics) || (!Model.Topic.IsLocked && User.Has(PermissionTo.CreateForumPosts))"
			asp-page="/Forum/Posts/Create"
			asp-route-topicId="@Model.Id"
			class="btn btn-primary btn-sm float-end">
			<span class="fa fa-plus"></span> New Post
		</a>
	</div>
</div>

@if (Model.Topic.Poll is not null)
{
	<partial name="_Poll" model="Model.Topic.Poll" />
}

@if (Model.WikiPage is not null && Model.Topic.SubmissionId.HasValue)
{
	<div condition="@(!string.IsNullOrWhiteSpace(Model.EncodeEmbedLink))" class="d-flex justify-content-center">
		@{ bool isNicoEmbed = Model.EncodeEmbedLink!.Contains("nicovideo"); }
		<div class="col-12 col-lg-6">
			<partial condition="!isNicoEmbed" name="_YoutubeEmbed" model="Model.EncodeEmbedLink" />
			<partial condition="isNicoEmbed" name="_NicoEmbed" model="Model.EncodeEmbedLink" />
		</div>
	</div>
	<card class="mt-2 mb-2">
		<card-header>
			<row class="align-items-center row">
				<span class="col-auto fs-5">Submission Text</span>
				<sub-link class="col-auto btn btn-secondary btn-sm" id="@Model.Topic.SubmissionId.Value"><i class="fa fa-info-circle"></i> Full Submission Page</sub-link>
				<pub-link condition="@Model.PublicationId.HasValue" class="ms-1 col-auto btn btn-secondary btn-sm" id="@(Model.PublicationId ?? 0)">Publication Page</pub-link>
			</row>
		</card-header>
		<show-more max-height="38rem">
			<card-body>
				<wiki-markup markup="@Model.WikiPage.Markup" page-data="Model.WikiPage"></wiki-markup>
			</card-body>
		</show-more>
	</card>
}

<hr class="my-0" />
<hr class="my-0" />
<partial name="_Pager" model="Model.Topic.Posts" />
@foreach (var post in Model.Topic.Posts.OrderBy(p => p.CreateTimestamp).ToList())
{
	<partial name="_TopicPost" model="post" />
}
<partial name="_Pager" model="Model.Topic.Posts" />
<hr class="mb-1"/>
<fullrow class="mt-2">
	<p condition="@Model.Topic.IsLocked" class="alert alert-danger py-2"><i class="fa fa-lock"></i> Locked</p>
	<partial name="_TopicActionBar" model="Model.Topic"/>
	<a condition="User.Has(PermissionTo.PostInLockedTopics) || (!Model.Topic.IsLocked && User.Has(PermissionTo.CreateForumPosts))"
		asp-page="/Forum/Posts/Create"
		asp-route-topicId="@Model.Id"
		class="btn btn-primary btn-sm float-end">
		<span class="fa fa-plus"></span> New Post
	</a>
	<nav aria-label="breadcrumb" class="card card-header d-block mt-2">
		<ol class="breadcrumb m-0">
			<li class="breadcrumb-item"><a asp-page="/Forum/Index">Forum</a></li>
			<li class="breadcrumb-item"><a asp-page="/Forum/Subforum/Index" asp-route-id="@Model.Topic.ForumId">@Model.Topic.ForumName</a></li>
			<li class="breadcrumb-item active" aria-current="page">
				<p class="m-0">@(Model.Topic.Title)</p>
			</li>
		</ol>
	</nav>
</fullrow>

<span condition="@(Model.SaveActivity)" id="serverUnixTime" class="d-none">@DateTime.UtcNow.UnixTimestamp()</span>
@section Scripts {
	<script condition="@Model.SaveActivity" src="/js/forum-topic.js"></script>
	<script src="/js/forum-poll.js"></script>
}