@page "{id}"
@using TASVideos.Data.Helpers
@model IndexModel
@{
	ViewData["Title"] = $"{Model.Topic.Title} - Topic {Model.Topic.Id}";
}
@section PageTitle {
	<div class="container mb-2">
		<h1 class="fs-4">@(Model.Topic.Title)</h1>
		<h6 condition="@Model.Topic.IsLocked" class="alert alert-danger py-2 m-0"><i class="fa fa-lock"></i> Locked</h6>
	</div>
}
<partial Name="_ForumHeader" />
<fullrow>
	<partial name="_TopicCrumbs" model="Model.Topic" />
	<partial name="_TopicActionBar" model="Model.Topic" />
	<a condition="ViewData.UserHas(PermissionTo.PostInLockedTopics)
		|| (!Model.Topic.IsLocked && ViewData.UserHas(PermissionTo.CreateForumPosts))"
	   asp-page="/Forum/Posts/Create"
	   asp-route-topicId="@Model.Id"
	   class="btn btn-primary btn-sm float-end">
		<span class="fa fa-plus"></span> Post
	</a>
</fullrow>

@if (Model.Topic.Poll is not null)
{
	<hr />
	<partial name="_Poll" model="Model.Topic.Poll" />
}

@*TODO: WikiPage is generic but the html assumes it will be a submission*@
@if (Model.WikiPage is not null)
{
	<card class="mt-2 mb-2">
		<cardheader>
			Submission Text <small>(<sub-link id="@SubmissionHelper.SubmissionId(Model.WikiPage.PageName)">See Actual Submission</sub-link>)</small>
		</cardheader>
		<cardbody style="max-height: 600px; overflow-y: scroll">
			<wiki-markup markup="@Model.WikiPage.Markup" page-data="Model.WikiPage"></wiki-markup>
		</cardbody>
	</card>
}

<hr class="mt-1" />
<fullrow>
	<partial name="_Pager" model="Model.Topic.Posts" />
</fullrow>

@foreach (var post in Model.Topic.Posts.OrderBy(p => p.CreateTimestamp).ToList())
{
	<partial name="_TopicPost" model="post" />
}

<fullrow class="mt-2">
	<partial name="_TopicActionBar" model="Model.Topic" />
	<partial name="_TopicCrumbs" model="Model.Topic" />
	<a condition="ViewData.UserHas(PermissionTo.PostInLockedTopics)
		|| (!Model.Topic.IsLocked && ViewData.UserHas(PermissionTo.CreateForumPosts))"
	   asp-page="/Forum/Posts/Create"
	   asp-route-topicId="@Model.Id"
	   class="btn btn-primary btn-sm float-end">
		<span class="fa fa-plus"></span> Post
	</a>
</fullrow>
<hr />
<fullrow class="mt-2">
	<partial name="_Pager" model="Model.Topic.Posts" />
</fullrow>
