@page "{id}"
@model MoveModel
@{
	ViewData.SetTitle($"Moving Topic: {Model.Topic.Topic}");
}

@section PageTitle {
	Moving Topic:
	<a asp-page="/Forum/Subforum/Index" asp-route-id="@Model.Topic.NewForum">@Model.Topic.CurrentForum</a> →
	<a asp-page="/Forum/Topics/Index" asp-route-id="@Model.Id">@Model.Topic.Topic</a>
}

<partial Name="_ForumHeader" />
<form client-side-validation="true" method="post">
	<input type="hidden" asp-for="Topic.Topic" />
	<input type="hidden" asp-for="Topic.CurrentForum" />
	<fieldset class="col-lg-6">
		<label asp-for="Topic.NewForum"></label>
		<select asp-for="Topic.NewForum" asp-items="Model.AvailableForums.OrderBy(f => f.Text)"></select>
		<span asp-validation-for="Topic.NewForum"></span>
	</fieldset>
	<form-button-bar>
		<submit-button><i class="fa fa-save"></i> Move</submit-button>
		<cancel-link asp-page="Index" asp-route-id="@Model.Id"></cancel-link>
	</form-button-bar>
</form>
