@page "{id}"
@model PollResultsModel
@{
	ViewData["Title"] = $"Poll Results for {Model.Poll.TopicTitle}";
}
<partial Name="_ForumHeader" />
<a asp-page="/Forum/Topics/Index" asp-route-id="@Model.Poll.TopicId" class="btn btn-secondary"><span class="fa fa-arrow-left"></span> Back</a>
<hr />

<div>
	@Html.Raw(Model.Poll.Question)
</div>
<hr />
<table class="table table-bordered table-striped">
	<tr>
		<th>@Html.DisplayNameFor(m => m.Poll.Votes.First().OptionText)</th>
		<th>@Html.DisplayNameFor(m => m.Poll.Votes.First().UserName)</th>
		<th>@Html.DisplayNameFor(m => m.Poll.Votes.First().CreateTimestamp)</th>
		<th>@Html.DisplayNameFor(m => m.Poll.Votes.First().IpAddress)</th>
		<th permission="ResetPollResults">Reset</th>
	</tr>
	@foreach(var vote in Model.Poll.Votes
		.OrderBy(v => v.Ordinal)
		.ThenBy(v => v.UserName))
	{
		<tr>
			<td>@vote.OptionText</td>
			<td><a asp-page="/Users/Profile" asp-route-userName="@vote.UserName">@vote.UserName</a></td>
			<td><timezone-convert asp-for="@vote.CreateTimestamp" /></td>
			<td>@vote.IpAddress</td>
			<td permission="ResetPollResults">
				<form method="post">
					<input type="hidden" name="userId" value="@vote.UserId" />
					<button
						type="submit"
						class="btn btn-danger"
						asp-page-handler="ResetVote">
						<i class="fa fa-remove"></i>
					</button>
				</form>
			</td>
		</tr>
	}
</table>