@model IEnumerable<SubmissionListViewModel>

<table class="table table-striped table-bordered">
	<tr>
		<th>@Html.DisplayNameFor(m => m.First().Title)</th>
		<th>@Html.DisplayNameFor(m => m.First().Author)</th>
		<th>@Html.DisplayNameFor(m => m.First().Submitted)</th>
		<th>@Html.DisplayNameFor(m => m.First().Status)</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td><a href="/@(item.Id)S">@item.Title</a></td>
			<td>@item.Author</td>
			<td>@item.Submitted</td>
			<td>@item.Status</td>
		</tr>
	}
</table>