@model IEnumerable<TabularMovieListResultModel>
@{
	string flink = ViewData["flink"]?.ToString();
	string footer = ViewData["footer"]?.ToString();

}
<table class="table table-striped">
	@if (!string.IsNullOrWhiteSpace(flink))
	{
		<caption><a href="/@flink">@footer</a></caption>
	}
	<tbody>
		<tr>
			<th>Date</th>
			<th>Game</th>
			<th>Time</th>
			<th>By</th>
		</tr>
		@foreach (var pub in Model)
		{
			<tr>
				<td>@pub.CreateTimeStamp.ToShortDateString()</td>
				<td>@pub.Game</td>
				<td><a href="/@(pub.Id)M">@($"{pub.Time:g}")</a></td>
				<td>@pub.Authors</td>
			</tr>
		}
	</tbody>
</table>
