@page
@using TASVideos.Controllers
@model CreateModel
@{
	ViewData["Title"] = "Create Private Message";
}

<div condition="Model.IsReply" class="card bg-light mb-3">
	<div class="card-header">
		<button type="button" id="quote-btn" class="pull-right btn btn-sm btn-secondary">Quote</button>
		@Model.ReplyingTo.Subject
	</div>
	<div class="card-body">
		<div class="card-title">
			@Model.ReplyingTo.FromUserName <span class="fa fa-arrow-right"></span> @Model.ReplyingTo.ToUserName
		</div>
		<div class="card-text" id="replying-to-text">@Model.ReplyingTo.Text</div>
	</div>
</div>

<form method="POST" id="create-form">
	<row>
		<form-group class="col-lg-6">
			<label asp-for="Subject" class="form-control-label"></label>
			<input type="text" asp-for="Subject" list="search-username-list" class="form-control" autocomplete="off" />
			<span asp-validation-for="Subject" class="text-danger"></span>
			<datalist id="search-username-list"></datalist>
		</form-group>
		<form-group class="col-lg-6">
			<label asp-for="ToUser" class="form-control-label"></label>
			<input type="text" asp-for="ToUser" class="form-control" autocomplete="off" placeholder="@Html.DescriptionFor(m => m.ToUser)" />
			<span asp-validation-for="ToUser" class="text-danger"></span>
		</form-group>
	</row>
	<row>
		<form-group class="col-12">
			<label asp-for="Text" class="form-control-label"></label>
			<textarea asp-for="Text" class="form-control" rows="20"></textarea>
			<span asp-validation-for="Text" class="text-danger"></span>
		</form-group>
	</row>
	<div class="text-center">
		<button type="button" class="btn btn-secondary" id="preview-button">Preview</button>
		<button type="submit" class="btn btn-primary">Save</button>
		<a asp-page="Inbox" class="btn btn-secondary">Cancel</a>
	</div>
</form>

<partial name="_PreviewWindow" model="@((nameof(Model.Text), $"/Forum/{nameof(ForumController.GeneratePreview)}"))" />

<script>
	(function () {
		var searchBox = document.getElementById('@Html.IdFor(m => m.ToUser)');
		searchBox.onkeyup = function () {
			var searchVal = searchBox.value.trim();
			var dataListId = 'search-username-list-' + searchVal;
			if (searchVal.length > 2) {
				var existingList = document.getElementById(dataListId);
				if (existingList) {
					searchBox.setAttribute('list', dataListId);
					return;
				}

				var xmlhttp = new XMLHttpRequest();

				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState === XMLHttpRequest.DONE) {
						if (xmlhttp.status === 200) {
							console.log(JSON.parse(xmlhttp.responseText))
							var newSearchList = document.createElement('datalist');
							newSearchList.id = dataListId;

							var data = JSON.parse(xmlhttp.responseText);

							for (var i in data) {
								if (data.hasOwnProperty(i)) {
									var option = document.createElement('option');
									option.innerHTML = data[i];

									newSearchList.appendChild(option);
								}
							}

							document.getElementById("create-form").appendChild(newSearchList);
							searchBox.setAttribute('list', dataListId);
						}
					}
				};

				xmlhttp.open("GET",
					"/User/@(nameof(UserController.SearchUserName))?partial=" + searchVal,
					true);
				xmlhttp.send();
			}
		};

		if (document.getElementById('quote-btn')) {
			document.getElementById('quote-btn').onclick = function () {
				var text = document.getElementById('replying-to-text').innerHTML;
				document.getElementById('@Html.IdFor(m => m.Text)').innerHTML = '[quote]' + text + '[/quote]';
			};
		}
	})();
</script>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
