@page
@model CreateModel
@{
	ViewData["Title"] = "Create Private Message";
}

<div condition="Model.IsReply" class="card bg-light mb-3">
	<div class="card-header">
		<button type="button" id="quote-btn" class="float-end btn btn-sm btn-secondary">Quote</button>
		@Model.ReplyingTo!.Subject
	</div>
	<div class="card-body">
		<div class="card-title">
			@Model.ReplyingTo.FromUserName <span class="fa fa-arrow-right"></span> @Model.ReplyingTo.ToUserName
		</div>
		<div class="card-text" id="replying-to-text">@Model.ReplyingTo.Text</div>
	</div>
</div>

<form method="POST" id="create-form">
	<row>
		<form-group class="col-lg-6">
			<label asp-for="Subject" class="form-control-label"></label>
			<input type="text" asp-for="Subject" list="search-username-list" class="form-control" autocomplete="off" />
			<span asp-validation-for="Subject" class="text-danger"></span>
			<datalist id="search-username-list"></datalist>
		</form-group>
		<form-group class="col-lg-6">
			<label asp-for="ToUser" class="form-control-label"></label>
			<input type="text" asp-for="ToUser" class="form-control" autocomplete="off" placeholder="@Html.DescriptionFor(m => m.ToUser)" />
			<span asp-validation-for="ToUser" class="text-danger"></span>
		</form-group>
	</row>
	<fullrow>
		<partial name="Forum/_CreatePostHelper" model="@("Text")" />
	</fullrow>
	<row>
		<form-group class="col-12">
			<label asp-for="Text" class="form-control-label"></label>
			<textarea asp-for="Text" class="form-control" rows="20"></textarea>
			<span asp-validation-for="Text" class="text-danger"></span>
		</form-group>
	</row>
	<div class="text-center">
		<button type="button" class="btn btn-secondary" id="preview-button"><i class="fa fa-eye"></i> Preview</button>
		<button type="submit" disabled class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
		<a asp-page="Inbox" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
	</div>
</form>

<partial name="_PreviewWindow" model="@((nameof(Model.Text), "/Forum/Preview"))" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/user-search.js"></script>
	<script>
		searchUsers("@Html.IdFor(m => m.ToUser)");
		if (document.getElementById('quote-btn')) {
			document.getElementById('quote-btn').onclick = function () {
				const text = document.getElementById('replying-to-text').innerHTML;
				document.getElementById('@Html.IdFor(m => m.Text)').innerHTML = `[quote]${text}[/quote]`;
			};
		}
	</script>
}
