@page "{id}"
@model IndexModel
@{
	ViewData["Title"] = $"Message from {Model.PrivateMessage.FromUserName}";
}

<div class="mb-2">
	<a asp-page="Inbox" class="btn btn-secondary"><span class="fa fa-arrow-left"></span>Inbox</a>
	<a condition="Model.PrivateMessage.CanReply" asp-page="Create" asp-route-replyTo="@Model.Id" class="btn btn-primary">Reply</a>
</div>
<div>
	<profile-link username="@Model.PrivateMessage.FromUserName"></profile-link> <span class="fa fa-arrow-right"></span> @Model.PrivateMessage.ToUserName
	<small class="float-end">
		@Model.PrivateMessage.SentOn
	</small>
</div>
<div class="card">
	<div class="card-header">
		<h4>@Model.PrivateMessage.Subject</h4>
	</div>
	<div class="card-body">
		<forum-markup markup=@Model.PrivateMessage.Text enable-html=@Model.PrivateMessage.EnableHtml enable-bb-code=@Model.PrivateMessage.EnableBbCode></forum-markup>
	</div>
</div>