@page "{id}"
@model IndexModel
@{
	ViewData.SetTitle($"Message from {Model.PrivateMessage.FromUserName}");
}

<top-button-bar>
	<back-link asp-page="Inbox"></back-link>
	<a condition="Model.PrivateMessage.CanReply" asp-page="Create" asp-route-replyTo="@Model.Id" class="btn btn-primary">Reply</a>
</top-button-bar>
<div>
	<profile-link username="@Model.PrivateMessage.FromUserName"></profile-link> <span class="fa fa-arrow-right"></span> @Model.PrivateMessage.ToUserName
	<small class="float-end">
		@Model.PrivateMessage.SentOn
	</small>
</div>
<card>
	<card-header>
		<h4>@Model.PrivateMessage.Subject</h4>
	</card-header>
	<card-body>
		<forum-markup markup="@Model.PrivateMessage.Text" enable-html="@Model.PrivateMessage.EnableHtml" enable-bb-code="@Model.PrivateMessage.EnableBbCode"></forum-markup>
	</card-body>
</card>