@page
@model SaveboxModel
@{
	ViewData.SetTitle($"Saved messages for {User.Name()}");
}

<a asp-page="Inbox" class="btn btn-secondary mb-1"><span class="fa fa-arrow-left"></span> Inbox</a>
<table class="table table-bordered table-striped">
	<tr>
		<th>Subject</th>
		<th>From</th>
		<th>To</th>
		<th>Date</th>
		<th>Actions</th>
	</tr>
	@foreach (var entry in Model.SaveBox
		.OrderBy(m => m.To == User.Name())
		.ThenByDescending(m => m.SendDate))
	{
		<tr>
			<td>
				<a asp-page="Index" asp-route-id="@entry.Id">@entry.Subject</a>
			</td>
			<td><profile-link username="@entry.From"></profile-link></td>
			<td><profile-link username="@entry.To"></profile-link></td>
			<td>@entry.SendDate</td>
			<td>
				<delete-button
					asp-href="/Messages/InBox/@entry.Id/Delete"
					warning-message="Are you sure you want to remove this message?"
					class="btn-sm">
					Delete
				</delete-button>
			</td>
		</tr>
	}
</table>
