@page "{id?}/{handler?}"
@model SentboxModel
@{
	ViewData.SetTitle($"Saved messages for {User.Name()}");
}

<a asp-page="Inbox" class="btn btn-secondary mb-1"><span class="fa fa-arrow-left"></span> Inbox</a>
<standard-table>
	<tr>
		<th>Subject</th>
		<th>To</th>
		<th>Date</th>
		<th>Actions</th>
	</tr>
	@foreach (var entry in Model.SentBox
		.OrderBy(m => m.IsRead)
		.ThenByDescending(m => m.SendDate))
	{
		<tr>
			<td>
				<span Condition="@(!entry.IsRead)" class="fa-regular fa-paper-plane" title="User has not yet read"></span>
				<a asp-page="Index" asp-route-id="@entry.Id">@entry.Subject</a>
			</td>
			<td><profile-link username="@entry.To"></profile-link></td>
			<td>@entry.SendDate</td>
			<td>
				<delete-button condition="!entry.IsRead"
					asp-href="/Messages/SentBox/@entry.Id/Delete"
					warning-message="Are you sure you want to remove this message?"
					class="btn-sm">
						Delete
				</delete-button>
			</td>
		</tr>
	}
</standard-table>
