@page "{id}"
@model IndexModel
@{
	ViewData["Title"] = $"{Model.Game.SystemCode} - {Model.Game.DisplayName}";
	string wiki = LinkConstants.GameWikiPage + Model.Id;
	bool canEdit = WikiHelper.UserCanEditWikiPage(wiki, User.Identity.Name, (IEnumerable<PermissionTo>)ViewData["UserPermissions"]);
}

<card>
	<cardheader>
		<span class="float-right">
			<a condition="@canEdit" asp-page="/Wiki/Edit" asp-route-path="@wiki" class="btn btn-primary">Edit</a>
		</span>
		<h4>Description</h4>
	</cardheader>
	<cardbody>
		<div class="card-text">
			@await Component.RenderWiki(wiki)
		</div>
	</cardbody>
</card>
<hr />
<a permission="CatalogMovies" asp-page="/Games/Edit" asp-route-id="@Model.Game.Id" asp-route-returnUrl="@PageContext.HttpContext.ReturnUrl()" class="pull-right btn btn-primary">Edit</a>
<row>
	<column md="6">
		<ul>
			<li>Platform: @Model.Game.SystemCode</li>
			<li>Abbreviation: @Model.Game.Abbreviation</li>
			<li>DisplayName: @Model.Game.DisplayName</li>
			<li>Good tools name: @Model.Game.GoodName</li>
			<li>Game resources: <a href="/@Model.Game.GameResourcesPage">@Model.Game.GameResourcesPage</a></li>
		</ul>

	</column>
	<column md="6">
		<label>Genre:</label>
		<ul>
			@foreach (var genre in Model.Game.Genres)
			{
				<li>@genre</li>
			}
		</ul>
	</column>
</row>
