@page "{id}"
@model IndexModel
@{
	ViewData["Title"] = $"{Model.Game.SystemCode} - {Model.Game.DisplayName}";
	string wiki = LinkConstants.GameWikiPage + Model.Id;
	bool canEdit = WikiHelper.UserCanEditWikiPage(wiki, User.Name(), (IEnumerable<PermissionTo>)ViewData["UserPermissions"]);
}

<div class="float-md-end text-center mb-2" condition="@(!string.IsNullOrWhiteSpace(Model.Game.ScreenshotUrl) || Model.Movies.Any())">
	<img class="img-fluid" src="@(!string.IsNullOrWhiteSpace(Model.Game.ScreenshotUrl) ? Model.Game.ScreenshotUrl : $"{HttpContext.Request.ToBaseUrl()}/media/{Model.Movies.First().Screenshot.Path}")" />
</div>
<row>
	<div class="col-12 col-xl-6 mb-2">
		<card>
			<cardheader>
				<span class="float-end">
					<a condition="@canEdit" asp-page="/Wiki/Edit" asp-route-path="@wiki" asp-route-returnUrl="@HttpContext.CurrentPathToReturnUrl()" class="btn btn-primary border border-warning"><i class="fa fa-pencil"></i> Edit</a>
				</span>
				<h4>Description</h4>
			</cardheader>
			<cardbody>
				<div class="card-text clearfix">
					@await Component.RenderWiki(wiki)
				</div>
			</cardbody>
		</card>
	</div>
	<div class="col-12 col-xl-6">
		<card>
			<cardheader>
				<a permission="CatalogMovies" asp-page="/Games/Edit" asp-route-id="@Model.Game.Id" asp-route-returnUrl="@HttpContext.CurrentPathToReturnUrl()" class="float-end btn btn-primary border border-warning"><i class="fa fa-pencil"></i> Edit</a>
				<h4>Details</h4>
			</cardheader>
			<cardbody>
				<row>
					<column md="6">
						<ul>
							<li>Platform: @Model.Game.SystemCode</li>
							<li>Abbreviation: @Model.Game.Abbreviation</li>
							<li>Display Name: @Model.Game.DisplayName</li>
							<li>GoodTools Name: @Model.Game.GoodName</li>
							<li>Game Resources: <a href="/@Model.Game.GameResourcesPage">@Model.Game.GameResourcesPage</a></li>
							<li condition="Model.Game.GameGroups.Any()">
								Game Groups:<br />
								<ul>
									@foreach (var group in Model.Game.GameGroups)
									{
										<li>
											<a asp-page="/GameGroups/Index" asp-route-id="@group.Id">
												@group.Name
											</a>
										</li>
									}
								</ul>
							</li>
						</ul>
					</column>
					<column md="6">
						<label>Genres:</label>
						<ul>
							@foreach (var genre in Model.Game.Genres)
							{
								<li>@genre</li>
							}
						</ul>
					</column>
				</row>
			</cardbody>
		</card>
	</div>
</row>
<hr style="clear: right;"/>
<h3>Publications</h3>
<div condition="!Model.Movies.Any()">
	None
</div>
<div condition="Model.Movies.Any()">
	<div class="">
		<ul class="nav nav-tabs" role="tablist">
			@foreach (var movie in Model.Movies)
			{
				<li class="nav-item">
					<a class="nav-link@(movie==Model.Movies.First() ? " active" : "")@(string.IsNullOrWhiteSpace(movie.Branch) ? "" : " fw-bold")" href="#tab-@(movie.Id)M" data-bs-toggle="tab">@(string.IsNullOrWhiteSpace(movie.Branch) ? "(baseline)" : $@"""{movie.Branch}""")</a>
				</li>
			}
		</ul>
	</div>
	<div class="tab-content">
		@foreach (var movie in Model.Movies)
		{
			<div id="tab-@(movie.Id)M" class="tab-pane@(movie==Model.Movies.First() ? " active" : " fade")">
				<partial name="Components/DisplayMiniMovie/Default" model="movie" />
			</div>
		}
	</div>
	<small condition="@Model.Movies.Any(m => string.IsNullOrWhiteSpace(m.Branch))" class="text-muted">The baseline tab shows the default movie beating the game as fast as possible without any special conditions.</small>
</div>
<hr />
<row>
	<column md="6">
		<ul>
			<li>
				<a href="/Movies-List-@(Model.Game.Id)G">
					@Model.Game.PublicationCount Publications
				</a>
				<span condition="Model.Game.ObsoletePublicationCount > 0">
					(<a href="/Movies-List-@(Model.Game.Id)G-Obs">
						@(Model.Game.PublicationCount + Model.Game.ObsoletePublicationCount) Total
					</a>)
				</span>
			</li>
			<li>
				<a asp-page="PublicationHistory" asp-route-id="@Model.Game.Id">Publication History</a>
			</li>
			<li>
				<a href="/Subs-List?GameId=@(Model.Game.Id)">
					@Model.Game.SubmissionCount Submissions
				</a>
			</li>
			<li>
				<a href="/UserFiles/Game/@(Model.Game.Id)">
					@Model.Game.UserFilesCount User Files
				</a>
			</li>
		</ul>
	</column>
</row>
<hr />
<h4>
	Game Versions
	<a permission="CatalogMovies"
	   asp-page="/Games/Roms/List"
	   asp-route-gameId="@Model.Game.Id"
	   asp-route-returnUrl="@HttpContext.CurrentPathToReturnUrl()"
	   class="float-end btn btn-primary border border-warning"><i class="fa fa-pencil"></i> Edit</a>
</h4>

<alert type="warning" condition="!Model.Game.Roms.Any()" class="mt-3">
	No records.
</alert>
<div condition="Model.Game.Roms.Any()" class="table-container">
	<table class="table table-striped">
		<tr>
			<th>Type</th>
			<th>Name</th>
			<th>Region</th>
			<th>Version</th>
			<th>Sha1</th>
			<th>Md5</th>
		</tr>
		@foreach (var rom in Model.Game.Roms)
		{
			<tr>
				<td>@rom.Type.ToString()</td>
				<td>@rom.Name</td>
				<td>@rom.Region</td>
				<td>@rom.Version</td>
				<td>@rom.Sha1</td>
				<td>@rom.Md5</td>
			</tr>
		}
	</table>
</div>
