@page "{id}"
@model PublicationHistoryModel
@{
	ViewData["Title"] = $"Publication History of {Model.Game.DisplayName}";
	ViewData["Highlight"] = Model.Highlight;
	ViewData["HighlightClass"] = "font-weight-bold font-italic border border-info p-1";
}
@section PageTitle {
	<h1>@ViewData["Title"]</h1>
}

@foreach (var node in Model.History.Branches.OrderBy(b => string.IsNullOrWhiteSpace(b.Branch)))
{
	var highlight = node.Id == Model.Highlight ? ViewData["HighlightClass"] : "";

	<label>Current: <strong>@node.Branch</strong></label><br />
	<pub-link class="@highlight" id="@node.Id">@node.Title</pub-link>
	@foreach (var obsoletion in node.Obsoletes)
	{
		<ul>
			<li style="text-decoration: line-through">
				<partial name="_HistoryEntry" model="obsoletion" view-data="ViewData" />
			</li>
		</ul>
	}
	<br /><br />
}
