@page "{id}"
@model TASVideos.Pages.Games.PublicationHistoryModel
@{
	ViewData["Title"] = $"Publication History of {Model.Game.DisplayName}";
}
@section PageTitle {
	<h1>@ViewData["Title"]</h1>
}

<h4>
	Publication History for <a asp-page="/Game/Index" asp-route-id="@Model.Id">@Model.Game.DisplayName</a>
</h4>
<br />
@foreach (var node in Model.History.Branches.OrderBy(b => string.IsNullOrWhiteSpace(b.Branch)))
{
	<label>Current: <strong>@node.Branch:</strong></label><br />
	<pub-link id="@node.Id">@node.Title</pub-link>
	@foreach (var obsoletion in node.Obsoletes)
	{
		<ul>
			<li style="text-decoration: line-through">
				<partial name="_HistoryEntry" model="obsoletion" />
			</li>
		</ul>
	}
	<br /><br />
}
