<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TASVideos</title>
	<script>
		// ReSharper disable once NativeTypePrototypeExtending

		// Polyfills
		(function () {
			if (typeof NodeList.prototype.forEach !== 'function') {
				NodeList.prototype.forEach = Array.prototype.forEach;
			}

			if (typeof Element.prototype.remove !== 'function') {
				Element.prototype.remove = function () {
					if (this.parentNode) {
						this.parentNode.removeChild(this);
					}
				};
			}

			if (typeof Array.prototype.includes !== 'function') {
				Array.prototype.includes = function (searchElement, fromIndex) {
					// 1. Let O be ? ToObject(this value).
					var o = Object(this);

					// 2. Let len be ? ToLength(? Get(O, "length")).
					var len = o.length >>> 0;

					// 3. If len is 0, return false.
					if (len === 0) {
						return false;
					}

					// 4. Let n be ? ToInteger(fromIndex).
					//    (If fromIndex is undefined, this step produces the value 0.)
					var n = fromIndex | 0;

					// 5. If n ≥ 0, then
					//  a. Let k be n.
					// 6. Else n < 0,
					//  a. Let k be len + n.
					//  b. If k < 0, let k be 0.
					var k = Math.max(n >= 0 ? n : len - Math.abs(n), 0);

					function sameValueZero(x, y) {
						return x === y || (typeof x === 'number' && typeof y === 'number' && isNaN(x) && isNaN(y));
					}

					// 7. Repeat, while k < len
					while (k < len) {
						// a. Let elementK be the result of ? Get(O, ! ToString(k)).
						// b. If SameValueZero(searchElement, elementK) is true, return true.
						if (sameValueZero(o[k], searchElement)) {
							return true;
						}
						// c. Increase k by 1. 
						k++;
					}

					// 8. Return false
					return false;
				}
			};
		})();

		// Global browser detection
		var isIE = function() {
			if (window.navigator.userAgent.indexOf('MSIE') > 0 || window.navigator.userAgent.indexOf('Trident') > 0) {
				return true;
			} else {
				return false;
			}
		}

		if (typeof NodeList.toArray !== 'function') {
			NodeList.prototype.toArray = function() {
				return Array.prototype.slice.call(this);
			}
		}
	</script>
	<environment include="Development">
		<link rel="shortcut icon" href="http://tasvideos.org/css/.ico" type="image/x-icon">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body>
	<nav id="banner" class="navbar navbar-inverse">
		<div id="mantra">
			<a id="brand" asp-action="Index" asp-controller="Home">TASVideos</a>
			<div id="mantra1">Tool-assisted game movies</div>
			<div id="mantra2">When human skills are just not enough</div>
		</div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="@(ViewContext.Controller() == "Home" ? "active" : "")"><a asp-action="Index" asp-controller="Home">Home</a></li>
					@if (ViewData.UserHasAnyPermission(new[] {PermissionTo.ViewUsers, PermissionTo.EditUsers, PermissionTo.EditRoles}))
					{
						<li class="dropdown @(ViewContext.Controller() == "Roles" || ViewContext.Controller() == "User" || ViewContext.Controller() == "Permissions" ? "active" : "")">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
							<ul class="dropdown-menu">
								@if (ViewData.UserHasAnyPermission(new[] {PermissionTo.ViewUsers, PermissionTo.EditUsers}))
								{
									<li><a asp-controller="User" asp-action="List">Users</a></li>
								}

								<li><a asp-controller="Roles" asp-action="Index">Roles</a></li>
								<li><a asp-controller="Permissions" asp-action="Index">Permissions</a></li>
							</ul>
						</li>
					}
				</ul>
				@await Html.PartialAsync("_LoginPartial")
			</div>
		</div>
	</nav>
	<div class="container">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2017 - TASVideos v@(ViewData["Version"])</p>
		</footer>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>
	@RenderSection("Scripts", required: false)
</body>
</html>
