<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TASVideos</title>

	<environment include="Development,Development-NoRecreate,Development-Import,Demo">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css"/>
	</environment>
	<environment exclude="Development,Development-NoRecreate,Development-Import,Demo">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/diffview.css/site.min.css" asp-append-version="true" />
	</environment>
	<environment include="Development,Development-NoRecreate,Development-Import,Demo">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development,Development-NoRecreate,Development-Import,Demo">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	<link href="~/css/prism.css" rel="stylesheet" />
	<style>
		.error-marker {
			position: relative;
			border: 2px solid #c00;
		}

		.error-marker span {
			position: absolute;
			background-color: white;
			padding: 4px;
			border: 1px solid #c00;
			color: #c00;
			bottom: 13px;
		}
	</style>
</head>
<body>
	<nav id="banner" class="navbar navbar-expand-md navbar-dark mb-4">
		<div id="mantra">
			<a id="brand" asp-action="Index" asp-controller="Home">TASVideos</a>
			<div id="mantra1">Tool-assisted game movies</div>
			<div id="mantra2">When human skills are just not enough</div>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="container">
				<div class="d-lg-flex">
					<div class="mr-auto">
						@await Html.PartialAsync("_NavBarPartial")
					</div>
					<div>
						@await Html.PartialAsync("_LoginPartial")
					</div>
				</div>
			</div>
		</div>
	</nav>
	@if (IsSectionDefined("PageTitle"))
	{
		@RenderSection("PageTitle")
	}
	else
	{
		<h1>@ViewData["Title"]</h1>
	}

	<div class="container">
		@RenderBody()
		<hr/>
		<footer>
			<p>&copy; @DateTime.UtcNow.Year - TASVideos v@(ViewData["Version"])</p>
		</footer>
	</div>
	@RenderSection("Scripts", required: false)
	<script src="~/js/prism.js"></script>
</body>
</html>
