@functions { 
	string Active(string menuName)
	{
		string active = "active";
		if (menuName == "Home" && ViewContext.Controller() == "Home")
		{
			return active;
		}

		if (menuName == "Submissions" && ViewContext.Controller() == "Submission")
		{
			return active;
		}

		if (menuName == "Administration" &&
			(ViewContext.Controller() == "Roles"
				|| ViewContext.Controller() == "User"
				|| ViewContext.Controller() == "Permissions"))
		{
			return active;

		}

		if (menuName == (string)ViewData["ActiveTab"])
		{
			return active;
		}

		if (menuName == (string)TempData["ActiveTab"])
		{
			return active;
		}

		return "";
	}
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TASVideos</title>

	<environment include="Development">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css"/>
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/diffview.css/site.min.css" asp-append-version="true" />
	</environment>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	<link href="~/css/prism.css" rel="stylesheet" />
	<style>
		.error-marker {
			position: relative;
			border: 2px solid #c00;
		}

		.error-marker span {
			position: absolute;
			background-color: white;
			padding: 4px;
			border: 1px solid #c00;
			color: #c00;
			bottom: 13px;
		}
	</style>
</head>
<body>
	<nav id="banner" class="navbar navbar-expand-md navbar-dark mb-4">
		<div id="mantra">
			<a id="brand" asp-action="Index" asp-controller="Home">TASVideos</a>
			<div id="mantra1">Tool-assisted game movies</div>
			<div id="mantra2">When human skills are just not enough</div>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item @(Active("Home"))">
					<a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
				</li>
				<li class="nav-item @(Active("Movies"))">
					<a class="nav-link" href="/Movies">Movies</a>
				</li>
				<li class="nav-item @Active("Game Resources")">
					<a class="nav-link" href="/GameResources">Game Resources</a>
				</li>
				<li class="nav-item @(Active("Articles"))">
					<a class="nav-link" href="/ArticleIndex">Articles</a>
				</li>
				<li class="nav-item @(Active("Emulators"))">
					<a class="nav-link" href="/EmulatorResources">Emulators</a>
				</li>
				<li class="nav-item @(Active("Submissions"))">
					<a class="nav-link" asp-controller="Submission" asp-action="Index">Submissions</a>
				</li>
				<li class="nav-item @(Active("News"))">
					<a class="nav-link" href="/Submissions">News</a>
				</li>
				@if (ViewData.UserHasAnyPermission(new[] {PermissionTo.ViewUsers, PermissionTo.EditUsers, PermissionTo.EditRoles}))
				{
					<li class="nav-item dropdown @(Active("Administration"))">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
						<div class="dropdown-menu">
							@if (ViewData.UserHasAnyPermission(new[] {PermissionTo.ViewUsers, PermissionTo.EditUsers}))
							{
								<a class="dropdown-item" asp-controller="User" asp-action="List">Users</a>
							}
							<a class="dropdown-item" asp-controller="Roles" asp-action="Index">Roles</a>
							<a class="dropdown-item" asp-controller="Permissions" asp-action="Index">Permissions</a>
						</div>
					</li>
				}
				<li class="nav-item dropdown @(Active("Wiki"))">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Wiki<span class="caret"></span></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/RecentChanges">Recent Changes</a>
						<a class="dropdown-item" href="/WikiOrphans">Orphans</a>
						<a class="dropdown-item" href="/TODO">To Do</a>
						<a class="dropdown-item" href="/System">System Pages</a>
					</div>
				</li>
			</ul>
			@await Html.PartialAsync("_LoginPartial")
		</div>
	</nav>
	@if (IsSectionDefined("PageTitle"))
	{
		@RenderSection("PageTitle")
	}
	else
	{
		<h1>@ViewData["Title"]</h1>
	}

	<div class="container">
		@RenderBody()
		<hr/>
		<footer>
			<p>&copy; 2017 - TASVideos v@(ViewData["Version"])</p>
		</footer>
	</div>
	@RenderSection("Scripts", required: false)
	<script src="~/js/prism.js"></script>
</body>
</html>
