@model WikiPage
@{

	bool canEdit = WikiHelper.UserCanEditWikiPage(Model.PageName, User.Identity.Name, (IEnumerable<PermissionTo>)ViewData["UserPermissions"]);
}

@if (Model.IsSystemPage())
{
	@await Component.SystemPageFooter(Model)
}
else if (Model.IsGameResourcesPage())
{
	@await Component.GameResourcesFooter(Model)
}
else if (Model.IsHomePage())
{
	@await Component.HomePageFooter(Model)
}
else
{
	@await Component.ListSubPages(Model)
}

<hr />
<small>
	@Model.PageName last edited by @Model.LastUpdateUserName on @Model.LastUpdateTimeStamp
</small>
<br />

<a condition="@canEdit" class="btn btn-primary btn-sm" asp-controller="Wiki" asp-action="Edit" asp-route-path="@Model.PageName">Edit</a>
<a condition="@ViewData.UserHasPermission(PermissionTo.MoveWikiPages)" class="btn btn-warning btn-sm" asp-controller="Wiki" asp-action="MovePage" asp-route-path="@Model.PageName">Move</a>
<delete-button condition="@ViewData.UserHasPermission(PermissionTo.DeleteWikiPages)" asp-href="@Url.Action("DeletePage", "Wiki", new { path = Model.PageName })" warning-message="Are you sure you want to delete this page?" class="btn btn-danger btn-sm">Delete</delete-button>
<a class="btn btn-info btn-sm" asp-controller="Wiki" asp-action="PageHistory" asp-route-path="@Model.PageName">Page History</a>
<a class="btn btn-info btn-sm" asp-controller="Wiki" asp-action="Diff" asp-route-path="@Model.PageName">Last diff</a>
<a class="btn btn-info btn-sm" asp-controller="Wiki" asp-action="Referrers" asp-route-path="@Model.PageName">List referrers</a>
<a class="btn btn-info btn-sm" asp-controller="Wiki" asp-action="ViewSource" asp-route-path="@Model.PageName">View Source</a>
