@model TASVideos.Data.Entity.Forum.ForumCategory

<div class="card mb-2">
	<div class="card-header">
		<h4>@Model.Title</h4>
		@if (!string.IsNullOrWhiteSpace(Model.Description))
		{
			<div class="text-small">
				@Html.Raw(Model.Description)
			</div>
		}
	</div>
	<div class="card-body">
		@foreach (var forum in Model.Forums
			.OrderBy(f => f.Ordinal)
			.Where(f => ViewData.UserHasPermission(PermissionTo.SeeRestrictedForums) || !f.Restricted))
		{
			<strong><a asp-action="Subforum" asp-route-id="@forum.Id">@forum.Name</a></strong>
			<div class="mb-2 pl-3">
				<small>
					@Html.Raw(forum.Description)
				</small>
			</div>
		}
	</div>
</div>