@model ForumInboxModel
@{
	ViewData["Title"] = $"Private messages for {Model.UserName}";
}

<table>
	<tr>
		<th>@Html.DisplayNameFor(m => m.Inbox.First().Subject)</th>
		<th>@Html.DisplayNameFor(m => m.Inbox.First().FromUser)</th>
		<th>@Html.DisplayNameFor(m => m.Inbox.First().SendDate)</th>
	</tr>
	@foreach (var entry in Model.Inbox.OrderByDescending(m => m.SendDate))
	{
		<tr>
			<td><a asp-action="PrivateMessage" asp-route-id="@entry.Id">@entry.Subject</a></td>
			<td>@entry.FromUser</td>
			<td>@entry.SendDate</td>
		</tr>
	}
</table>
