@model MoveTopicModel
@{
	ViewData["Title"] = $"Moving Topic: {Model.TopicTitle}";
}
<partial Name="_ForumHeader" />
<h4>Moving Topic: <a asp-action="SubForum" asp-route-id="@Model.ForumId">@Model.ForumName</a> -> <a asp-action="Topic" asp-route-id="@Model.TopicId">@Model.TopicTitle</a></h4>
<hr />
<form asp-action="MoveTopic" form-method="POST">
	<input type="hidden" asp-for="TopicId" />
	<input type="hidden" asp-for="TopicTitle" />
	<input type="hidden" asp-for="ForumName" />
	<form-group class="col-lg-6">
		<label asp-for="ForumId" class="form-control-label"></label>
		<select asp-for="ForumId" asp-items="Model.AvailableForums.OrderBy(f => f.Text)" class="form-control"></select>
		<span asp-validation-for="ForumId" class="text-danger"></span>
	</form-group>
	<div class="text-center">
		<button type="submit" class="btn btn-primary">Move</button>
		<a asp-action="Topic" asp-route-id="@Model.TopicId" class="btn btn-secondary">Cancel</a>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
