@model SplitTopicModel
@{
	ViewData["Title"] = $"Splitting Topic: {Model.Title}";
}
<partial Name="_ForumHeader" />
<h4>Splitting Topic: <a asp-action="SubForum" asp-route-id="@Model.ForumId">@Model.ForumName</a> -> <a asp-action="Topic" asp-route-id="@Model.Id">@Model.Title</a></h4>
<hr />
<form asp-action="SplitTopic" form-method="POST">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="ForumName" />
	<input type="hidden" asp-for="ForumId" />
	<input type="hidden" asp-for="Title" />
	<form-group class="col-lg-6">
		<label asp-for="SplitToForumId" class="form-control-label"></label>
		<select asp-for="SplitToForumId" asp-items="Model.AvailableForums.OrderBy(f => f.Text)" class="form-control"></select>
		<span asp-validation-for="SplitToForumId" class="text-danger"></span>
	</form-group>
	<form-group class="col-lg-6">
		<label asp-for="SplitTopicName" class="form-control-label"></label>
		<input type="text" asp-for="SplitTopicName" class="form-control" />
		<span asp-validation-for="SplitTopicName" class="text-danger"></span>
	</form-group>
	<div class="border border-info" style="max-height: 500px; overflow-y: auto;">
		<label asp-for="PostToSplitId" class="form-control-label"></label>
		<span asp-validation-for="PostToSplitId" class="text-danger"></span>
		<small>
			@foreach (var post in Model.Posts.OrderBy(p => p.PostCreateTimeStamp))
			{
				<row>
					<div class="col-md-1">
						<input class="m-2 custom-radio" type="radio" value="@post.Id" name="@Html.NameFor(m =>m.PostToSplitId)" id="post_@post.Id" />
					</div>
					<div class="col-md-11">
						<card>
							<cardheader>
								<row>
									<div class="col-4 border-right">
										@post.PosterName
									</div>
									<div class="col-8 pt-0 pb-0">
										@post.Subject
									</div>
								</row>
							</cardheader>
							<cardbody>
								<row>
									<div class="col-4">
										<img src="@post.PosterAvatar" />
									</div>
									<div class="col-8">
										@Html.Raw(post.Text)
									</div>
								</row>
							</cardbody>
						</card>
					</div>
				</row>
			}
		</small>
	</div>
	<div class="text-center">
		<button type="submit" class="btn btn-primary">Split</button>
		<a asp-action="Topic" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
